
#cartBody{
  /* background-color: #e26127; */
  margin-top: 3%;
  padding: 2%;
  min-height: 350px;
}
#cartLeftPart{
  background-color: white;
  padding: 1%;
  width: 60%;
  height: 20%;
  /* border-radius: 5px; */
  /* float: left; */
}
#cartRigtPart{
  width: 30%;
  /* background-color: #ccc; */
}
#cartBookdataD{
  padding-top: 1%;
  /* border-bottom:  */
}
#mycartP{
  color: white;
  background-color: rgb(0,186,242);
  text-align: center;
  font-size: 140%;
  width: 60%;
  /* margin-left: -1.8%;
  margin-top: -1.8%; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#cartBookinfoD{
  /* background-color: #e23a3a; */
  /* height: 170px; */
  height: 12vw;
  margin-left: 18%;
  display: flex;
}
#cartBookTitleP{
  /* background-color: chartreuse; */
  width: 80%;

}
#cartBookCondP{
  font-size: 80%;
}
#cartbookDonerS{
  color: #e75b24;
}
#Bookinfopart1{
  /* background-color: darkcyan; */
  float: left;
  width:60%;
  margin-left: 1%;
}
#Bookinfopart2{
  /* background-color: beige; */
  /* float: right; */
  /* width: 40%; */
  margin-left: auto;
  margin-right: 0%;
}
#cartBookpriceS{
  /* background-color: aqua; */
  /* position: absolute; */
  float: right;
  /* top:1%; */
  font-size: 110%;
  width: 100%;
}
#cartBookShippingS{
font-size: 80%;
/* margin-left: 6%; */
/* float: right; */
margin-right: 2%;
}
#CartchargeslineS{
  font-size: 80%;
  margin-left: 3%;
}
#cartBkShipChargeS{
  font-size: 140%;
  float: right;
  margin-top: -4%;
  margin-right: 17%;
}
#cartBookPrice{
  text-decoration: line-through;
}
#cartFree{
  color: #e75b24;
}
#cartRfirst{
  padding: 1.3% 3%;
}
#cartRfirstP{
  color: white;
  background-color: rgb(0,186,242);
  text-align: center;
  font-size: 140%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* font-weight: bold; */
}
#cartShowWallet{
  background-color: #aaaaaa;
  color: white;
  display: flex;
  /* font-size: 1.1vw; */
}
#CartWalletCheckBox{
  width: 3vw;
  height: 1.3vw;
  margin-top: 1%;
  margin-bottom: 0%;
  flex: 1;
}
.WalletSpanCart{
  flex:1;
  /* margin-left: 10%; */
}
#CartWalletAdd{
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-align: center;
  /* padding-left: 2%; */
}
#CartWalletAdd:hover{
  color: #524d4d;
}
#cartRlistD{
  /* background-color: #ccc; */
  width: 70%;
}
#cartRlistCost{
  
  /* background-color: aliceblue; */
  /* margin-top: -7%;
  float: right;
  margin-right: 10%; */
}
#cartRprice{
  float: right; /*

 position: absolute;

 top: 50%;

left: 80%; */
}
#cartRlist{
  /* background-color: #666666; */
  padding: 1% 1% 0% 1%;
  display: flex;
}
#cartRfirst hr{
  margin-bottom: 0%;
}
#cartRigtoPart{
  /* z-index: 8; */
  background-color:white;
  position: fixed;
  float: right;
  width: 37vw;
  /* height: 34vw; */
  top:5vw;
  margin-left: 59%;
  border-radius: 5px;
  font-size: 95%;
  /* line-height: 0px; */
  z-index: 4;
}
#cartDelete{
  float:right;
  margin-right: 13%;
  cursor: pointer;
}
#CartRsecondPart{
  /* background-color: rgb(0,186,242); */
}
#CartPayType{
  
  list-style: none;
  display: flex;
  padding: 1.4% 0%;
  padding-left: 10%;
  color: white;
  margin-bottom: 0px;
}
#CartPayType li{
  /* display: inline;   */
  flex: 1;
  padding-right: 6%;
}
#CartPayType li span{
  font-size: 111%;
}
#CartPayType li input{
    width: 10%;
    padding-right: 1%;
    
}
#CartPayTypeD{
  padding: 0% 0%;
  background-color: rgb(0,186,242);
}
#deliveredBy{
  color: #e56f42;
  font-weight: bold;
  text-align: center;
  margin-right: 14%;
}
#cartCoupon{
  /* padding: 0% 2%; */
  text-align: center;
  font-size: 90%;
}
#cartLastpart{
  padding: 0% 5%;
  margin-bottom: 4%;
}
#deliveryAdd{
  /* background-color: rgb(0,186,242); */
  background-color: rgb(248, 145, 30);;

  border :none;
  width:58%;
  padding: 3%;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 20%;
  margin-top: 3%;
}
#contShoping{
  /* margin-left: 23%; */
  /* padding: 1% 5%; */
  text-align: center;
  padding: 1% 0%;
}
#QuestionMark{
  color: #666666;
  font-weight: bold;
}
#QuestionMark:hover{
  cursor: pointer;
}

#CartPayAnother{
 text-align: center;
 cursor: pointer;
 float: right;
 font-size: 105%;
 padding-top: 1%;
 padding-right: 2%;
 color:aliceblue;
}
#CartPayAnother:hover{
  /* border-bottom-color: white; */
  /* color: */
  font-weight: bold;

}
#DisplayCartAddress{
  display: block;
}
#NoDisplayCartAddress{
  display: none;
}
#Dis_proceedToPayBtn{
  background-color: rgb(0,186,242);
  color: white;
  border: none;
  padding: 2%;
  border-radius: 5px;
  margin-top: 3%;
  opacity: 0.5; 
}
#proceedToPayBtn{
  background-color: rgb(0,186,242);
  color: white;
  border: none;
  padding: 2%;
  border-radius: 5px;
  margin-top: 3%;
}
#NoproceedToPayBtn{
  display: none;
}
/* background-color: rgb(0,186,242);
border :none;
width:58%;
padding: 3%;
color: white;
font-weight: bold;
border-radius: 5px;
margin-left: 20%;
margin-top: 3%; */

/* Procced to pay and Selected address css */
#payHeaderP{
  background-color: #00baf2;
  padding: 1% 0%;
  /* font-size: 150%; */
  color: white;
  /* border-radius: 5px; */
    border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#PayAddressArea{
  /* background-color: blueviolet; */
}
#payHeader{
  /* background-color: #00baf2; */
  /* padding: 1% 0%; */
  font-size: 140%;
  padding-left: 2%;
  /* color: white; */
}
#PayAddress{
  /* background-color: aqua; */
  /* float: left; */
  width: 50%;
  margin-left: 4%;
  margin-top: 2%;
  text-align: initial;
  font-size: 90%;
  overflow: hidden;
  max-height: 3vw;

}
#payHeaderS{
  float: right;
  font-size: 100%;
  margin-top: 2%;
}
#PayHomesBtn{
  /* float: right; */
  color: black;
  background-color: white;
  width: 20%;
  margin-top: 0.5%;
  left: 70%;
  top:10%;
  border: 1px solid #cccccc;
  position: absolute;
  cursor: default;
  height: 2vw;
}
#PayEditBtn{
  float: left;
width: 15%;
position: absolute;
top: 28%;
left: 10%;
color: red;
background-color: white;
border: 1px solid #cccccc;
}
#PayAnother{
  margin-top: 20%;
}
#PayAnother:hover{
  cursor: pointer;
}
#payHeaderP2{
  background-color: #00baf2;
  padding: 1% 0%;
  font-size: 150%;
  color: white;
}
#Dis_proceedToPayBtn{
  width: 60%;
  margin-left: 20%;
  font-weight: bold;
  opacity: 0.5;
}
#proceedToPayBtn{
  width: 60%;
  margin-left: 20%;
  font-weight: bold;

}
#PopupProceedToPayBtn{
  background-color: rgb(0,186,242);
  color: white;
  border: none;
  padding: 3%;
  border-radius: 3px;
  font-weight: bold;
  /* border: 1px solid grey; */
}
#codConfirmBtn{
  /* margin-left:3.5%; */
  /* margin-top:15%; */
  background-color: rgb(0,186,242);
  color: white;
  border: none;
  padding: 3%;
  font-size: 1.2vw;
  border-radius: 3px;
  font-weight: bold;
}
/* End Procced to pay and Selected address css */
/* CSS Document of Cart Page
   for more refer README- sayan_final.md */


* {
	margin: 0;
	padding:0;
	/* font-family: Helvetica; */
}

body {
	background-color: white;
}
/* .rectangle {
	width: 904px;
	float: left;
} */
.rectangle-1 {
  width: 904px;
  height: 282px;
  border:1px solid grey;
  margin-left: 27px;
  margin-top: 15px;
  background-color: white;
}
.rectangle-2 {
  width: 904px;
  height: 216px;
  border:1px solid grey;
  margin-left: 27px;
  margin-top: 5px;
  background-color: white;
}
.rectangle-3 {
  float: right;
  width: 381px;
  height: 558px;
  box-shadow:1px 1px 1px 1px grey;
  margin-left: 24px;
  margin-right: 33px;
  margin-top: 17px;
  background-color: white;
}
.div-1 {
  width: 381px;
  height: 26px;
  background-color: rgb(0,186,242);
  text-align: center;
}
.Payment-Summary {
  width: 169px;
  height: 19px;
  /* font-family: Helvetica; */
  font-size: 19.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fffefe;
  margin:0 auto;
}
.div-1-1, .div-1-2, .div-1-3 {
	margin-left: 26px;
	margin-top:15px;
	float: left;
}
.div-1-3 {
	margin-bottom: 11px;
}

#paytype{
  /* background-color: rgb(0,186,242); */
}
#discount{
  /* float: right; */
  padding: 1%;
  display: inline-flex;
  padding-left: 4%;
  padding-right: 18%;
}
#dicCode{
  color: white;
  font-weight: bold;
  background-color: rgb(0,186,242)
}
#radioDisc{
  margin-top: -5%;
}


#contShop{
  font-size: 110%;
  padding-top: 5%;
  margin-left: 27%;
  text-decoration: none;
}
.Shipping-Handling-Charge-For-Donated-Books-1, .Shipping-Handling-Charge-For-Donated-Books-2, .Shipping-Handling-Charge-For-Donated-Books-3 {
  width: 60%;
  height: 32px;
  /* font-family: Helvetica; */
  font-size: 15.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
  float: left;
}

.dynamic-shipping-handling-charge-1,  .dynamic-shipping-handling-charge-2, .dynamic-shipping-handling-charge-3 {
  float: right;
  margin-right: 61px;
 }
.hr-1{
  width: 356px;
  height: 2px;
  background-color: #666666;
  margin: 0 auto 7px auto;
}
   .My-Cart {
  height: 25px;
  /* font-family: Helvetica; */
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f0f0f;
  margin-left: 41px;
  margin-top: 29px;
}
.main-content {
    margin-top: 30px;
}
.book {
  margin-left: 40px;
  float: left;
}
.details {
  float: left;
  margin-left: 22px;
}
.title {
  width: 246px;
  height: 67px;
  /* font-family: Helvetica; */
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}
.book-condition {
  width: 245px;
  height: 11px;
  /* font-family: Helvetica; */
  font-size: 14.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a2a2a;
  margin-top:6px;
}
.donor {
  width: 136px;
  height: 14px;
  /* font-family: Helvetica; */
  font-size: 14.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e23a3a;
}

.donor .text-style-1 {
  color: var(--black);
}
.mrp-section {
  float: right;
}
.mrp {
 margin-right: 21px;
 margin-left: 110px;
}
.free {
  width: 49px;
  height: 19px;
  /* font-family: Helvetica; */
  font-size: 24.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e26127;
}
.book_price {
  width: 33px;
  height: 15px;
  /* font-family: Helvetica; */
  font-size: 19.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-four);
  text-decoration: line-through;
}
.mrp-text {
  width: 49px;
  height: 15px;
  /* font-family: Helvetica; */
  font-size: 19.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-four);

}
.shipping-handling {
  margin-top: 21px;
  margin-right: 28px;
}


/*  Nav portion starts here  */

  .close {
      cursor: pointer;
      font-size: 30px;
    }

.main-nav {
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  line-height: 50px;
  padding: 0 16px;
  box-sizing: border-box;
 
}
#mobilemenu {
  float: right;
}
.mobilemenu {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 300ms ease-in-out;
  position: fixed;

}
.mobilemenu li {
  display: inline-block;
  border-bottom: 1px solid rgba(192,192,192,0.5);
  cursor: pointer;

}
.mobilemenu li>a {
  text-decoration: none;
  color:black;
  padding: 0 14px;
}
.mobile-btn {

  cursor: pointer;
  float: left;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.mobilemenu li.close:hover{
  color: orange;
}
.mobilemenu li:hover {
  color: orange;
}
.overlay {
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.4);
      opacity: 0;
      z-index: -1;
      top: 0;
      left: 0;
      transition: opacity 300ms linear; 
      }
.mobilemenu li:nth-child(1) {
  border: none;
}

  nav {
    display: block;
    /* z-index: 3; */
  }
  .mobilemenu {
    /* The position might change from absolute to fixed  */
    position: fixed;
    top:0;
    left: 0;
    display: block;
    background-color: white;
    width: 400px;
    height: 100%;
    transform:translateX(-400px);
    z-index: 999;
    font-size: 15px;
   }
   .mobilemenu li{
    display: block;
    padding: 10px 20px 10px 20px;
   
   }
   .mobilemenu li:nth-child(1) {
    text-align: right;
   }
   .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    top:0;
    right: 0;
    opacity: 0;
   }
   .mobilemenu.open {
    transform: translateX(0);
   }
   .overlay.open {
    z-index: 1;
    opacity: 1;
 }
 #cartbookimg{
  /* height: 144px;
  width: 121px; */
  height: 11vw;
  width: 9vw;
  float: left;
 }
 #precod{
   position: absolute;
   margin-top: -0.5%;
 }
 #showOutOfStockSpan{
  background-color: rgba(255, 255, 255, .7);

 }
 #showOutOfStock{
  color: red;
  font-weight: bold;
  font-size: 100%;
  opacity: 1;
  position: absolute;
  text-align: center;
  /* margin-left: 25%; */
  margin-top: 5%;
  width: 54%;
  background-color: rgba(255, 255, 255, .7);
  min-height: 5%;
  padding: 1%;
 }
 #codWalletAlert{
   text-align: center;
 }
 @media screen and (max-width:1200px) and (min-width:992px){
  #cartRigtoPart{
    /* height: 45vw; */
  /* z-index: 67; */

  }
  #PayAddress{
    max-height: 3.5vw;
  }
  #PayHomesBtn{
    margin-top: 0%;
    height: 2.5vw;
  }

 }
@media screen and (max-width:991px){
  #cartBody{
    margin-top: -4%;
  }
  #PayHomesBtn{
  margin-top: -0.5%;
  height: 3vw;
  }
  #codConfirmBtn {
    font-size: 1.5vw;
}
  #payHeader{
    font-size: 2vw;
  }
  #CartPayAnother{
    font-size: 1.5vw;
    padding-top: 1.5%;
  }
  #cartRigtoPart{
    top: 20vw;
    width: 37vw;
    height: 46vw;
    font-size: 1.3vw;
    font-weight: bold;
  }
  #deliveryAdd{
    margin-top: 16%;
  }
  #cartbookimg {
    height: 12vw;
    width: 10vw;
}
#cartBookinfoD{
  height: 16vw;
}
#CartWalletCheckBox {
  width: 3vw;
  height: 1.7vw;
}
#CartPayType li input {
  width: 2vw;
  height: 1.6vw;
}
#cartDelete{
  width:2vw;
}
#cartBookTitleP {
  /* background-color: chartreuse; */
  width: 94%;
  font-size: 1.5vw;
  overflow: hidden;
  /* max-height: 50%; */
  max-height: 47%;

}
#cartBookCondP {
  font-size: 1.5vw;
}
#Bookinfopart2 {
  line-height: 2vw;
}
#cartBookpriceS{
  font-size: 1.5vw;
}
#cartBookShippingS{
  font-size: 1.5vw;
}
#CartchargeslineS {
  font-size: 1.5vw;
  margin-left: 0%;
}
#cartBkShipChargeS {
  font-size: 2vw;
  margin-top: 0%;
}
#cartFree {
  margin-left: 7%;
}
#PayAddress{
  overflow: hidden;
  max-height: 4vw;
}
#showOutOfStock{
  color: red;
  font-weight: bold;
  font-size: 75%;
}
}
@media screen and (max-width:767px){
  #cartBody{
    margin-top: -4%;
  }
  #PayHomesBtn{
    margin-top: -4%;
  }
  #codConfirmBtn {
    font-size: 2vw;
  }
  #cartRigtoPart{
    top: 20vw;
    width: 37vw;
    height: 61vw;
    margin-top: 0.5%;
    font-size: 1.6vw;
    font-weight: bold;
  }
  #Dis_proceedToPayBtn{
    width: 82%;
    margin-left: 11%;
    font-weight: bold;
    opacity: 0.5;
  }
  #proceedToPayBtn {
    width: 82%;
    margin-left: 11%;
    font-weight: bold;

}
  #cartbookimg {
    height: 14vw;
    width: 11vw;
}
#cartBookinfoD{
  height: 17vw;
}
#CartWalletCheckBox {
  width: 3vw;
  height: 2vw;
  margin-top: 3%;
}
#CartPayType li input {
  width: 2vw;
  height: 2vw;
}
#cartRlistD {
  width: 95%;
}
#cartRlistCost {
  margin-left: auto;
}
#cartBookTitleP {
  /* background-color: chartreuse; */
  width: 94%;
  font-size: 2vw;
  overflow: hidden;
  max-height: 36%;
}
#cartBookCondP {
  font-size: 2vw;
}
#cartDelete {
  width: 2.5vw;
}
#Bookinfopart2 {
  line-height: 2.5vw;
}
#cartBookpriceS{
  font-size: 2vw;
}
#cartBookShippingS{
  font-size: 2vw;
}
#CartchargeslineS {
  font-size: 2vw;
  margin-left: 0%;
}
#cartBkShipChargeS {
  font-size: 2.5vw;
  margin-top: 0%;
}
#cartFree {
  margin-left: 7%;
}
#PayAddress{
  overflow: hidden;
  max-height: 5.5vw;
}
#showOutOfStock{
  color: red;
  font-weight: bold;
  font-size: 65%;
}
}
@media screen and (max-width:538px){
  #cartBody{
    margin-top: 21%;
  }
  #mycartP{
    width: 100%;
    font-size: 4vw;
    margin-top: 3%;
  }
  #codConfirmBtn {
    font-size: 2.5vw;
}
  #payHeader{
    font-size: 3vw;
  }
  #CartPayAnother {
    font-size: 3vw;
    padding-top: 0.5%;
}
#PayHomesBtn {
  margin-top: 1.5%;
  height: 7%;
}
  #cartRigtoPart{
    /* top: 0vw;
    position: relative;
    width: 96%;
    height: 52vw;
    font-size: 3vw;
    font-weight: bold;
    margin-left: 0%; */

    top: 8vw;
    position: relative;
    width: 100%;
    height: unset;
    /* margin-top: 0.5%; */
    font-size: 13px;
    font-weight: bold;
    /* margin-left: -5%; */
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #847676;
  }
  #cartLeftPart {
    padding: 1%;
    width: 100%;
    /* height: 52vw; */
    overflow: auto;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #847676;
}
#Bookinfopart1{
  margin-left: 0%;
}
  #cartbookimg {
    height: 16vw;
    width: 14vw;
    margin-top: -1%;
}
#cartBookinfoD{
  height: 18vw;
  margin-top: -1%;
}
#CartWalletCheckBox {
  width: 30px;
  height: 16px;
  margin-top: 3%;
  margin-left: 0%;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
#CartPayType li input {
  width: 3vw;
  height: 3vw;
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
}
#cartRlistD {
  width: 95%;
}
#cartRlistCost {
  margin-left: auto;
}
#cartBookTitleP {
    /* background-color: chartreuse; */
    /* width: 94%; */
    font-size: 3vw;
    max-height: 51%;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    /* autoprefixer: off */
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
        /* autoprefixer: on */
}
#cartBookCondP {
  font-size: 3vw;
}
#cartDelete {
  width: 3.5vw;
  margin-right: 20%;
}
#Bookinfopart2 {
  line-height: 3.2vw;
}
#cartBookpriceS{
  font-size: 2.6vw;
  color: #868383;
}
#cartBookShippingS{
  font-size: 2.6vw;
}
#CartchargeslineS {
  font-size: 2.6vw;
  margin-left: -1%;
}
#cartBkShipChargeS {
  font-size: 2.6vw;
  font-weight: bold;
}
#cartFree {
  margin-left: 7%;
}
#precod{
  margin-top: -0.5%;
  margin-left: 1%;
}
#deliveryAdd{
  margin-top: 2%;
  margin-left: 14%;
  width: 78%;
}
#PayAddress{
  overflow: hidden;
  max-height: unset;
  font-size: 13px;
}
#cartBookdataD{
  padding-top: 3%;
  border-bottom: 0.1px solid #847676;
  padding-bottom: 4%;
}
#cartBookPrice {
  text-decoration: line-through;
  color: black;
}
#cartRfirstP{
  font-size: 17px;
}
#cartShowWallet {
  font-size: 14px;
}
#deliveredBy{
  margin-left: 14%;
  text-align: center;
  font-size: 14px;
}
#showOutOfStock{
  color: red;
  font-weight: bold;
  font-size: 75%;
  opacity: 1;
  position: absolute;
  text-align: center;
  /* margin-left: 25%; */
  margin-top: 3%;
  width: 54%;
  background-color: rgba(255, 255, 255, .7);
  min-height: 5%;
  padding: 1%;
 }
}
/* @media screen and (max-width:538px){
  #showOutOfStock{
    color: red;
    font-weight: bold;
    font-size: 55%;
  }
} */