#DFbutton{
    margin: 4% 3% 0% 0%;
    /* margin-top: 5%; */
    color: #00baf2;
    border-radius: 3px;
    width: 7.3vw;
    height: 18%;
    padding: .3%;
    border: 2px solid #00baf2;
    background-color: white;
    text-decoration: none;
    outline: 0;
    font-size: 1vw;
}
button::-moz-focus-inner {
    border: 0;
  }
  
  
#buttonclick{
    margin: 4% 3% 0% 0%;
    color: white;
    border-radius: 3px;
    width: 17%;
    height: 18%;
    padding: .5%;
    border:2px solid #00baf2;
    background-color: #00baf2;
    text-decoration:none;
    outline: 0;
    font-size:70%;  
}
@media screen and (max-width:991px){
#DFbutton{
    /* font-size: 1.5vw;
    margin-top: 2vw; */
    /* width: 7.5vw; */
    font-size: 1.3vw;
    margin-top: 2vw;
    width: 9.5vw;
    margin-right: 3%;
    margin-left: 1%;
}
}
@media screen and (max-width:767px){
    #DFbutton{
        font-size: 1.8vw;
        margin-top: 3vw;
        width: 13.5vw;
        padding-right: 0%;
        margin-left: -0.5%;
        margin-right: 2%;
    }
    }
@media screen and (max-width:538px){
    #DFbutton {
        font-size: 3vw;
        margin-top: 4.55vw;
        width: 21.5vw;
        margin-left: 0%;
    }
} 