/* #DonationThanks{
    background-color:  #f5f7f7;
    height: 681px;
    width:821px;
}
#title{
    margin-left: 45%;
} */
#backdropStyle{
    position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.3);
      padding: 50px;
}
#modalStyle{
    margin-top:3%;
    background-color: #f5f7f7;
    width: 60%;
    height: 90%;
    margin-left: 23%;
    z-index: 5;
}
#req_id{
    font-weight: bold;
    color: #00baf2;
    margin-left: 2%;
}
#closePickup{
    /* background-color: rgb(106, 114, 114);
    font-size: 140%;
    padding: 1%;
    margin-left: 15%;
    position: absolute;
    margin-top: 3%;
    color: black;
    border:none; */
        /* background-color: rgb(106, 114, 114); */
    background-color: transparent;
    font-size: 130%;
    /* padding: 1%; */
    /* margin-left: 25%; */
    position: absolute;
    float: right;
    margin-top: 0%;
    color: #00baf2;
    border:none;
}
/* #title{
    margin-top: 2%;
    margin-left: 20%;
    position: absolute;
} */

#method{
    /* margin-left: 19%;
    position: absolute;
    margin-top: 4%; */
    position: initial;
    margin-top: 1%;
    text-align: center;
}
#id_title{
    padding-top: 4%;
    /* margin-left: 19%; */
    text-align: center;
    position: initial;
}
#bodypart{
    /* margin-top: 6%; */
    margin-top: 0.2%;
    position: absolute;
    margin-left: 3%;
    width: 50%;
    height: 50%;
    background-color: white;
    /* display: inline-block */
    
}
#m_leftpart{
    float: left;
    font-size: 12px;
    font-style: normal;
    width: 50%;
    height: 100%;
    border-right: #958b76 1px solid;
    border-bottom:  1px solid black
}
#m_leftpart_t{
    margin-left: 28%;
    font-size:150%;
    margin-top: 10%;
}
#m_leftpart_b{
    margin:5%;
    font-size: 125%;
}

#m_leftbtn{
    color: white;
    margin: 5% 0% 0% 5%;
    width: 40%;
    padding: 2%;
    border-radius: 5px;
    background-color:  #00baf2;
    border-color:  #00baf2;
    position: absolute;
    bottom:10%;
}


#m_rightpart{
    font-size: 12px; 
    width: 50%;
    height: 100%;
    float: left;
    border-bottom:  1px solid black
    /* background-color: blueviolet; */
}
#m_rightpart_t{
    margin-left: 28%;
    font-size:150%;
    margin-top: 10%;
}

#m_rightpart_b{
    margin:5%;
    font-size: 125%;
}

#m_rightbtn{
    color: white;
    margin: 5% 0% 0% 5%;
    width: 40%;
    padding: 2%;
    border-radius: 5px;
    background-color:  #00baf2;
    border-color:  #00baf2;
    position: absolute;
    bottom:10%;
}
#bodypart::after{
    content:" **Note:- Do you know MyPustak is paying minimum of rs 300 for this shipment. You can fast forward your book donation pickup by making this payment.";
    font-size: 80%;
    background-color: white;
    padding-bottom:5%;
    display:inline-flex;
    /* margin-top:10%; */
}
@media screen and (max-width:991px) and (min-width:768px){
    #modalStyle{
        width: 62vw;
        margin-left: 16%;
        height: 96%;    
    }
    #bodypart{
        width: 56%;
        margin-right: 3%;
        margin-left: 3%;
    }
    #m_leftbtn{
        width: 21vw;
        font-size: 1.3vw;
    }
    #m_rightbtn{
        width: 21vw;
        font-size: 1.3vw;
    }
    #id_title{
        font-size: 2.5vw;
    }
}
@media screen and (max-width:767px) and (min-width:500px){
    #modalStyle{
        width: 86vw;
        margin-left: 0%;
        height: 96%;
    }
    #bodypart{
        width: 74vw;
        /* margin-right: 3%; */
        margin-left: 6%;
    }
    #m_leftbtn{
        width: 28vw;
        font-size: 1.8vw;    
    }
    #m_rightbtn{
        width: 28vw;
        font-size: 1.8vw;    
    }
    /* #id_title{
        font-size: 2.5vw;
    } */
}
@media screen and (max-width:499px){
    #modalStyle{
        width: 100%;
        margin-left: 0%;
        height: 81%;
        margin-top: 13%;
    }
    #bodypart{
        width: 90vw;
        /* margin-right: 3%; */
        margin-left: 6%;
    }
    #m_leftbtn{
        width: 38vw;
        font-size: 2.5vw;
        margin-left: 4%;  
    }
    #m_rightbtn{
        width: 39vw;
        font-size: 2.5vw;
        margin-left: 4%;   
    }
    #m_rightpart_b {
        margin: 4%;
        font-size: 3vw;
    }
    #m_leftpart_b {
        font-size: 3vw;
    }
    #id_title{
        font-size: 4vw;
    }
    #backdropStyle{
       padding: 0%;
    }
    #m_leftpart_t {
        margin-left: 15%;
        font-size: 5vw;
        margin-top: 4%;
    }
    #m_rightpart_t {
        margin-left: 15%;
        font-size: 5vw;
        margin-top: 4%;
    }
}