#DonationPage{
    height: 38rem;
    width: 100%;
    /* background-image: url("https://raw.githubusercontent.com/MyPustak/version1/master/frontend/AJIT%20WORK/workimage%20background.jpg?token=AmU3DZKubd_4ff5LobyO7L7h5sUDq1pFks5cVAd4wA%3D%3D"); */
    /* margin-top: 0px; */
    position: absolute;
    font-weight: bold;
    margin-top: 2%;
}
#formarea{
width: 71%;
/* height: 97%; */
height: 45vw;
background-color: #f5f7f7;
margin-left:29%;
margin-top: -1%;
}
#header{
background-color: #00baf2;
height: 5%;
position: absolute;
width: 71%;
}
#header a{
color: #f5f7f7;
}
#header a:active{
color: #f8911e;
}
#error{
border:0px;
border-bottom : 1px solid red;
/* border-bottom: 1px solid black; */
}

#close{

/* background-color: rgb(106, 114, 114); */
background-color: transparent;
font-size: 140%;
/* padding: .5%; */
/* margin-left: 25%; */
position: absolute;
float: right;
margin-top: 0%;
color: white;
border:none;
}

#formheader{
margin-left: 20%;
padding: .5%;
/* margin-top:.5%; */
/* padding: 1%; */
}

#leftpart{
background-color: #ffffff;
float: left;
/* width:30.5%; */
width:32.5%;
/* height: 66.7%; */
height: 40vw;
padding:0% 2% 2% 2%;
margin-left: 3.3%;
margin-top: 2%;
}
input{
background-color: transparent;
width: 100%;
padding: 2px;
border:0px;
border-bottom : 1px solid black;
font-style: normal;
padding-top: 4%;
opacity: 1 !important;
font-weight: lighter;
}
input::placeholder{
font-size: 80%;
text-align: center;
color: black;
}
:placeholder-shown::-webkit-input-placeholder { /* WebKit browsers */
/* color:    red; */
 opacity: 1 !important;
}
leftpart::placeholder{
color: black;
/* opacity: 0; */
font-weight: normal;
font-size: 12px;
/* font-weight: lighter; */
opacity: 10 !important;
}
#rightpart{
width: 58%;
/* height: 76%; */
height: 40vw;
background-color: #ffffff;
float: right;
margin-top: 2%;
padding: .1% 2% 2% 1%;
}
#cat_title{
margin-left: 20%;
margin-top: 0%;
font-size: 90%;
/* text-align: center; */
}

#knowabout_title{
margin-left: 9%;
margin-top: 0%;
font-size: 90%;
/* text-align: center; */
}

#condition_title{
margin-left: 34%;
margin-top: .5%;
font-size: 90%;
}
#leftbuttom{
font-size: 11px;
margin-left: 3%;
}
#dateimg{
/* margin-top: -6%; */
/* margin-left: 1%; */
width: 3vw;
/* margin-top: -6%; */
margin-left: -1%;
margin-top: 2.5vw;
position: absolute;
}
#pickup{
text-align: center;
/* margin-left: -25%; */
margin-top: 1%;
width: 20vw;
}
#captcha{
float :right;
margin-top: -8%;
margin-right: 5%;
}
#displaycaptcha{
/* margin-left: 10%; */
margin-left: 12%;
height: 6.5vw;
margin-top: -23%;
}
#buttombuttons{
margin-left: 10%;

}
#submit{
margin-top: 5%;
margin-left: 30%;
background-color: #00baf2;
height: 27px;
width: 10%; 
border: #00baf2;
border-radius: 5px;
color: white;
font-weight: bold;
/* position: relative; */
}
#clear{
background-color: rgb(0, 186, 242);
color: white;
border-radius: 5px;
border: none;
margin-left: 2.2%;
margin-top: 4.5%;
font-weight: bold;
height: 5vh;
width: 5.8vw;
padding: 0.5%;
position: absolute;
}
#KwAbtBtn{
margin: 4% 3% 0% 0%;
color: #00baf2;
border-radius: 3px;
width: 15%;
height: 18%;
padding: .5%;
border:2px solid #00baf2;
background-color: white;
text-decoration:none;
outline: 0;
font-size: 80%;

}
#ClickedKwAbtBtn{
margin: 4% 3% 0% 0%;
color: white;
border-radius: 3px;
width: 15%;
height: 18%;
padding: .5%;
border:2px solid #00baf2;
background-color: #00baf2;
text-decoration:none;
outline: 0;
font-size: 80%;   
}
#donatesubmit{
background-color: rgb(0, 186, 242);
color: white;
border-radius: 5px;
border: none;
width: 7vw;
height: 5vh;
margin-left: 2.2%;
margin-top: 8%;
padding: 0.5%;
font-weight: bold;
}
#selectdonation{
font-size: 70%;
font-weight: lighter;
color: red;
position: absolute;
margin-left: 15%;
}
#phonelength{
font-size: 1vw;
color: red;
margin-left: 36%;
/* text-align: center; */
font-weight: lighter;
}
#totalweight{
font-size: 1vw;
color: red;
font-weight: lighter;
}
@media screen and (max-width:991px){
#phonelength{
    font-size: 1.5vw;
}
#totalweight{
    font-size: 1.5vw;
}
#DonationPage{
   margin-top: 0%;
}
#formarea{
width: 87vw;
margin-left: 13%;
height: 59vw;
}
#leftpart{
   width: 31vw;
   height: 51vw;
}
#rightpart{
margin-right: 1%;
width: 49vw;
height: 51vw;
padding-right: 1%;
}
#header{
   width: 87vw;
}
#cat_title{
   font-size: 1.5vw;
   text-align: center;
   margin-left: 0%;
}
#selectdonation{
font-size: 1.5vw;
}
#knowabout_title{
font-size: 1.5vw;
text-align: center;
margin-left: 0%;
}
#condition_title{
font-size: 1.5vw;
text-align: center;
margin-left: 0%;
}
#leftbuttom{
font-size: 1.5vw;
}
#dateimg{
margin-top: 3.5vw;
}
#pickup{
    /* margin-left: -25%; */
    width: 25vw;
    text-align: center;
}
#donatesubmit{
width: 9vw;
margin-left: 0%;
}
#clear{
width: 9vw;
margin-top: 4.3%;
}
#DonationPage{
margin-top: -3%;
}
#displaycaptcha {
margin-left: 23%;
height: 9vw;
margin-top: -16%;
}
#captcha {
float: right;
margin-top: -10%;
}
}
@media screen and (max-width:767px){
#phonelength{
    font-size: 1.7vw;
}
#totalweight{
    font-size: 1.7vw;
}
#formarea{
    width: 100%;
    margin-left: 0%;
    height: 79vw;
}
#header{
    width: 100%;
    height: 4vw;
}
#formheader{
    margin-left: 17vw;
    font-size: 2.2vw;
}
#leftpart{
    width: 36vw;
    margin-left: 2%;
    height: 72vw;
    margin-top: 0.5%;
}
#rightpart{
    margin-right: 1%;
    width: 60vw;
    height: 72vw;
    margin-top: 0.5%;
}
#cat_title{
    font-size: 2.5vw;
    margin-left: 7vw;
}
#selectdonation{
    font-size: 2vw;
}
#knowabout_title{
    font-size: 2vw;
}
#condition_title{
    font-size: 2vw;
}
#leftbuttom{
    font-size: 2vw;
    margin-left: 5%;
    margin-top: 1%;
}
#captcha{
    margin-top: -13%;
    margin-right: -2%;
}
#displaycaptcha {
    /* margin-left: 10%;
    height: 12vw; */
    margin-left: 21%;
    height: 12.5vw;
    margin-top: -16%;
}
#dateimg{
    margin-top: 4vw;
    width: 4vw;
    margin-left: -3.5%;
}
#donatesubmit{
    width: 11vw;
    margin-left: -3%;
    font-size: 2.5vw;
}
#clear{
    width: 11vw;
    margin-top: 4.3%;
    font-size: 2.5vw;
    padding: 0.2%;
}
#pickup{
    width: 26vw;
    text-align: center;
    font-size: 80%;
    }
}
@media screen and (max-width:538px){
#DonationPage{
 position: relative;
}
#leftpart{
width: 100vw;
margin-left: 0%;
height: unset;
}
#rightpart{
    width: 100vw;
    float: left;
  margin-left: 0%;
  height: 144vw;
}
#phonelength{
    font-size: 3vw;
    margin-left: 41%;
}
#totalweight{
    font-size: 3vw;
    margin-left: 26%;
}
#header{
        width: 100%;
        height: 6vw;
        margin-top: -2%;
    }
#formheader {
    margin-left: 5vw;
    font-size: 3vw;
}
#cat_title{
font-size: 3vw;
margin-left: 0%;
text-align: center;
}
#knowabout_title{
    font-size: 3vw;
margin-left: 0%;
text-align: center;
}
#condition_title{
    font-size: 3vw;
margin-left: 0%;
text-align: center;
}
#selectdonation {
    font-size: 3vw;
    /* text-align: center; */
    /* position: relative; */
    margin-left: 31%;
}
#leftbuttom {
    font-size: 3vw;
    margin-left: 9%;
    margin-top: 1%;
}
#dateimg {
    margin-top: 6vw;
    width: 7vw;
    margin-left: -7.5%;
}
#pickup {
    margin-left: 0%;
    text-align: left;
    width: 40vw;
    text-align: center;
    padding: 1%;
}
#captcha {
    margin-top: -9%;
    margin-right: 4%;
}
#donatesubmit {
    width: 14vw;
    margin-left: -3%;
    font-size: 3vw;
}
#clear {
    width: 14vw;
    margin-top: 7.5%;
    font-size: 3vw;
    height: 5.2vh;
}
#displaycaptcha {
    margin-left: 23%;
    height: 23vw;
    margin-top: -18%;
}
}