#payhereBody{
    margin-top: 2%;
    background-color: #f5f7f7;
    height: 100%;
    width: 100%;
    position: absolute;
}

#first{
    width: 32%;
    height: 88%;
    background-color: white;
    margin-left: 2%;
    margin-top: 1.3%;
}
#first_title{
    margin-left: 6%;
    margin-top: 2%;
    position: absolute;
}

/* input[type="radio"]{

} */
#color{
    /* background-color: white; */
    color:  #00baf2;
    
}

#changeColor{
    background-color: #00baf2;
    color:  white;
    
}
.leftbtns{
    width: 14%;
    height: 9%;
    position: absolute;
    border-color: #00baf2;
    border-style: solid;
    border-radius: 5px;
    /* color: #00baf2; */
    display: inline-block;
    padding-top: .7%;
    margin: 1.6%;
    outline: 0;
    cursor: pointer;
}
#leftlow{
    height: 35%;
    width: 28.4%;
    position: absolute;
    border: 3px solid #00baf2;
    /* border-width: 50px; */
    margin-left: 1.6%;
    /* background-color: aquamarine; */
    margin-top: 22%;
} 



#orderDetails{
    float:right;
    /* background-color: aqua; */
    width: 32%;
    height: 88%;
    background-color: white;
    position: absolute;
}