/* CSS Document
   Works with Cart Page, by displaying the User's Addresses during checkout for selction.
   for more refer README- sayan_final.md */

   @media screen and (max-width:2000px){
    *{
     margin: 0;
     padding: 0;
   }
   #DeliveryBody {
     width: 100%;
     height: 90%;
     margin-right: 50%;
     z-index: 9999;
     /* margin-top: 15%; */
     /* border-right: 1px solid grey; */
   }
   #DALayer-2 {
     width: 100%;
     /* height: 62px; */
     background-color: rgb(0,186,242);
     text-align: center;
     margin:0 auto;
   }
   #DASelectAddress {
     /* width: 245px;
     height: 19px; */
     font-family: Helvetica;
     font-size: 110%;
     font-weight: bold;
     text-align: center;
     color: #e6e5e5;
     margin:0 auto;
     padding: 3% 0%;
     /* line-height: 62px; */
   }
   #DALayer-4 {
     /* height:240px; */
     width:100%;
     /* background-color: #ec9574; */
   }
   #DAaddress {
     float: left;
     margin-left: 17px;
   /* background-color: blueviolet; */
   }
   #DAselect {
     float: right;
     margin-right: 3%;
   }
   #DALayer-10{
     width: 80px;
     height: 30px;
     margin-right: 1%;
     margin-top: 25%;
     background-color: rgb(0,186,242);
     border: none;
     border-radius: 5px;
   }
   #DAselect-button {
     width: 47px;
     height: 12px;
     font-family: Helvetica;
     font-size: 17px;
     text-align: left;
     color: #fefefe;
   }
   hr {
     margin-top:18px;
   }
   #DAuser-name {
     /* width: 100%; */
     height: 100%;
     font-family: Helvetica;
     font-size: 90%;
     font-weight: bold;
     text-align: left;
     color: var(--black);
     margin-top: 6%;
   
   }
   #DAhome-button {
     margin-top: 3%;
     width: 60%;
     height: 30px;
     border:1px solid grey;
     background-color: white;
     border-radius: 3px;
   }
   #DAhome-button-text {
     /* width: 39px;
     height: 11px; */
     font-family: Helvetica;
     font-size: 90%;
     text-align: left;
     color: var(--black);
   }
   
   #DAhome-button{
     cursor: default;
   }
   
   #DAaddress-info {
     width: 157px;
     height: 40px;
     font-family: Helvetica;
     font-size: 85%;
   
     text-align: initial;
     color: var(--black);
     margin-top: 20px;
   }
   .DAadd-new-address {
     width: 60%;
     height: 50px;
     margin:0 auto;
     text-align: left;
   }
   .DAadd-new-address button{
     height: 40px;
     width: 80%;
     font-family: Helvetica;
     font-size: 17px;
     color: white;
     background-color: rgb(0,186,242);
     border: none;
     border-radius: 5px;
     text-align: center;
     margin-left: 12%;
   }
   #DAedit {
     margin-top: 20%;
     /* width: 28px; */
     height: 90%;
     font-family: Helvetica;
     font-size: 110%;
     text-align: left;
     color: #ec9574;
     margin-left: 24%;
   }
   #DAedit:hover{
     cursor: pointer;
   }
   #DAAdd-New-Address {
     width: 170px;
     height: 15px;
     font-family: Helvetica;
     font-size: 20px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: left;
     color: var(--white);
   }
   #DAaddnewaddress{
     height: 90%;
     overflow: auto;
   }
 }
   @media screen and (max-width:991px){
     #DAaddnewaddress{
       height: 87%;
       overflow: auto;
     }
     .DAadd-new-address button {
       margin-top: 3vw;
     }
     #DAselect{
       float: right;
       margin-right: 0%;
       /* width: 20vw; */
     }
     #DAedit{
       margin-left: 20%;
     }
   }
   @media screen and (max-width:538px){
     #DAaddress{
       margin-left: 6px;
       width: 27vw;
     }
     #DAselect{
       float: right;
       margin-right: 3%;
       /* background-color: red; */
       width: 30vw;
     }
     #DAaddnewaddress {
       height: 92%;
       overflow: auto;
   }
   .DAadd-new-address {
     text-align: left;
     margin-left: 14%;
     }
   .DAadd-new-address button {
     height: 9vw;
     width: 47vw;
     font-family: Helvetica;
     font-size: 3.5vw;
     color: white;
     background-color: rgb(0,186,242);
     border: none;
     border-radius: 5px;
     margin-top: 3%;
     margin-left: 2%;
   }
   #DAaddress-info{
     width: 36vw;
     height: unset;
   }
   #DeliveryBody{
     margin-right: 50%;
     height: 91%;
   }
   }