/* CSS Document
   Works with Cart Page, by displaying the User's Addresses during checkout for selction.
   for more refer README- sayan_final.md */


   *{
    margin: 0;
    padding: 0;
  }
  #DeliveryBody {
    width: 100%;
    height: 90%;
    /* margin-top: 15%; */
    /* border-right: 1px solid grey; */
  }
  
  #addressdiv{
      height: 10%;
      background-color: rgb(0,186,242);
      width: 100%;
      margin-left: -4%;
      position: absolute;
      border-radius: 5px;
      margin-top: -1.1%;
  }
  #Add-New-Address {
      width: 97%;
      height: 5%;
      font-family: Helvetica;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: white;
      margin-top: 5%;
  }
  
  #SelectAddress {
    /* width: 245px;
    height: 19px; */
    font-family: Helvetica;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    color: #e6e5e5;
    margin:0 auto;
    padding: 3% 0%;
    /* line-height: 62px; */
  }
  #Layer-4 {
    /* height:240px; */
    width:100%;
    
  }
  #address {
    float: left;
    margin-left: 17px;
  }
  #select {
    float: right;
  }
  #Layer-10 {
    width: 111px;
    height: 42px;
    /* margin-right: 1%; */
    margin-top: 6%;
    background-color: rgb(0,186,242);
    border: none;
    border-radius: 5px;
  }
  #select-button {
    width: 47px;
    height: 12px;
    font-family: Helvetica;
    font-size: 17px;
    text-align: left;
    color: #fefefe;
  }
  hr {
    margin-top:18px;
  }
  #user-name {
    /* width: 100%; */
    height: 100%;
    font-family: Helvetica;
    font-size: 105%;
    font-weight: bold;
    text-align: left;
    color: var(--black);
    margin-top: 8%;
  }
  #home-button {
    margin-top: 3%;
    width: 60%;
    height: 10%;
    border:1px solid grey;
    background-color: white;
  }
  #home-button-text {
    /* width: 39px;
    height: 11px; */
    font-family: Helvetica;
    font-size: 90%;
    text-align: left;
    color: var(--black);
  }
  #address-info {
    width: 157px;
    height: 55px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
    margin-top: 20px;
  }
  /* .#donebtn {
    width: 60%;
    height: 50px;
    margin:0 auto;
    text-align: center;
    margin-top: 7%;
  } */
  #donebtn_button{
    height: 48%;
    width: 78%;
    font-family: Helvetica;
    font-size: 119%;
    color: white;
    background-color: rgb(0,186,242);
    border: none;
    border-radius: 5px;
    margin-top: 12%;
    margin-left: 14.5%;
    padding: 3%;
  }
  #edit {
    margin-top: 25%;
    /* width: 28px; */
    height: 90%;
    font-family: Helvetica;
    font-size: 110%;
    text-align: left;
    color: #ec9574;
  }
  @media screen and (max-width:538px){
    #donebtn_button{
      width: 33%;
      margin-top: 22vw;
      margin-left: 15%;
      position: fixed;
      height: 8%;
      padding: 2%;
    }
    #addressdiv{
      height: 10vw;
    }
    #Add-New-Address{
      font-size: 4vw;
    }
    #DeliveryBody{
      margin-right: 50%;
      height: 91%;
    }
  }