@media screen and (min-width:992px)  {
.side-Drawer{
    position: absolute;
    height: 100%;
    background: white;
    box-shadow: 2px 10px 10px rgba(0,0,0,0.5);
    position: fixed;
    /* top: 0; */
    left:0;
    /* right: 0px; */
    /* left:70%; */
    width: 30%;
    overflow: hidden;
    float: right;
    z-index: 200;
    /* display: none; */
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
    /* overflow-y: scroll; */

}
::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
  }
.side-Drawer.open{
    transform: translateX(0);
    /* display: block; */
}
#nobooks span{
    color: #E26127;
}
#cartTitle{
    /* margin: 5px; */
    /* margin-left:20px; */
    margin-bottom: 2%;
    padding-left: 10px;
    margin-right: 20px;
    background-color:white;
    color: #002e45;
    width: 100%;
    padding-bottom: 20px;
    font-size: 1.3vw;
    font-weight: bold;
    /* text-align: center; */
    /* border-bottom: 1px solid gray; */
    box-shadow: 0px 2px 2px 2px #888;
}
#BgCartPopupScroll{
    /* border:5px solid black; */
    height: 70vh;
    margin-bottom: 10%;
    margin-top:4%;
    overflow-y: scroll;
 
}
#BgCartPopupBody{
    margin-top: 1px;
    

    
    
}
#BgCartPopupBody:hover{
    margin-top: 1px;
    background-color: rgb(255, 238, 230);
    
    
}
#BgCartBookData img{
    

}
#BgCartBookCondPrice span{
    padding-bottom: 10px;
}
#BgCartBookName{
    font-weight: bold;
    text-align: center;

}
#BgCartBookprice{
    font-size: 1vw;
    
   
}
#mrptag{
    margin: 5px;
}
#mrp{
    /* font-weight: bold; */
   color: black;
    font-size: 1.2vw;
    
    /* color: #e26127; */
}
#mrp span{
    /* font-weight: bold; */
   color: black;
    font-size: 1.2vw;
    /* color: #e26127; */
}
#bookcond {
    font-size:1vw;
    color: black;
    /* font-weight: bold; */
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}
#BgCartBookshipping{
    font-size: 1vw;
    padding-top: 5px;
    padding-left: 15px;
    margin-top: 5px;
    color: #e26127;
    /* font-weight: bold; */
}
#shippingCost{
    padding: 30px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-left: 10px;
    
}
#removebtn{
    color: #002e45;
    background-color: white;
    padding: 2.2%;
    text-align:center;
    
    /* align-items:end; */
    margin-left: 60%;
    margin-top: 20px;
    border:none;
    font-size: 1vw;
    border: 1px solid #002e45;
    width: 20%;
    margin-bottom: 0%;
    border-radius: 5px;
    transition: 0.2s;
}
#removebtn:hover{
    background-color: #E26127;
    color:white;
    border:1px solid #E26127;
       
}
#cartHeader{
    /* z-index: 500; */
   /* border: 1px solid black; */
   margin-bottom: 1px;
   
}
#CarttotalAmount{
 display: flex;
 justify-content: space-between;
 font-size: 1.1vw;
 padding-right: 10px;
  text-align: right;
  margin-right: 8%;
}
#BgCartcheckoutBtn{
    color:#002e45;
    background-color: white;
    padding: 2%;
    font-weight: bold;
    align-items:center;
    margin-left: 40%;
    margin-top: 20px;
    border:none;
    font-size: 1.2vw;
    border: 2px solid #E26127;
    width: 50%;
    margin-bottom: 0%;
    outline: none;
    border-radius: 6px;

}
#BgCartcheckoutBtn:hover{
    background-color:rgb(240, 88, 17);
    color:white;
    box-shadow: 0px 1px 0px #888;
}
#CarttotalAmountblw{
    font-weight: bold;
    text-align: center;
    font-size: 1.5vw;
    /* border-top:1px solid black; */
    
}
.cardblw{
    position: fixed;
}
#cartbuttonblw{
  box-shadow: 10px 10px 10px 10px  #888;
  height: 200px;
 
   /* background-color:  #2d5162; */
}
#continueShopingCart{
    color:#002e45;
    background-color: white;
    padding: 2%;
    font-weight: bold;
    align-items:center;
    margin-left: 40%;
    margin-top: 20px;
    border:none;
    font-size: 1.2vw;
    border: 2px solid #E26127;
    width: 50%;
    margin-bottom: 0%;
    border-radius: 6px;
    outline: none;
}
#continueShopingCart:hover{
    background-color:rgb(240, 88, 17);
    color:white;
    box-shadow: 0px 1px 0px #888;

}
#cartmsg{
    font-size:2vw;
    color:#E26127;
    font-weight: bold;
    text-align: center;
}
dialog{
    transition: all 0.5s ease-in-out;
}
#dialogmsg {
    align-items: right;
    margin-left: 70%;

}
#dialogmsg button{
    color:#002e45;
    background-color: white;
    padding: 2%;
    
    font-weight: bold;
    
    margin-right: 5%;
    border:none;
    font-size: 1.2vw;
    border: 2px solid #E26127;
    width: 35%;
    margin-bottom: 0%;
    border-radius: 6px;
    outline: none;
    
}

#dialogmsg button:hover{
    background-color:rgb(240, 88, 17);
    color:white;
    box-shadow: 0px 1px 0px #888;

}
}
@media screen and (max-width:991px) and (min-width:768px) 
{
    .side-Drawer{
        position: absolute;
        height: 100%;
        background: white;
        box-shadow: 2px 10px 10px rgba(0,0,0,0.5);
        position: fixed;
        /* top: 0; */
        left:0;
        /* right: 0px; */
        /* left:70%; */
        width: 35%;
        overflow: hidden;
        float: right;
        z-index: 200;
        /* display: none; */
        transform: translateX(-100%);
        transition: all 0.5s ease-out;
        /* overflow-y: scroll; */
    
    }
    ::-webkit-scrollbar {
        width: 1px;
      }
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 2px;
      }
    .side-Drawer.open{
        transform: translateX(0);
        /* display: block; */
    }
    #nobooks span{
        color: #E26127;
    }
    #cartTitle{
        /* margin: 5px; */
        /* margin-left:20px; */
        margin-bottom: 2%;
        padding-left: 10px;
        margin-right: 20px;
        background-color:white;
        color: #002e45;
        width: 100%;
        padding-bottom: 20px;
        font-size: 1.3vw;
        font-weight: bold;
        /* text-align: center; */
        /* border-bottom: 1px solid gray; */
        box-shadow: 0px 2px 2px 2px #888;
    }
    #BgCartPopupScroll{
        /* border:5px solid black; */
        height: 70vh;
        margin-bottom: 10%;
        margin-top:4%;
        overflow-y: scroll;
     
    }
    #BgCartPopupBody{
        margin-top: 1px;
        
    
        
        
    }
    #BgCartPopupBody:hover{
        margin-top: 1px;
        background-color: rgb(255, 238, 230);
        
        
    }
    #BgCartBookData img{
        
    
    }
    #BgCartBookCondPrice span{
        padding-bottom: 10px;
    }
    #BgCartBookName{
        font-size: 1.5vw;
        font-weight: bold;
        text-align: center;
    
    }
    #BgCartBookprice{
        font-size: 1vw;
        
       
    }
    #mrptag{
        margin: 5px;
    }
    #mrp{
        /* font-weight: bold; */
       color: black;
       margin-left: 5%;
        font-size: 1.3vw;
        
        /* color: #e26127; */
    }
    #mrp span{
        /* font-weight: bold; */
       color: black;
        font-size: 1.2vw;
        /* color: #e26127; */
    }
    #bookcond {
        font-size:1.2vw;
        margin-left: 22%;
        color: black;
        /* font-weight: bold; */
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    #BgCartBookshipping{
        font-size: 1vw;
        padding-top: 5px;
        
        margin-top: 5px;
        margin-left: 5%;
        color: #e26127;
        /* font-weight: bold; */
    }
    #shippingCost{
        /* padding: 30px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-left: 10px;
         */
    }
    #removebtn{
        color: #002e45;
        background-color: white;
        padding: 2.2%;
        text-align:center;
        
        /* align-items:end; */
        margin-left: 60%;
        margin-top: 20px;
        border:none;
        font-size: 1vw;
        border: 1px solid #002e45;
        width: 20%;
        margin-bottom: 0%;
        border-radius: 5px;
        transition: 0.2s;
    }
    #removebtn:hover{
        background-color: #E26127;
        color:white;
        border:1px solid #E26127;
           
    }
    #cartHeader{
        /* z-index: 500; */
       /* border: 1px solid black; */
       margin-bottom: 1px;
       
    }
    #CarttotalAmount{
     display: flex;
     justify-content: space-between;
     font-size: 1.1vw;
     padding-right: 10px;
      text-align: right;
      margin-right: 8%;
    }
    #BgCartcheckoutBtn{
        color:#002e45;
        background-color: white;
        padding: 2%;
        font-weight: bold;
        align-items:center;
        margin-left: 40%;
        margin-top: 20px;
        border:none;
        font-size: 1.2vw;
        border: 2px solid #E26127;
        width: 50%;
        margin-bottom: 0%;
        outline: none;
        border-radius: 6px;
    
    }
    #BgCartcheckoutBtn:hover{
        background-color:rgb(240, 88, 17);
        color:white;
        box-shadow: 0px 1px 0px #888;
    }
    #CarttotalAmountblw{
        font-weight: bold;
        text-align: center;
        font-size: 1.5vw;
        /* border-top:1px solid black; */
        
    }
    .cardblw{
        position: fixed;
    }
    #cartbuttonblw{
      box-shadow: 10px 10px 10px 10px  #888;
      height: 200px;
     
       /* background-color:  #2d5162; */
    }
    #continueShopingCart{
        color:#002e45;
        background-color: white;
        padding: 2%;
        font-weight: bold;
        align-items:center;
        margin-left: 40%;
        margin-top: 20px;
        border:none;
        font-size: 1.2vw;
        border: 2px solid #E26127;
        width: 50%;
        margin-bottom: 0%;
        border-radius: 6px;
        outline: none;
    }
    #continueShopingCart:hover{
        background-color:rgb(240, 88, 17);
        color:white;
        box-shadow: 0px 1px 0px #888;
    
    }
    #cartmsg{
        font-size:2vw;
        color:#E26127;
        font-weight: bold;
        text-align: center;
    }
    dialog{
        transition: all 0.5s ease-in-out;
    }
    #dialogmsg {
        align-items: right;
        margin-left: 70%;
    
    }
    #dialogmsg button{
        color:#002e45;
        background-color: white;
        padding: 2%;
        
        font-weight: bold;
        
        margin-right: 5%;
        border:none;
        font-size: 1.2vw;
        border: 2px solid #E26127;
        width: 35%;
        margin-bottom: 0%;
        border-radius: 6px;
        outline: none;
        
    }
    
    #dialogmsg button:hover{
        background-color:rgb(240, 88, 17);
        color:white;
        box-shadow: 0px 1px 0px #888;
    
    }
}

@media screen and (max-width:767px) and (min-width:539px)
{
    .side-Drawer{
        position: absolute;
        height: 100%;
        background: white;
        box-shadow: 2px 10px 10px rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left:0;
        /* right: 0px; */
        /* left:70%; */
        width: 35%;
        overflow: hidden;
        float: right;
        z-index: 200;
        /* display: none; */
        transform: translateX(-100%);
        transition: all 0.5s ease-out;
        /* overflow-y: scroll; */
    
    }
    ::-webkit-scrollbar {
        width: 1px;
      }
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 2px;
      }
    .side-Drawer.open{
        transform: translateX(0);
        /* display: block; */
    }
    #nobooks span{
        color: #E26127;
    }
    #cartTitle{
        /* margin: 5px; */
        /* margin-left:20px; */
        margin-bottom: 2%;
        padding-left: 10px;
        margin-right: 20px;
        background-color:white;
        color: #002e45;
        width: 100%;
        padding-bottom: 20px;
        font-size: 2vw;
        font-weight: bold;
        /* text-align: center; */
        /* border-bottom: 1px solid gray; */
        box-shadow: 0px 2px 2px 2px #888;
    }
    #BgCartPopupScroll{
        /* border:5px solid black; */
        height: 70vh;
        margin-bottom: 10%;
        margin-top:4%;
        overflow-y: scroll;
     
    }
    #BgCartPopupBody{
        margin-top: 1px;
        
    
        
        
    }
    #BgCartPopupBody:hover{
        margin-top: 1px;
        background-color: rgb(255, 238, 230);
        
        
    }
    #BgCartBookData img{
        
    
    }
    #BgCartBookCondPrice span{
        padding-bottom: 10px;
    }
    #BgCartBookName{
        font-weight: bold;
        text-align: center;
    
    }
    #BgCartBookprice{
        font-size: 1.5vw;
        
       
    }
    #mrptag{
        margin: 5px;
        
    }
    #mrp{
        /* font-weight: bold; */
       color: black;
        font-size: 1.5vw;
        
        /* color: #e26127; */
    }
    #mrp span{
        /* font-weight: bold; */
       color: black;
        font-size: 1.5vw;
        /* color: #e26127; */
    }
    #bookcond {
        font-size:1.5vw;
        color: black;
        /* font-weight: bold; */
        /* padding-left: 5px; */
        /* padding-top: 10px; */
        padding-bottom: 5px;
    }
    #BgCartBookshipping{
        font-size: 1.5vw;
        padding-top: 5px;
        padding-left: 3px;
        margin-top: 5px;
        color: #e26127;
        /* font-weight: bold; */
    }
    #shippingCost{
        /* padding: 30px; */
        padding-bottom: 0px;
        /* padding-left: 10px; */
        margin-left: 10px;
        
    }
    #removebtn{
        color: #002e45;
        background-color: white;
        padding: 2.2%;
        text-align:center;
        
        /* align-items:end; */
        margin-left: 70%;
        /* margin-top: 20px; */
        border:none;
        font-size: 1.5vw;
        border: 1px solid #002e45;
        width: 20%;
        margin-bottom: 0%;
        border-radius: 5px;
        transition: 0.2s;
    }
    #removebtn:hover{
        background-color: #E26127;
        color:white;
        border:1px solid #E26127;
           
    }
    #cartHeader{
        /* z-index: 500; */
       /* border: 1px solid black; */
       margin-bottom: 1px;
       
    }
    #CarttotalAmount{
     display: flex;
     justify-content: space-between;
     font-size: 1.5vw;
     padding-right: 10px;
      text-align: right;
      margin-right: 8%;
    }
    #BgCartcheckoutBtn{
        color:#002e45;
        background-color: white;
        padding: 2%;
        font-weight: bold;
        align-items:center;
        margin-left: 40%;
        margin-top: 20px;
        border:none;
        font-size: 1.5vw;
        border: 2px solid #E26127;
        width: 50%;
        margin-bottom: 0%;
        outline: none;
        border-radius: 6px;
    
    }
    #BgCartcheckoutBtn:hover{
        background-color:rgb(240, 88, 17);
        color:white;
        box-shadow: 0px 1px 0px #888;
    }
    #CarttotalAmountblw{
        font-weight: bold;
        text-align: center;
        font-size: 1.5vw;
        /* border-top:1px solid black; */
        
    }
    .cardblw{
        position: fixed;
    }
    #cartbuttonblw{
      box-shadow: 10px 10px 10px 10px  #888;
      height: 200px;
     
       /* background-color:  #2d5162; */
    }
    #continueShopingCart{
        color:#002e45;
        background-color: white;
        padding: 2%;
        font-weight: bold;
        align-items:center;
        margin-left: 40%;
        margin-top: 20px;
        border:none;
        font-size: 1.5vw;
        border: 2px solid #E26127;
        width: 50%;
        margin-bottom: 0%;
        border-radius: 6px;
        outline: none;
    }
    #continueShopingCart:hover{
        background-color:rgb(240, 88, 17);
        color:white;
        box-shadow: 0px 1px 0px #888;
    
    }
    #cartmsg{
        font-size:2vw;
        color:#E26127;
        font-weight: bold;
        text-align: center;
    }
    dialog{
        transition: all 0.5s ease-in-out;
    }
    #dialogmsg {
        align-items: right;
        margin-left: 70%;
    
    }
    #dialogmsg button{
        color:#002e45;
        background-color: white;
        padding: 2%;
        
        font-weight: bold;
        
        margin-right: 5%;
        border:none;
        font-size: 1.5vw;
        border: 2px solid #E26127;
        width: 35%;
        margin-bottom: 0%;
        border-radius: 6px;
        outline: none;
        
    }
    
    #dialogmsg button:hover{
        background-color:rgb(240, 88, 17);
        color:white;
        box-shadow: 0px 1px 0px #888;
    
    }
}
@media screen and (max-width:538px){
    .side-Drawer{
        position: absolute;
        height: 100%;
        background: white;
        box-shadow: 2px 10px 10px rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left:0;
        /* right: 0px; */
        /* left:70%; */
        width: 60%;
        overflow: hidden;
        float: right;
        z-index: 200;
        /* display: none; */
        transform: translateX(-100%);
        transition: all 0.5s ease-out;
        /* overflow-y: scroll; */
    
    }
    ::-webkit-scrollbar {
        width: 1px;
      }
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 2px;
      }
    .side-Drawer.open{
        transform: translateX(0);
        /* display: block; */
    }
    #nobooks span{
        color: #E26127;
    }
    #cartTitle{
        font-family: 'Lato', sans-serif;
       
        margin-bottom: 2%;
        padding-left: 10px;
        margin-right: 2px;
        background-color:white;
        color: #002e45;
        width: 100%;
        padding-bottom: 20px;
        font-size: 3.5vw;
        font-weight: bold;
        /* text-align: center; */
        /* border-bottom: 1px solid gray; */
        box-shadow: 0px 2px 2px 2px #888;
    }
    #BgCartPopupScroll{
        /* border:5px solid black; */
        height: 70vh;
        margin-bottom: 10%;
        margin-top:4%;
        overflow-y: scroll;
     
    }
    #BgCartPopupBody{
        margin-top: 1px;
        
    
        
        
    }
    #BgCartPopupBody:hover{
        margin-top: 1px;
        background-color: rgb(255, 238, 230);
        
        
    }
    #BgCartBookData img{
        
    
    }
    #BgCartBookCondPrice span{
        padding-bottom: 10px;
    }
    #BgCartBookName{
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 2.8vw;
    
    }
    #BgCartBookprice{
        font-family: 'Lato', sans-serif;
        font-size: 3vw;
        
       
    }

    #mrptag{
        margin: 8px;
        
    }
    #mrp{
        /* font-weight: bold; */
       color: black;
       margin-left:5px;
        font-size: 3vw;
        
        /* color: #e26127; */
    }
   
    #mrp span{
        /* font-weight: bold; */
       color: black;
        font-size: 3vw;
        /* color: #e26127; */
    }
    
    #bookcond {
        font-family: 'Lato', sans-serif;
        font-size:3vw;
        color: black;
        /* font-weight: bold; */
        margin-left: 55px;
        padding-left:0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #BgCartBookshipping{
        font-family: 'Lato', sans-serif;
        font-size: 3vw;
        padding-top: -25px;
        padding-left: 5px;
        margin-top: -25px;
        color: #e26127;
        /* font-weight: bold; */
    }
    #shippingCost{
        padding: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-left: 10px;
        
    }
    #removebtn{
        
        font-family: 'Lato', sans-serif;
        color: #002e45;
        background-color: white;
        padding: 2.2%;
        text-align:center;
        
        /* align-items:end; */
        margin-left: 60%;
        /* margin-top: 20px; */
        border:none;
        font-size: 2.5vw;
        border: 1px solid #002e45;
        width: 20%;
        margin-bottom: 0%;
        border-radius: 5px;
        transition: 0.2s;
    }
    #removebtn:hover{
        background-color: #E26127;
        color:white;
        border:1px solid #E26127;
           
    }
    #cartHeader{
        /* z-index: 500; */
       /* border: 1px solid black; */
       margin-bottom: 1px;
       
    }
    #CarttotalAmount{
        font-family: 'Lato', sans-serif;
     display: flex;
     justify-content: space-between;
     font-size: 3vw;
     padding-right: 10px;
      text-align: right;
      margin-right: 8%;
    }
    #BgCartcheckoutBtn{
        font-family: 'Lato', sans-serif;
        color:#002e45;
        background-color: white;
        padding: 2%;
        font-weight: bold;
        align-items:center;
        margin-left: 40%;
        margin-top: 20px;
        border:none;
        font-size: 3vw;
        border: 2px solid #E26127;
        width: 60%;
        margin-bottom: 0%;
        outline: none;
        border-radius: 6px;
    
    }
    #BgCartcheckoutBtn:hover{
        background-color:rgb(240, 88, 17);
        color:white;
        box-shadow: 0px 1px 0px #888;
    }
    #CarttotalAmountblw{
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 5vw;
        /* border-top:1px solid black; */
        
    }
    .cardblw{
        position: fixed;
    }
    #cartbuttonblw{
      box-shadow: 10px 10px 10px 10px  #888;
      height: 200px;
     
       /* background-color:  #2d5162; */
    }
    #continueShopingCart{
        font-family: 'Lato', sans-serif;
        color:#002e45;
        background-color: white;
        padding: 2%;
        font-weight: bold;
        align-items:center;
        margin-left: 40%;
        margin-top: 20px;
        border:none;
        font-size: 3vw;
        border: 2px solid #E26127;
        width: 60%;
        margin-bottom: 0%;
        border-radius: 6px;
        outline: none;
    }
    #continueShopingCart:hover{
        background-color:rgb(240, 88, 17);
        color:white;
        box-shadow: 0px 1px 0px #888;
    
    }
    #cartmsg{
        font-family: 'Lato', sans-serif;
        font-size:3vw;
        color:#E26127;
        font-weight: bold;
        text-align: center;
    }
    dialog{
        transition: all 0.5s ease-in-out;
    }
    #dialogmsg {
        align-items: right;
        margin-left: 70%;
    
    }
    #dialogmsg button{
        font-family: 'Lato', sans-serif;
        color:#002e45;
        background-color: white;
        padding: 2%;
        
        font-weight: bold;
        
        margin-right: 5%;
        border:none;
        font-size: 2vw;
        border: 2px solid #E26127;
        width: 35%;
        margin-bottom: 0%;
        border-radius: 6px;
        outline: none;
        
    }
    
    #dialogmsg button:hover{
        background-color:rgb(240, 88, 17);
        color:white;
        box-shadow: 0px 1px 0px #888;
    
    }
}