@media screen and (min-width:992px)  {
p{
    margin-bottom: 0%      !important;
}
#productBody{
    /* background-color: red; */
    width: 100%;
    font-family: Lato,sans-serif;
    /* height: 900px; */
    margin-top: 5%;
    /* padding: 4%; */
    /* padding-top: 2%;    */
}
#productLeft{
width:60%;
background-color: white;
float: left;
border-radius: 5px;
padding: 2%;
/* height: 30vw; */
}
#productImg{
    float: left;
    padding: 1%;
    box-shadow: 0 1px 5px #888;
    /* width: 30%; */
    /* background-color: aqua; */
    /* width: 182px;
    height: 240px; */
    
}

#productLeft img{
    width: 15vw;
    height: 18vw;
    margin-left: 0%;
    /* margin-top: 4%; */
}
#rightpartdetail{
    border:2px solid blue;
    width: 65%;
    margin-left: 30%;
    /* font-size: 2px; */
}

#productDetails{
  
}
#productTitle{
    font-weight: bold;
    font-size: 1.5vw;
    color: #002e45;
    margin-left: 30%

}
#productPages,#productPublic,#productAuthor{
    color:black;
    font-size: 1.2vw;
    padding: 2px;
}

#isbntext{
    font-weight: normal;
    color:black;
}
#productPages span,#productPublic span,#productAuthor span{
    font-weight: bold;
    color:#002e45;
}


#NoproductPages{
    display: none;
}
#NopublicationDate{
    display: none;
}
#productPublicName,#productAuthorName{
    color: black;
}
#ProductisbnFormat{
    width: 100%;
    
}
#ProducteditionLanguage span,#ProductisbnFormat span{
    
    font-size: 1.2vw;
    font-weight: normal;

}
#edition{
    float: right; 
    margin-right: 0%; 
}
#language{
    float: left;
   
    min-width: 40%;
}
#format{
    margin-left: -1%;
}
#rack_no{
    float: left; 
    /* margin-left: 25.6%;  */
    width: 39%;
}
#weight{
    /* margin-left: 14%; */
}
#NOrack_no{
    display: none;
}
#Noisbn{
    display: none;
}
#Noedition{
    display: none;
}
#PincodeChecker{
    display: inline;
    float: right;
    width: 66%;
    font-size: 1.5vw;
    /* border-bottom: 1px solid #00baf2; */
    margin-bottom: 5%;
    /* background-color: aqua; */
}
#checkButton{
    /* float: right; */
    background-color: transparent;
    color: #00baf2;
    /* display: inline; */
    border:0px;
    padding: 1%;
    margin-top: 3%;
}
#InputPincodeChecker{
    float: right;
    width: 170px;
    height: 3vw;
    margin-right:10%;
    padding: 1%;
    border:none;
    border-radius:5px;
    box-shadow: 0px 1px 5px #888;
    outline: none;
    font-weight: bold;
    background-color: #fbe1be;
    border: 0px solid #002e45;
    transition: all 0.2s ease-in;

}
#InputPincodeChecker:hover{
    box-shadow: 2px 2px 2px 2px #888;
}
#pincodetext{ 
    border:1px solid red;
    font-size: 10px;
   color:green;
   width: 200px;
   text-align: center;
   margin-left:50%;
   margin-top:45px;
  
}
#productRight{
    /* float: right; */
    /* background-color: azure; */
    margin-left: 1%;
    float: left;
    width: 30%;
    box-shadow: 0px 5px 7px #888;
    border-radius: 5px;
    border: 0px solid #c8c8c8;

    border-radius: 5px;
}

#productRightBook{
    background-color: white;
    border-bottom: 1px solid #002e45;
    color: #002e45;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
 
    
}
#productMRP{

    font-size: 1.3vw;
    color: black;
    margin-top: 0%;
    
}
#SOproductMRP{
    padding-left: 21%;
    font-size: 120%;
    color: black;
    margin-top: 0%;
}
#productPrice{
    text-decoration: line-through;
    color: black;
}
#productFREE{
    font-family: Lato,sans-serif;
    color: #e26127;
    font-weight:bold ;
    padding-left: 1%;
    font-size: 1.3vw;
}
#productShipping{
    text-align: left;
    margin-right: 0%;
    font-size: 1.3vw;
    font-weight: bold;
}
/* #productShippingCost{
    margin-left: 3%;
    position: absolute;
    margin-top: -1%;
} */
#productRightCond{
    margin-top: 2%;
    font-size: 1.3vw;
    padding: 5px;
   
    display: contents;
}
#SelectBookText{
    text-align: center;
}
#productRightCond input[type=radio]{
    width: 20px;   
    height: 20px;
    padding-left: 20px;
    
    
    /* height: 20%; */
}
#productRightDelivered{
    text-align: center;
    padding-bottom: 5%;
    font-size: 1.5vw;
}

#slectedColor{
    color: #e26127;
    font-size: 1.3vw;
    font-weight: bold;
}
#totalQty{
    font-size: 1vw;
    color: green;
    padding-left: 1%;
}
#TotalAmount{
    font-size: 1.3vw;
    font-weight: bold;
}
#TotalAmount span{
    color:#e26127;
}
#productRightDelivered p{
    font-size: 1.3vw;
    padding-bottom: 5px;
}


#AddToCartBtn{
    color: #002e45;
    background-color: white;
    padding: 1.5%;
    border:none;
    font-size: 1.3vw;
    font-weight: bold;
    width: 80%;
    border:2px solid #e26127;
    border-radius: 5px;
    margin-bottom: 4%;
    transition: all 0.2s ease-in; 
}
#AddToCartBtn:hover{
    background-color: #e26127;
    color: white;
}

#checkdiscription{
    /* border:1px solid brown; */
    margin-top: 10px;
    height:500px;
}
#description{
    /* border:2px solid crimson; */
}

#productleftBottom{
    /* background-color: blue; */
    margin-top: 15%;
    /* height: 300px;    height*/
    border:0px solid #c8c8c8;
    box-shadow: 0px 2px 5px #888;
    border-radius: 5px;
    font-size: 1.2vw;
    text-align: justify;
}
#productleftBottom p{
    background-color: white;
    color: #002e45;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #002e45;
    padding: 1%
}
#Productdescription{
    text-align: center;
    width: 50%;
    /* padding: 0% 20%; */
    /* border-right: 1px solid white; */
    
}
#NoproductleftBottom{
    display: none;
}
#Productreviews{
    float: right;
    padding: 0% 20%;
}
#productleftBottomData{
    padding: 1%;
    overflow: hidden;
    height: 85%;
    /* background-color: #00baf2; */
}

#productRightWishlist{
    margin-top: -8%;
    float: right;
    margin-right: 4%;
    cursor: pointer;
    font-size: 1.2vw;
    color: white;
}
#productRightFirstPart{
    background-color: white;

}
#productRightdetails{
    padding: 0% 5%;
}
#productRightdetailsSoldOut{
    padding: 0% 5%;
    height: 250px;
    /* background-color: #e26127; */
}

#SoldOut{
    text-align: center;
    /* padding: 10%; */
    font-size: 120%;
    color: red;
    padding: 2%;
    margin-top: 10%;    
}

#NotifyMeBtn{
    color: white;
    background-color: #00baf2;
    padding: 1%;
    border:none;
    font-size: 70%;
    font-weight: bold;
    width: 30%;
    margin: 1%;
    border-radius: 3px;
}

#NotifySubmitBtn{
    color: white;
    background-color: #00baf2;
    padding: 2%;
    border:none;
    font-size: 70%;
    font-weight: bold;
    width: 40%;
    margin: 1%;
    border-radius: 3px;
}
#NotifyInput{
    width: 80%;
}

}
/* end of desktop*/
/* tab */
@media screen and (max-width:991px) and (min-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    p{
        margin:0px;
    }
    #productBody{
        /* background-color: red; */
        width: 100%;
        font-family: Lato,sans-serif;
        /* height: 900px; */
        /* margin-top: 5%; */
        /* padding: 4%; */
        /* padding-top: 2%;    */
    }
    #productLeft{
    width:65%;
    background-color: white;
    float: left;
    border-radius: 5px;
    padding: 2%;
    /* height: 30vw; */
    }
    #productImg{
        float: left;
        padding: 1%;
        box-shadow: 0 1px 5px #888;
        /* width: 30%; */
        /* background-color: aqua; */
        /* width: 182px;
        height: 240px; */
        
    }
    
    #productLeft img{
        width: 15vw;
        height: 18vw;
        margin-left: 0%;
        /* margin-top: 4%; */
    }
    #rightpartdetail{
        border:2px solid blue;
        width: 70%;
        margin-left: 30%;
        /* font-size: 2px; */
    }
    
    #productDetails{
      
    }
    #productTitle{
        font-weight: bold;
        font-size: 2vw;
        color: #002e45;
        margin-left: 30%
    
    }
    #productPages,#productPublic,#productAuthor{
        color:black;
        font-size: 1.5vw;
        padding: 0px;
        margin:0px;
    }
    
    #isbntext{
        font-weight: normal;
        color:black;
    }
    #productPages span,#productPublic span,#productAuthor span{
        font-weight: bold;
        color:#002e45;
        margin:0px;
    }
    
    
    #NoproductPages{
        display: none;
    }
    #NopublicationDate{
        display: none;
    }
    #productPublicName,#productAuthorName{
        color: black;
    }
    #ProductisbnFormat{
        width: 100%;
        
    }
    #ProducteditionLanguage span,#ProductisbnFormat span{
        
        font-size: 1.5vw;
        font-weight: normal;
    
    }
    #edition{
        float: right; 
        margin-right: 0%; 
    }
    #language{
        float: left;
       
        min-width: 40%;
    }
    #format{
        margin-left: -1%;
    }
    #rack_no{
        float: left; 
        /* margin-left: 25.6%;  */
        width: 39%;
    }
    #weight{
        /* margin-left: 14%; */
    }
    #NOrack_no{
        display: none;
    }
    #Noisbn{
        display: none;
    }
    #Noedition{
        display: none;
    }
    #PincodeChecker{
        display: inline;
        float: right;
        width: 66%;
        font-size: 1.5vw;
        /* border-bottom: 1px solid #00baf2; */
        text-align: center;
        /* background-color: aqua; */
    }
  
    #InputPincodeChecker{
        float: right;
        width: 170px;
        height: 3vw;
        margin-right:10%;
        padding: 1%;
        border:none;
        border-radius:5px;
        box-shadow: 0px 1px 5px #888;
        outline: none;
        font-weight: bold;
        background-color: #fbe1be;
        border: 0px solid #002e45;
        transition: all 0.2s ease-in;
    
    }
    #InputPincodeChecker:hover{
        box-shadow: 2px 2px 2px 2px #888;
    }
    #pincodetext{ 
        border:1px solid red;
        font-size: 10px;
       color:green;
       width: 200px;
       text-align: center;
       margin-right:20px;
       /* margin-top:30px; */
      float: right;
    }
    #productRight{
        /* float: right; */
        /* background-color: azure; */
        margin-left: 1%;
        float: left;
        width: 30vw;
        box-shadow: 0px 5px 7px #888;
        border-radius: 5px;
        border: 0px solid #c8c8c8;
    
        border-radius: 5px;
    }
    
    #productRightBook{
        background-color: white;
        border-bottom: 1px solid #002e45;
        color: #002e45;
        font-weight: bold;
        font-size: 1.5vw;
        text-align: center;
     
        
    }
    #productMRP{
    
        font-size: 1.5vw;
        color: black;
        margin-top: 0%;
        
    }
    #SOproductMRP{
        padding-left: 21%;
        font-size: 120%;
        color: black;
        margin-top: 0%;
    }
    #productPrice{
        text-decoration: line-through;
        color: black;
    }
    #productFREE{
        font-family: Lato,sans-serif;
        color: #e26127;
        font-weight:bold ;
        padding-left: 1%;
        font-size: 1.5vw;
    }
    #productShipping{
        text-align: left;
        margin-right: 0%;
        font-size: 1.5vw;
        font-weight: bold;
    }
    /* #productShippingCost{
        margin-left: 3%;
        position: absolute;
        margin-top: -1%;
    } */
    #productRightCond{
        margin-top: 2%;
        font-size: 1.5vw;
        padding: 5px;
       
        display: contents;
    }
    #SelectBookText{
        text-align: center;
    }
    #productRightCond input[type=radio]{
        width: 15px;   
        height: 15px;
        padding-left: 20px;
        
        
        /* height: 20%; */
    }
    #productRightDelivered{
        text-align: center;
        padding-bottom: 5%;
        font-size: 1.5vw;
    }
    
    #slectedColor{
        color: #e26127;
        font-size: 1.5vw;
        font-weight: bold;
    }
    #totalQty{
        font-size: 1vw;
        color: green;
        padding-left: 1%;
    }
    #TotalAmount{
        font-size: 1.5vw;
        font-weight: bold;
    }
    #TotalAmount span{
        color:#e26127;
    }
    #productRightDelivered p{
        font-size: 1.5vw;
        padding-bottom: 1px;
    }
    
    
    #AddToCartBtn{
        color: #002e45;
        background-color: white;
        padding: 1.5%;
        border:none;
        font-size: 1.5vw;
        font-weight: bold;
        width: 80%;
        border:2px solid #e26127;
        border-radius: 5px;
        margin-bottom: 4%;
        transition: all 0.2s ease-in; 
    }
    #AddToCartBtn:hover{
        background-color: #e26127;
        color: white;
    }
    
    #checkdiscription{
        /* border:1px solid brown; */
        margin-top: 10px;
        /* height:500px; */
    }
    #description{
        /* border:2px solid crimson; */
    }
    
    #productleftBottom{
        /* background-color: blue; */
        margin-top: 20%;
        /* height: 300px;    height*/
        border:0px solid #c8c8c8;
        box-shadow: 0px 2px 5px #888;
        border-radius: 5px;
        font-size: 1.5vw;
        text-align: justify;
    }
    #productleftBottom p{
        background-color: white;
        color: #002e45;
        font-size: 2vw;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #002e45;
        padding: 1%
    }
    #Productdescription{
        text-align: center;
        width: 50%;
        /* padding: 0% 20%; */
        /* border-right: 1px solid white; */
        
    }
    #NoproductleftBottom{
        display: none;
    }
    #Productreviews{
        float: right;
        padding: 0% 20%;
    }
    #productleftBottomData{
        padding: 1%;
        overflow: hidden;
    
        height: 85%;
        /* background-color: #00baf2; */
    }
    
    #productRightWishlist{
        margin-top: -8%;
        float: right;
        margin-right: 4%;
        cursor: pointer;
        font-size: 1.2vw;
        color: white;
    }
    #productRightFirstPart{
        background-color: white;
    
    }
    #productRightdetails{
        padding: 0% 5%;
    }
    #productRightdetailsSoldOut{
        padding: 0% 5%;
        height: 250px;
        /* background-color: #e26127; */
    }
    
    #SoldOut{
        text-align: center;
        /* padding: 10%; */
        font-size: 120%;
        color: red;
        padding: 2%;
        margin-top: 10%;    
    }
    
    #NotifyMeBtn{
        color: white;
        background-color: #00baf2;
        padding: 1%;
        border:none;
        font-size: 70%;
        font-weight: bold;
        width: 30%;
        margin: 1%;
        border-radius: 3px;
    }
    
    #NotifySubmitBtn{
        color: white;
        background-color: #00baf2;
        padding: 2%;
        border:none;
        font-size: 70%;
        font-weight: bold;
        width: 40%;
        margin: 1%;
        border-radius: 3px;
    }
    #NotifyInput{
        width: 80%;
    }
    
    }
    /* end of tab*/
    /* large screen mobile */
@media screen and (max-width:767px) and (min-width:539px){
   *{
        margin: 0px;
        padding: 0px;
    }
    p{
        margin:0px;
    }
    #productBody{
        /* background-color: red; */
        width: 90%;
        font-family: Lato,sans-serif;
        /* height: 900px; */
        /* margin-top: 5%; */
        /* padding: 4%; */
        /* padding-top: 2%;    */
    }
    #productLeft{
    width:100%;
    background-color: white;
    /* float: left; */
    border-radius: 5px;
    padding: 2%;
    /* height: 30vw; */
    }
    #productImg{
        float: left;
        padding: 1%;
        box-shadow: 1px 5px 5px #888;
        width: 22.5vw;
        /* background-color: aqua; */
        /* width: 182px;
        height: 240px; */
        
    }
    
    #productLeft img{
        width: 21vw;
        height: 24vw;
        margin-left: 0%;
        /* margin-top: 4%; */
    }
    #rightpartdetail{
        border:2px solid blue;
        /* width: 80%; */
        margin-left: 30%;
        /* font-size: 2px; */
    }
    
    #productDetails{
      
    }
    #productTitle{
        font-weight: bold;
        font-size: 3.5vw;
        color: #002e45;
        margin-left: 30%
    
    }
    #productPages,#productPublic,#productAuthor{
        color:black;
        font-size: 3vw;
        padding: 0px;
        margin:0px;
    }
    
    #isbntext{
        font-weight: normal;
        color:black;
    }
    #productPages span,#productPublic span,#productAuthor span{
        font-weight: bold;
        color:#002e45;
        margin:0px;
    }
    
    
    #NoproductPages{
        display: none;
    }
    #NopublicationDate{
        display: none;
    }
    #productPublicName,#productAuthorName{
        color: black;
    }
    #ProductisbnFormat{
        /* width: 100%; */
        
    }
    #ProducteditionLanguage span,#ProductisbnFormat span{
        
        font-size: 3vw;
        font-weight: normal;
    
    }
    #edition{
        float: right; 
        margin-right: 0%; 
    }
    #language{
        /* float: left; */
       
        min-width: 40%;
    }
    #format{
        margin-left: 25%;
    }
    #rack_no{
        /* float: left;  */
        /* margin-left: 25.6%;  */
        width: 39%;
    }
    #weight{
        margin-top: -5%;
        margin-left: 14%;
    }
    #NOrack_no{
        display: none;
    }
    #Noisbn{
        display: none;
    }
    #Noedition{
        display: none;
    }
    #PincodeChecker{
        display: inline;
        float: right;
        width: 66%;
        margin-bottom: 10px;
        font-size: 3vw;
        /* border-bottom: 1px solid #00baf2; */
        text-align: center;
        /* background-color: aqua; */
    }
  
    #InputPincodeChecker{
        float: right;
        width: 170px;
        height: 4vw;
        margin-right:10%;
        padding: 1%;
        border:none;
        border-radius:5px;
        box-shadow: 0px 1px 5px #888;
        outline: none;
        font-weight: bold;
        background-color: #fbe1be;
        border: 0px solid #002e45;
        transition: all 0.2s ease-in;
    
    }
    #InputPincodeChecker:hover{
        box-shadow: 2px 2px 2px 2px #888;
    }
    #pincodetext{ 
        border:1px solid red;
        font-size: 10px;
       color:green;
       width: 200px;
       text-align: center;
       margin-right:20px;
       /* margin-top:30px; */
      float: right;
    }
    #codtext{
        float: right;
    }
    
    #productRight{
        /* float: right; */
        /* background-color: azure; */
        /* margin-left: 1%; */
        margin-left: 10%;
        margin-top: 15%;
        /* padding-top: 10%; */
        align-items: center;
        width: 90%;
        box-shadow: 0px 5px 7px #888;
        border-radius: 5px;
        border: 0px solid #c8c8c8;
        /* border:2px solid red; */
        border-radius: 5px;
    }
    #productRightFirstPart{
        /* border: 3px solid orange; */
    }
    #productRightBook{

    
        background-color: white;
        border-bottom: 1px solid #002e45;
        color: #002e45;
        font-weight: bold;
        font-size: 3.5vw;
        text-align: center;
     
        
    }
    #productMRP{
    
        font-size: 3vw;
        color: black;
        margin-top: 0%;
        
    }
    #SOproductMRP{
        padding-left: 21%;
        font-size: 120%;
        color: black;
        margin-top: 0%;
    }
    #productPrice{
        text-decoration: line-through;
        color: black;
    }
    #productFREE{
        font-family: Lato,sans-serif;
        color: #e26127;
        font-weight:bold ;
        padding-left: 1%;
        font-size: 3vw;
    }
    #productShipping{
        text-align: left;
        margin-right: 0%;
        font-size: 3vw;
        font-weight: bold;
    }
    /* #productShippingCost{
        margin-left: 3%;
        position: absolute;
        margin-top: -1%;
    } */
    #productRightCond{
        margin-top: 2%;
        font-size: 3vw;
        padding: 5px;
       
        display: contents;
    }
    #SelectBookText{
        text-align: center;
    }
    #productRightCond input[type=radio]{
        width: 15px;   
        height: 15px;
        padding-left: 20px;
        
        
        /* height: 20%; */
    }
    #productRightDelivered{
        text-align: center;
        padding-bottom: 5%;
        font-size: 3vw;
    }
    
    #slectedColor{
        color: #e26127;
        font-size: 3vw;
        font-weight: bold;
    }
    #totalQty{
        font-size: 2.5vw;
        color: green;
        padding-left: 1%;
    }
    #TotalAmount{
        font-size: 3vw;
        font-weight: bold;
    }
    #TotalAmount span{
        color:#e26127;
    }
    #productRightDelivered p{
        font-size: 3vw;
        padding-bottom: 1px;
    }
    
    
    #AddToCartBtn{
        color: #002e45;
        background-color: white;
        padding: 1.5%;
        border:none;
        font-size: 3vw;
        font-weight: bold;
        width: 70%;
        border:2px solid #e26127;
        border-radius: 5px;
        margin-bottom: 4%;
        transition: all 0.2s ease-in; 
    }
    #AddToCartBtn:hover{
        background-color: #e26127;
        color: white;
    }
    
    #checkdiscription{
        /* border:1px solid brown; */
        margin-top: 10px;
        /* height:500px; */
    }
    #description{
        /* border:2px solid crimson; */
    }
    
    #productleftBottom{
        /* background-color: blue; */
        /* margin-top: 20%;
        width:500px; */
        margin-left: 10%;
        margin-right: 10%;
        width: 90%;
        /* height: 300px;    height*/
        border:0px solid #c8c8c8;
        box-shadow: 0px 2px 5px #888;
        border-radius: 5px;
        font-size: 3vw;
        text-align: justify;
    }
    #productleftBottom p{
        background-color: white;
        color: #002e45;
        font-size: 3vw;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #002e45;
        padding: 1%
    }
    #Productdescription{
        text-align: center;
        width: 50%;
        /* padding: 0% 20%; */
        /* border-right: 1px solid white; */
        
    }
    #NoproductleftBottom{
        display: none;
    }
    #Productreviews{
        float: right;
        padding: 0% 20%;
    }
    #productleftBottomData{
        padding: 1%;
        overflow: hidden;
    
        height: 85%;
        /* background-color: #00baf2; */
    }
    
    #productRightWishlist{
        margin-top: -8%;
        float: right;
        margin-right: 4%;
        cursor: pointer;
        font-size: 2.2vw;
        color: white;
    }
    #productRightFirstPart{
        background-color: white;
    
    }
    #productRightdetails{
        padding: 0% 5%;
    }
    #productRightdetailsSoldOut{
        padding: 0% 5%;
        height: 250px;
        /* background-color: #e26127; */
    }
    
    #SoldOut{
        text-align: center;
        /* padding: 10%; */
        font-size:3vw;
        color: red;
        padding: 2%;
        margin-top: 10%;    
    }
    
    #NotifyMeBtn{
        color: white;
        background-color: #00baf2;
        padding: 1%;
        border:none;
        font-size: 3vw;
        font-weight: bold;
        width: 30%;
        margin: 1%;
        border-radius: 3px;
    }
    
    #NotifySubmitBtn{
        color: white;
        background-color: #00baf2;
        padding: 2%;
        border:none;
        font-size: 3vw;
        font-weight: bold;
        width: 40%;
        margin: 1%;
        border-radius: 3px;
    }
    #NotifyInput{
        width: 80%;
    }
    
    }
    @media screen and (max-width:538px){
        *{
            margin: 0px;
            padding: 0px;
            
        }
        p{
            margin:0px;
        }
        #productBody{
            /* background-color: red; */
            width: 90%;
            font-family: Lato,sans-serif;
            /* height: 900px; */
            margin-top: 25%;
            /* padding: 4%; */
            /* padding-top: 2%;    */
        }
        #productLeft{
        width:100%;
        /* background-color: white; */
        /* float: left; */
        border-radius: 5px;
        padding: 2%;
        /* height: 30vw; */
        }
        #productImg{
            float: left;
            padding: 1%;
            box-shadow: 1px 5px 5px #888;
            border:1px solid blue;
            width: 26.7vw;
            /* background-color: aqua; */
            /* width: 182px;
            height: 240px; */
            
        }
        
        #productLeft img{
            width: 25vw;
            height: 30vw;
            margin-left: 0%;
            /* margin-top: 4%; */
        }
        #rightpartdetail{
            border:2px solid blue;
            text-align: start;
            /* width: 80%; */
            margin-left: 32%;
            /* font-size: 2px; */
        }
        
        #productDetails{
          
        }
        #productTitle{
            font-weight: bold;
            font-size: 3.5vw;
            color: #002e45;
            margin-left: 32%
        
        }
        #productPages,#productPublic,#productAuthor{
            color:black;
            font-size: 3vw;
            padding: 0px;
            margin:0px;
        }
        
        #isbntext{
            font-weight: normal;
            color:black;
        }
        #productPages span,#productPublic span,#productAuthor span{
            font-weight: bold;
            color:#002e45;
            margin:0px;
        }
        
        
        #NoproductPages{
            display: none;
        }
        #NopublicationDate{
            display: none;
        }
        #productPublicName,#productAuthorName{
            color: black;
        }
        #ProductisbnFormat{
            /* width: 100%; */
            
        }
        #ProducteditionLanguage span,#ProductisbnFormat span{
            
            font-size: 3vw;
            font-weight: normal;
        
        }
        #edition{
            float: right; 
            margin-right: 5%; 
        }
        #language{
            float: left;
           
            min-width: 60%;
        }
        #format{
            /* margin-left: 2%; */
        }
        #rack_no{
            float: left; 
            /* margin-left: 25.6%;  */
            width: 60%;
        }
        #weight{
            margin-left: 0%;
        }
        #NOrack_no{
            display: none;
        }
        #Noisbn{
            display: none;
        }
        #Noedition{
            display: none;
        }
        #PincodeChecker{
            display: inline;
            float: right;
            width: 66%;
            margin-bottom: 10px;
            font-size: 3vw;
            /* border-bottom: 1px solid #00baf2; */
            text-align: center;
            /* background-color: aqua; */
        }
      
        #InputPincodeChecker{
            float: right;
            width: 170px;
            height: 4vw;
            margin-right:10%;
            padding: 1%;
            border:none;
            border-radius:5px;
            box-shadow: 0px 1px 5px #888;
            outline: none;
            font-weight: bold;
            background-color: #fbe1be;
            border: 0px solid #002e45;
            transition: all 0.2s ease-in;
        
        }
        #InputPincodeChecker:hover{
            box-shadow: 2px 2px 2px 2px #888;
        }
        #pincodetext{ 
            border:1px solid red;
            font-size: 10px;
           color:green;
           width: 200px;
           text-align: center;
           margin-right:20px;
           /* margin-top:30px; */
          float: right;
        }
        
        #productRight{
            /* float: left; */
            /* background-color: azure; */
            /* margin-left: 1%; */
            margin-left: 5%;
            margin-right:5%;
            margin-top: 20%;
            /* padding-top: 10%; */
            align-items: center;
            width: 100%;
            box-shadow: 0px 5px 7px #888;
            border-radius: 5px;
            border: 0px solid #c8c8c8;
            /* border:2px solid red; */
            border-radius: 5px;
        }
        #productRightFirstPart{
            /* border: 3px solid orange; */
        }
        #productRightBook{
    
            width: 100%;
            background-color: white;
            border-bottom: 1px solid #002e45;
            color: #002e45;
            font-weight: bold;
            font-size: 4vw;
            text-align: center;
         
            
        }
        #productMRP{
        
            font-size: 3.5vw;
            color: black;
            margin-top: 0%;
            
        }
        #SOproductMRP{
            padding-left: 21%;
            font-size: 120%;
            color: black;
            margin-top: 0%;
        }
        #productPrice{
            text-decoration: line-through;
            color: black;
        }
        #productFREE{
            font-family: Lato,sans-serif;
            color: #e26127;
            font-weight:bold ;
            padding-left: 1%;
            font-size: 3.5vw;
        }
        #productShipping{
            text-align: left;
            margin-right: 0%;
            font-size: 3.5vw;
            font-weight: bold;
        }
        /* #productShippingCost{
            margin-left: 3%;
            position: absolute;
            margin-top: -1%;
        } */
        #productRightCond{
            margin-top: 2%;
            font-size: 3.5vw;
            padding: 5px;
           
            display: contents;
        }
        #SelectBookText{
            text-align: center;
        }
        #productRightCond input[type=radio]{
            width: 15px;   
            height: 15px;
            padding-left: 20px;
            
            
            /* height: 20%; */
        }
        #productRightDelivered{
            text-align: center;
            padding-bottom: 5%;
            font-size: 3.5vw;
        }
        
        #slectedColor{
            color: #e26127;
            font-size: 3.5vw;
            font-weight: bold;
        }
        #totalQty{
            font-size: 3vw;
            color: green;
            padding-left: 1%;
        }
        #TotalAmount{
            font-size: 3vw;
            font-weight: bold;
        }
        #TotalAmount span{
            color:#e26127;
        }
        #productRightDelivered p{
            font-size: 3.5vw;
            padding-bottom: 1px;
        }
        
        
        #AddToCartBtn{
            color: #002e45;
            background-color: white;
            padding: 1.5%;
            border:none;
            font-size: 3.5vw;
            font-weight: bold;
            width: 70%;
            border:2px solid #e26127;
            border-radius: 5px;
            margin-bottom: 4%;
            transition: all 0.2s ease-in; 
        }
        #AddToCartBtn:hover{
            background-color: #e26127;
            color: white;
        }
        
        #checkdiscription{
            /* border:1px solid brown; */
            margin-top: 10px;
            /* height:500px; */
        }
        #description{
            /* border:2px solid crimson; */
        }
        
        #productleftBottom{
            /* background-color: blue; */
            /* margin-top: 20%;
            width:500px; */
            margin: 5%;
            width: 100%;
            /* height: 300px;    height*/
            border:0px solid #c8c8c8;
            box-shadow: 0px 2px 5px #888;
            border-radius: 5px;
            font-size: 3.5vw;
            text-align: justify;
        }
        #productleftBottom p{
            background-color: white;
            color: #002e45;
            font-size: 4vw;
            font-weight: bold;
            text-align: center;
            border-bottom: 1px solid #002e45;
            padding: 1%
        }
        #Productdescription{
            text-align: center;
            width: 50%;
            /* padding: 0% 20%; */
            /* border-right: 1px solid white; */
            
        }
        #NoproductleftBottom{
            display: none;
        }
        #Productreviews{
            float: right;
            padding: 0% 20%;
        }
        #productleftBottomData{
            padding: 1%;
            overflow: hidden;
        
            height: 85%;
            /* background-color: #00baf2; */
        }
        
        #productRightWishlist{
            margin-top: -8%;
            float: right;
            margin-right: 4%;
            cursor: pointer;
            font-size: 2vw;
            color: white;
        }
        #productRightFirstPart{
            background-color: white;
        
        }
        #productRightdetails{
            padding: 0% 5%;
        }
        #productRightdetailsSoldOut{
            padding: 0% 5%;
            height: 250px;
            /* background-color: #e26127; */
        }
        
        #SoldOut{
            text-align: center;
            /* padding: 10%; */
            font-size: 120%;
            color: red;
            padding: 2%;
            margin-top: 10%;    
        }
        
        #NotifyMeBtn{
            color: white;
            background-color: #00baf2;
            padding: 1%;
            border:none;
            font-size: 70%;
            font-weight: bold;
            width: 30%;
            margin: 1%;
            border-radius: 3px;
        }
        
        #NotifySubmitBtn{
            color: white;
            background-color: #00baf2;
            padding: 2%;
            border:none;
            font-size: 70%;
            font-weight: bold;
            width: 40%;
            margin: 1%;
            border-radius: 3px;
        }
        #NotifyInput{
            width: 80%;
        }
        
        }
    