hr{
  margin-top: 0px ;
}

#My-Wishlist {
  width: 100%;
  /* height: 27px; */
  font-family: Helvetica;
  font-size: 2.5vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
  margin-top: 6%;
  margin-left: 2%;
}
#WishlistAlert{
  margin-left: 30vw;
  color: red;
}
#div3 {
  width: 94%;
  height: 9vw;
  background-color: white;
  margin-top: 1%;
  margin-left: 3%;
}
#div2 {
  width: 97%;
  height: 100%;
  margin-top: -1%;
  background-color: white;
  margin-left: 1%;
}
#rightPartdiv3{
  display: flex;
  float: right;
  width: 15%;
  margin-top: -7%;
  margin-right: 2%;
}
#wishAddCartBtn{
  margin-top: 4%;
  color: white;
  background-color: #00baf2;
  padding: 4%;
  font-size: 1.5vw;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 11vw;
  /* margin-left: -4%; */
  /* position: absolute; */
  margin-bottom: 4%;
}
#wishlistbookimg{
  width: 8vw;
  height: 7.5vw;
  /* padding-bottom: 1%; */
  margin-left: 1%;
  margin-left: 1%;
  margin-top: 0.7%;
  position: absolute;
}
#wishlistbookauthor{
    /* position: absolute; */
    margin-left: 10%;
    padding-top: 1%;
    font-size: 1.5vw;
    overflow: hidden;
    width: 56vw;
    /* display: table; */
    line-height: 1.5vw;
    max-height: 4vw;
}
#wishlistbookpubl {
  /* position: absolute; */
  margin-left: 10%;
  /* margin-top: 2.5%; */
  font-size: 1.5vw;
  display: table;
}
#wishlistbookisbn{
    /* position: absolute; */
    margin-left: 10%;
    /* margin-top: 3.8%; */
    font-size: 1.5vw;
    display: table;
}
#wishlistdeletebtn{
  margin: 23%;
    cursor: pointer;
    width: 2vw;
}
@media screen and (max-width:991px){
  #My-Wishlist{
    margin-top: 0%;
  }
}
@media screen and (max-width:767px){
  #div3 {
    width: 95vw;
    height: 15vw;
  }
  #wishlistbookimg {
    width: 13vw;
    height: 13vw;
  }
  #wishlistbookauthor {
    /* position: absolute; */
    margin-left: 16%;
    font-size: 2vw;
    line-height: 2.5vw;
    max-height: 8vw;
}
#wishlistbookpubl {
  margin-left: 16%;
  font-size: 2vw;
}
#wishlistbookisbn {
  margin-left: 16%;
  font-size: 2vw;
}
#wishAddCartBtn {
  font-size: 2vw;
  width: 16vw;
}
#wishlistdeletebtn {
  width: 3vw;
}
#rightPartdiv3 {
  margin-top: -9%;
  margin-right: 7%;
}
}
@media screen and (max-width:538px){
  #My-Wishlist {
    font-size: 3.5vw;
    margin-top: 30%;
}
  #div3 {
    width: 100vw;
    height: 26vw;
    margin-left: 0%;
}
  #wishlistbookimg {
    width: 24vw;
    height: 22vw;
    margin-top: 2%;
  }
  #wishlistbookauthor {
    margin-left: 26%;
    font-size: 3vw;
    line-height: unset;
    max-height: 15vw;
    width: 50%;
}
#wishlistbookpubl {
  margin-left: 26%;
  font-size: 3vw;
}
#wishlistbookisbn {
  margin-left: 26%;
  font-size: 3vw;
}
#wishAddCartBtn {
  font-size: 3vw;
  width: 19vw;
  height: 8vw;
}
#wishlistdeletebtn {
  width: 4vw;
  margin: 0%;
  position: absolute;
  margin-left: 7%;
  margin-top: 2%;
}
#rightPartdiv3 {
  margin-top: -18%;
  margin-right: 7%;
  width: 14%;
  flex-direction: column;
}
}