/* #formbody{
    height: 47vw;
    margin-top: 5%;
    position: relative;
} */
#signupformbody{
    /* height: 28rem; */
    height: 46vw;
    margin-top: 5%;
    position: relative;
}
/* #donatebackimg{
    position: absolute;
    width: 100%;
    height: 47vw;
} */
#donatebacksignupimg{
    position: absolute;
    width: 100%;
    height: 46vw;
}
@media screen and (max-width:991px){
    #ToggleDiv{
        margin-top: 31vw;
    }
    #ToggleDivLogout{
        margin-top: 28vw;
    }  
    #signupformbody{
        margin-top: 0%;
        /* height: 77vw; */
    }
    #donatebacksignupimg{
        position: absolute;
        width: 100%;
        height: 60vw;
        margin-top: -4.5%;
    }
}
@media screen and (max-width:767px){
    #ToggleDiv{
        margin-top: 51vw;
    }
    #ToggleDivLogout{
        margin-top: 42vw;
    }  
      #signupformbody{
        /* height: 97vw; */
      }
        #donatebacksignupimg {
            position: absolute;
            width: 100%;
            height: 79vw;
            margin-top: -4.5%;
        }
}
@media screen and (max-width:538px){

    #donatebacksignupimg {
        position: absolute;
        width: 100%;
        height: 100vw;
        margin-top: -5%;
    }
    #ToggleDiv{
        margin-top: 177vw;
    }
    #ToggleDivLogout{
        margin-top: 0%;
    }   
    #signupformbody{
        height: 89vw;
        margin-top: 29%;
      }
}