#DonorSearch{
	background-color: white;
	margin: 0% 30%;
	border-radius: 10px;
}
#DonorSearchForm{
	margin: 5%;
	bottom: 5%;
	display: inline;
}
#DonorSearchInput{
	border-bottom: 1px solid white;
	width: 70%;
	padding: 2%;

}
#DonorSearchbtn{
	background-color: #38ACEC;
	border-bottom: 1px solid #38ACEC;
	width: 20%;
	border-radius: 5px;
	color: white;
	/* height: 5vh; */
	float: right;
	padding: 2%;
}
.paginationLi{
	display: inline;
	padding: 0% 2%;
}
#Our-proud-donor {
    /* margin-left: 38.4%; */
    font-weight: bold;
    width: 100%;
    height: 3.5%;
    font-size: 3vw;
    text-align: center;
    margin-top: 5%;
}
#Donar-details {
    /* position: absolute; */
    /* margin-left: 41%; */
    margin-top: 1%;
    font-weight: bold;
    width: 100%;
	/* height: 3.5%; */
    text-align: center;	
    font-size: 2.5vw;
}
#PDdiv{
    /* position: absolute; */
    background-color: white;
    margin-left: 8.6%;
    margin-right: 10%;
    height: 25%;
    width: 81%;
    /* margin-top: 9%; */
}
#PDdiv1{
	/* position: absolute; */
	background-color: white;
	margin-left: 8.6%;
	margin-right: 10%;
	height: 33%;
	width: 81%;
}
#PDdiv2{
	position: absolute;
	background-color: white;
	margin-left: 3.2%;
	margin-right: 10%;
	/* height: 63.3%; */
	width: 13%;
	margin-top: 1%;
	border:3px solid #b4b4b4;
}
#PDdiv3{
	position: absolute;
	background-color: white;
	margin-left: 24%;
	margin-right: 10%;
	/* height: 63.3%; */
	width: 13%;
	margin-top: 1%;
	border:3px solid #b4b4b4;
}
#PDdiv4{
	position: absolute;
	background-color: white;
	margin-left: 44%;
	margin-right: 10%;
	/* height: 63.3%; */
	width: 13%;
	margin-top: 1%;
	border:3px solid #b4b4b4;
}
#PDdiv5{
	position: absolute;
	background-color: white;
	margin-left: 63%;
	margin-right: 10%;
	/* height: 63.3%; */
	width: 13%;
	margin-top: 1%;
	border:3px solid #b4b4b4;
}
#searchinput {
    width: 28%;
    height: 20%;
    margin-left: 56%;
    border-radius: 5px;
    margin-top: 1.5%;
    padding-top: 1.5%;
    /* border: 1px solid black; */
}
#btn {
    width: 10%;
    /* position: absolute; */
    background-color: #38ACEC;
    color: white;
    margin-left: 88%;
    margin-top: -8.8%;
    border: none;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
}
#table {
   /* width:95%; */
   /* margin-left: 3%; */
   margin-top: 1%;
}
#heading{
	border-bottom: 1px solid grey;
}
#Our-Testimonials {
    position: absolute;
    margin-left: 40%;
    margin-top: 4%;
    font-weight: bold;
    width: 22.8%;
    height: 3.5%;
    font-size: 28px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

 }
 #label {
	width: 157px;
	height: 98px;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #000000;
}
#photo{
	height: 51px;
	width: 53px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin-top: 5%;

}
#photo1{
	height: 51px;
	width: 53px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin-top: 14.5%;
	margin-left: 11%;

}
#photo2{
	height: 51px;
	width: 53px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin-top: 14.5%;
	margin-left: 20%;

}
#photo3{
	height: 51px;
	width: 53px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin-top: 14.5%;
	margin-left: 20%;

}
#photo4{
	height: 51px;
	width: 53px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin-top: 14.5%;
	margin-left: 18%;

}
#label1{
	width: 74px;
  height: 23px;
  font-family: Corbel;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 12.5%;
  margin-left: 0.5%;
  position: absolute;
  color: #000000;
}
#totalbook{
	position: absolute;
    margin-left: 8.6%;
    margin-top: 0.7%;
}
#nodonar{
	position: absolute;
    margin-left: 78.4%;
    margin-top: 0.7%;
}
#phr{
	margin-left: 8.6%;
    margin-right: 10%;
    margin-top: 0.4%;
}
#phr1{
	margin-left: 8.6%;
    margin-right: 10%;
    /* margin-top: 8.5%; */
}
#mpdiv{
	width: 100%;
    height: 10vw;

}

/* .feedback {
	background-color : #31B0D5;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	border-color: #46b8da;
  } */
  
  #mybutton {
	position: fixed;
  }
#ShowResponse{
	display: none;
}
#NoResponse{
	text-align: center;
	color: red
}
/* mobile */
@media screen and (max-width: 767px){
	#Our-proud-donor{
		/* margin-left: 30vw; */
		font-weight: bold;
		/* width: 43.8vw; */
		height: 3.5%;
		font-size: 4.5vw;
		margin-top: 2%;
	}
	#totalbook{
		margin-left: 0.6vw;
		margin-top: -2vw;
		font-size: 4vw;
		width: 100vw;
		text-align: center;
	}
	#nodonar{
		margin-left: -1vw;
		margin-top: 2vw;
		text-align: center;
		width: 100vw;
		font-size: 4vw;
	}
	#phr{
		margin-left: 3.6vw;
		/* margin-right: -5vw; */
		margin-top: 0.4%;
		margin-right: 4%;	
	}
	#phr1{
		margin-left: 3.6vw;
		/* margin-right: -5vw; */
		margin-right: 4%;
	    /* margin-top: 10.5vw; */
	}
	#Donar-details{
		/* position: absolute; */
		/* margin-left: 27vw; */
		margin-top: 0vw;
		font-weight: bold;
		text-align: center;
		/* width: 49vw; */
		height: 3.5%;
		font-size: 3.5vw;
	}
	#PDdiv{
    /* position: absolute; */
    background-color: white;
    margin-left: 4vw;
    /* margin-right: 10%; */
    height: 25%;
    width: 92vw;
    margin-top: 2%;
	}
	#searchinput {
		width: 56vw;
		height: 20%;
		margin-left: 3%;
		border-radius: 5px;
		margin-top: 1.5vw;
		padding-top: 1.5vw;
	}
	#btn {
		width: 24.1%;
		/* position: fixed; */
		float: left;
		background-color: #13dafe;
		border-color: #13dafe;
		margin-top: -14.9%;
		margin-left: 66%;
		height: 9.5vw;
	}
	#table{
		width: 95vw;
		font-size: 3.5vw;
		margin-top: 0%;
	}
	#photo{
		/* width: 90%;
		margin-top: 0%; */
		position: relative;
		border-radius: 50%;
		/* width: 100%; */
		/* height: 5; */
		padding-top: 0%;
	}
	#mpdiv{
		max-height: 8vw;
	}
	#mspan{
		font-size: 2.5vw;
		margin-left: 2%;
	}
}

/* tab */
@media screen and (max-width:991px) and (min-width:768px) {
	#Our-proud-donor{
		/* margin-left: 32.4vw; */
		font-weight: bold;
		/* width: 43.8vw; */
		height: 3.5%;
		font-size: 3vw;
		margin-top: 2%;
	}
	#totalbook{
		margin-left: 0.6vw;
		margin-top: -2vw;
		font-size: 3vw;
		width: 100vw;
		text-align: center;
	}
	#nodonar{
		margin-left: -1vw;
		margin-top: 2vw;
		text-align: center;
		width: 100vw;
		font-size: 3vw;
	}
	#phr{
		margin-left: 8.6vw;
		/* margin-right: -5vw; */
		margin-top: 0.4%;
	}
	#phr1{
		margin-left: 8.6vw;
		/* margin-right: 10%; */
	    /* margin-top: 7.5vw; */
	}
	#Donar-details{
		/* position: absolute; */
		/* margin-left: 26vw; */
		margin-top: 0vw;
		font-weight: bold;
		/* width: 49vw; */
		text-align: center;
		height: 3.5%;
		font-size: 2.5vw;
	}
	#PDdiv{
    /* position: absolute; */
    background-color: white;
    margin-left: 2vw;
    /* margin-right: 10%; */
    height: 25%;
    width: 96vw;
    margin-top: 2%;
	}
	#searchinput {
		width: 56vw;
		height: 20%;
		margin-left: 3%;
		border-radius: 5px;
		margin-top: 1.5vw;
		padding-top: 1.5vw;
	}
	#btn {
		width: 24.1%;
		/* position: fixed; */
		float: left;
		background-color: #13dafe;
		border-color: #13dafe;
		margin-top: -6.9%;
		margin-left: 66%;
		font-size: 111%;
		height: 4.5vw;
		padding-top: 0.5%;
	}
	#table{
		/* width: 95vw; */
		font-size: 112%;
		margin-top: 0%;
	}
	#photo{
		/* width: 90%;
		margin-top: 0%; */
		position: relative;
		border-radius: 50%;
		/* width: 100%; */
		/* height: 5; */
		padding-top: 0%;
	}
	#mpdiv{
		max-height: 8vw;
	}
	#mspan{
		font-size: 89%;
		margin-left: 2%;
	}
}
/* tab */
@media screen and (max-width:768px) and (min-width:539px) {
	#DonorSearch{
		background-color: white;
		margin: 0% 20%;
		border-radius: 10px;
	}
	#DonorSearchForm{
		margin: 5%;
		bottom: 5%;
		display: inline;
	}
	#DonorSearchInput{
		border-bottom: 1px solid white;
		width: 70%;
		padding: 2%;
	
	}
	#DonorSearchbtn{
		background-color: #38ACEC;
		border-bottom: 1px solid #38ACEC;
		width: 20%;
		border-radius: 5px;
		color: white;
		/* height: 5vh; */
		float: right;
		padding: 2%;
	}
}
@media screen and (max-width:538px){
	#Our-proud-donor{
		margin-top: 26%;
		font-size: 23px;
	}
	#Donar-details{
		font-size: 19px;
	}
	#DonorSearch{
		background-color: white;
		margin: 0% 10%;
		border-radius: 10px;
		font-size: 12px;

	}
	#DonorSearchForm{
		margin: 5%;
		bottom: 5%;
		display: inline;
	}
	#DonorSearchInput{
		border-bottom: 1px solid white;
		width: 70%;
		padding: 2%;
	
	}
	#DonorSearchbtn{
		background-color: #38ACEC;
		border-bottom: 1px solid #38ACEC;
		width: 20%;
		border-radius: 5px;
		color: white;
		/* height: 5vh; */
		float: right;
		padding: 2%;
	}
	
}