#S_quote1{
    margin: 19% 0% 0% 5.7%;
    position: absolute;
    color: #ffffff;
    /* font-size: 200%; */
    font-size: 2.5vw;
    /* font-family: OpenSan
    /* font-family:OpenSans;  */
}
input::placeholder{
    color: #c5c0c0;
}
#S_quote2{
    /* margin:20% 0% 0% 22%; */
    position: absolute;
    color: #00baf2;
    /* font-size: 270%; */
    font-size: 2.5vw;
    margin:29% 0% 0% 12%;
      /* font-family:OpenSans;  */
}

#S_iconimg{
    position: absolute;
    width:5%;
    height:auto;
    /* margin: 29.5% 66% 26% 30%; */
}
#S_formabove{
    width: 26.2%;
    height: 4%;
    float: right;
    margin-top: 1%;
    padding: 1%;
    font-size: 1.3vw;
    margin-right: 4.8%;
    position: relative;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #f8911e;
    color: white;
    /* fontSize:'10vm' */
}

#S_formdiv{
    width:26.1%;
    margin:7.5% 0% 4% 69% ;
    background-color:transperent; 
    position:absolute;
}
#S_form{
    border:  solid #c5c0c0;
    position:absolute;
    padding:5% 5%;
    margin-top: -10%;
    width: 100%;
    background-color: white;
}
/* .inputstyle{
    margin:1em 2em;
    outline:0;
    border:0;
    width:76%;
    background:transparent;
    border-bottom:1px solid #c5c0c0;
    color:#c5c0c0;
} */
#S_signup{
    color:white;
    background-color:#00baf2;
    border-radius: .3rem;
    width:63%;
    font-size: 1.4vw;
    padding: 2% 2%;
    margin:7% 17.1% 0% 19.3%;
    font-weight: bold;
    border:none;
}
#S_redirect{
    color: white;
    background-color: #f8911e;
    border-radius: .3rem;
    width: 90%;
    border: none;
    padding: 5% 3%;
    margin: 7% 12.1% 0% 5%;
    font-weight: bold;
    font-size: 1.2vw;
}
#donationsignupimg{
    position: absolute;
    margin-top: 23.5%;
    margin-left: 29%;
    width: 5vw;
    height: 5vw;
}
#mobilecheck{
    color: red;
    margin-left: 36%;
    font-size: 1vw;
}
#passsigncheck{
    color: red;
    margin-left: 13%;
    font-size: 1vw;
}
@media screen and (min-width:992px){
#inputstye{
    margin:1% 13%;
    outline:0 ;
    border:0;
    width:76%;
    /* background: transparent; */
    border-bottom :1px solid #c5c0c0;
    color:#c5c0c0;
    font-size: 1.5vw;
}
}

/* ------------------------------------tab------------------------------ */
@media screen and (max-width:991px) and (min-width:768px){
    #S_formabove{
        margin-top: -2%;
        width: 34vw;
        font-size: 1.6vw;
        margin-right: 2%;
        padding-left: 3%;
    }
    #S_form{
        position: relative;
        margin-top: -20%;
        width: 34vw;
        float: right;
        /* height: 43vw; */
    }
    #S_formdiv{
        margin-left: 72%;
    }
    #inputstye{
        margin: 1% 3%;
    font-size: 2vw;
    padding: 1%;
    width: 96%;
    }
    #mobilecheck{
        color: red;
        margin-left: 36%;
        font-size: 1.5vw;
    }
    #passsigncheck{
        color: red;
        margin-left: 12%;
        font-size: 1.5vw;
    }
    #S_signup{
        font-size: 2vw;
        margin: 3% 17.1% 0% 19.3%;
    }
    #S_redirect {
        width: 100%;
        margin: 7% 4.1% 0% 0%;
        font-size: 1.8vw;
    }
}
/* ----------------------------------------------------------------------- */
/* ---------------------------larger mobiles------------------------------*/
@media screen and (max-width:767px){
    #S_quote1 {
        margin: 16% 0% 0% 1%;
        font-size: 3vw;
    }
    #donationsignupimg {
        width: 7vw;
        height: 7vw;
        margin-top: 20.5%;
    }
    #S_quote2 {
        font-size: 3vw;
        margin: 28% 0% 0% 10%;
    }
    #S_formabove {
        width: 37.1vw;
        font-size: 1.8vw;
        margin-right: 0.9%;
        margin-top: -2%;
        padding-left:2.5%;
    }
    #S_formdiv {
        margin-left: 73%;
    }
    #S_form {
        width: 37vw;
        position: relative;
        margin-top: -19%;
        float: right;
    }
    #inputstye {
        font-size: 2.5vw;
        margin: 1% 0%;
    }
    #mobilecheck{
        color: red;
        margin-left: 36%;
        font-size: 1.8vw;
    }
    #passsigncheck{
        color: red;
        margin-left: 6%;
        font-size: 1.8vw;
    }
    #S_signup{
        font-size: 2vw;
        margin: 3% 17.1% 0% 19.3%;
    }
    #S_redirect {
        width: 102%;
        margin: 7% 4.1% 0% -1.5%;
        font-size: 2vw;
    }
}
@media screen and (max-width:538px){
    #mobilesignup{
        position: absolute;
        width: 80%;
        margin-left: 11%;
    }
    #S_form{
        width: 90vw;
        position: relative;
        margin-top: -1%;
        /* float: right; */
        border: none;
    }
    #inputstye {
        font-size: 4vw;
        margin: 1% 0%;
    }
    #passsigncheck{
        margin-left: 11%;
        font-size: 4vw;
    }
    #mobilecheck{
        font-size: 4vw;
    }
    #S_redirect,#S_signup{
        font-size: 4vw;
    }
    #S_quote1{
        margin: 16% 0% 0% 12%;
        font-size: 4vw;
    }
    #donationsignupimg {
        width: 9vw;
        height: 9vw;
        margin-top: 21.5%;
        margin-left: 46%;
    }
    #S_quote2 {
        font-size: 4vw;
        margin: 31% 0% 0% 22%;
    }
}