.ordersets-wrapper {
  display: flex;
  justify-content: center;
}

.ordersets-list {
  max-width: 250px;
}

.tab-div { 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 2px;
  max-height: (100vh - 242px);
  overflow: scroll;
}

.checkmark {
  width: unset;
  zoom: 2;
  margin-left: 12px;
}