.Modal {
    position: fixed; 
    z-index: 500;
    background-color: white;
   
    height:76%;
    border: 0px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 7px #888;
    /* padding: 16px; */
    
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 48%;
        left: calc(40% - 250px);
    }
}

@media screen and (max-width:767px) and (min-width:539px){

    .Modal {
        width: 60%;
        height: 76%;
        left: calc(60% - 250px);
    }

}

@media screen and (max-width:538px){
    .Modal {
        width: 70%;
        height: 50%;
        left: calc(70% - 250px);
    }


}