#About-Us {
  width: 14%;
  height: 22px;
  font-family: Helvetica;
  font-size: 118%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
  margin-left: 42%;
  margin-top: 90px;
}
#AUdiv3 {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-top: 6%;
}
#AUdiv2 {
  width: 97%;
  height: 100%;
  margin-top: -1%;
  background-color: white;
  margin-left: 1%;
}
@media screen and (max-width:991px){
  #AUdiv3{
    margin-top: -11%;
  }
  #About-Us {
     width: 45vw;
  }
}
@media screen and (max-width:538px){
  #About-Us {
    width: 45vw;
    text-align: center;
    margin-left: 26%;
    padding-bottom: 2%;
    padding-top: 2%;
    height: unset;
  }
  #AUdiv3{
    margin-top: 26%;
  }
}