#list-nav li a :active{
    
}
.Activelink{
    color: aliceblue;
}
#AllBooksSkeleton{
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */


}
@media only screen and (max-width: 991px)  and (min-width:768px){
    #mcompimg{
        float: left;
        margin-top: 2%;
        /* margin-left: 3%; */
        font-size: 2vw;
        width: 22vw;
        margin-bottom: 0rem;
    }
    #mcompimgfiction{
        float: left;
        margin-top: 2%;
        /* margin-left: 3%; */
        font-size: 2vw;
        width: 23vw;
        margin-bottom: 0rem;
    }
    #mcompimguniversity{
        float: left;
        margin-top: 2%;
        /* margin-left: 3%; */
        font-size: 2vw;
        width: 20vw;
        margin-bottom: 0rem;
    }
    #mcompimg1{
        float: left;
        margin-top: 2%;
        /* margin-left: 3%; */
        font-size: 1.8vw;
        width: 26vw;
        margin-bottom: 0rem;
    }
    #mlabel{
        float: right;
        margin-right: 4%;
        font-size: 1.8vw;
        margin-top: 2.2vw;
        margin-bottom: 0rem;
    }
    #bookimg{
    width: 12%;
    height: 3vw;
    }

}

@media only screen and (max-width: 767px)  and (min-width:539px){
    #mcompimg{
        float: left;
        margin-top: 2%;
        /* margin-left: 3%; */
        font-size: 2.5vw;
        width: 28vw;
        margin-bottom: 0rem;
    }
    #mcompimgfiction{
        float: left;
        margin-top: 2%;
        /* margin-left: 3%; */
        font-size: 2.5vw;
        width: 30vw;
        margin-bottom: 0rem;
    }
    #mcompimguniversity{
        float: left;
        margin-top: 2%;
        /* margin-left: 3%; */
        font-size: 2.5vw;
        width: 26vw;
        margin-bottom: 0rem;
    }
    #mcompimg1{
        float: left;
        margin-top: 2%;
        /* margin-left: 3%; */
        font-size: 2.5vw;
        width: 36vw;
        margin-bottom: 0rem;
    }
    #mlabel{
        float: right;
        margin-right: 4%;
        font-size: 2vw;
        margin-top: 2.2vw;
        margin-bottom: 0rem;
    }
    #bookimg{
    width: 12%;
    height: 3vw;
    }
}
@media only screen and (max-width: 538px)  {
    #mcompimg{
        float: left;
        margin-top: 1.5%;
        margin-left: 1%;
        font-size: 2.5vw;   
        width: 30vw;
        margin-bottom: 0rem;
    }
    #mcompimgfiction{
        float: left;
        margin-top: 1.5%;
        margin-left: 1%;
        font-size: 2.5vw;  
        width: 31vw;
        margin-bottom: 0rem;
    }
    #mcompimguniversity{
        float: left;
        margin-top: 1.5%;
        margin-left: -1%;
        font-size: 2.5vw;   
        width: 30vw;
        margin-bottom: 0rem;
    }
    #mcompimg1{
        float: left;
        margin-top: 1.5%;
        margin-left: 0%;
        font-size: 2.5vw;  
        width: 38vw;
        margin-bottom: 0rem;
    }
    #mlabel{
        float: right;
        margin-right: 6%;
        font-size: 2.3vw;
        margin-top: 4.5%;
        margin-bottom: 0rem;
    }
    #bookimg{
        width: 12%;
        height: 4vw;
        margin-top: 1%;
        }
    #viewall{
        background-color: #1c86de;
        position: absolute;
        margin-left: 57%;
        width: 38vw;
        line-height: 97%;
        height: 7vw;
    }
    #viewallfiction{
        background-color: #1c86de;
        position: absolute;
        margin-left: 54%;
        width: 41vw;
        height: 7vw;
    }
    #viewallschool{
        background-color: #1c86de;
        position: absolute;
        margin-left: 58%;
        width: 37vw;
        height: 7vw;
    }
    #viewallubooks{
        background-color: #1c86de;
        position: absolute;
        margin-left: 61%;
        width: 34vw;
        height: 7vw;
    }
}