#bg{
    width: 100%;
    /* height: 23px; */
    font-family: Helvetica;
    font-size: 156%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    /* margin-left: 15%; */
    padding-top: 1%;

}
#bghr{
    width: 96%;
    margin-left: 1.5%;
    margin-top: 3%;
    background-color: #8e8e8e;
}
#bghr1{
    width: 96%;
    margin-left: 1.5%;
    /* margin-top: 3%; */
    background-color: #8e8e8e;
}
#bgdiv{
    margin-left: 25.8%;
    margin-right: 3%;
    text-align: justify;
    width: 48%;
    background-color: white;
    margin-top: 4.8%;
    padding-bottom: 1%;

    /* margin-left: 0vw;
    margin-right: 3%;
    text-align: justify;
    width: 100%;
    background-color: white;
    margin-top: 4.8%;
    padding-bottom: 1%; */

}
#bgpara{
    padding-top: 1%;
    /* color: #ec5f2a; */
    margin-left: 1%;
    text-align: justify;
    margin-right: 1%;
}
#bgpara1{
    padding-top: 1%;
    color: #ec5f2a;
    margin-left: 1%;
    text-align: center;
    margin-right: 1%; 
}
#guidlines{
    list-style-type: disc;
    color: black;
    margin-right: 6%;
    margin-left: 6%;
}
@media screen and (max-width:991px){
    #bgdiv{
        margin-top: -2%;
        width: 70%;
        margin-left: 15%;
    }
}
@media screen and (max-width:538px){
    #bg{
        text-align: center;
        font-size: 17px;
        padding-top: 3%;
        height: unset;
    }
    #bgdiv{
        margin-top:26%;
        width: 90%;
        margin-left: 5%;
    }
    #guidlines{
        list-style-type: disc;
        color: black;
        margin-right: 6%;
        margin-left: 8%;
    }
}