/* #book img::before{

}
#book #out{
    color:red;
    opacity: 1;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 15.7%;
   
    font-size: 100%;
    background-color: rgba(255, 255, 255, .7);
}
#book #out p{
    margin-top: 50%;
    position: absolute;
    padding: 10%;
    padding-left: 13%;
    padding-right: 17.5%;
    background-color: rgba(255, 255, 255, .7);
    
}
#boxNone{
    display: none;
} */

@media only screen and (min-width: 992px)  {
    #sbook img::before{
        /* background-color:rgba(255, 255, 255, .7); */
        /* content:'OUT OF STOCK'; */
    
    }
    #sbook #out{
        color:red;
        opacity: 1;
        font-weight: bold;
        position: absolute;
        /* z-index: 999; */
        /* margin-top: 10%;     */
        text-align: center;
        /* height:240px; */
        width: 15.7vw;
        /* margin-left: -1%; */
        /* margin-left: 2.5%; */
        /* padding: 1%; */
        /* background-color: black; */
        /* box-shadow: 5px 5px 5px black; */
        font-size: 1.18vw;
        background-color: rgba(255, 255, 255, .7);
        /* display: none; */
    }
    #sbook #out p{
        margin-top: 50%;
        position: absolute;
        /* text-align: center; */
        padding: 10%;
        padding-left: 13%;
        padding-right: 17.5%;
        /* margin-left: 10%; */
        background-color: rgba(255, 255, 255, .7);
        
    }
    #Hoversbook #out{
        color:red;
        opacity: 1;
        font-weight: bold;
        position: absolute;
        /* z-index: 999; */
        /* margin-top: 10%;     */
        text-align: center;
        /* height:240px; */
        width: 15.7vw;
        /* margin-left: -1%; */
        /* margin-left: 2.5%; */
        /* padding: 1%; */
        /* background-color: black; */
        /* box-shadow: 5px 5px 5px black; */
        font-size: 1.18vw;
        background-color: rgba(255, 255, 255, .7);
        /* display: none; */
    }
    #Hoversbook #out p{
        margin-top: 50%;
        position: absolute;
        /* text-align: center; */
        padding: 10%;
        padding-left: 13%;
        padding-right: 17.5%;
        /* margin-left: 10%; */
        background-color: rgba(255, 255, 255, .7);
        
    }
    #boxNone{
        display: none;
    }
    #searchBody{
        margin-top: 6vw;
        color: black;
        margin-left: 5.5%;
    }
    #sbook{
        /* box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px 1px; */
        margin: 0.5%;
        text-align: center;
        height: 23.3vw;
        border-radius: 3px;
        width: 15.5vw;
        float: left;
        margin-left: 1.8%;
        padding-bottom: 0%;


        
    }
    #Hoversbook{
        border:1px solid rgba(0, 0, 0, 0.11);
        margin: 0.5%;
        text-align: center;
        height: 23.3vw;
        border-radius: 3px;
        width: 15.5vw;
        float: left;
        margin-left: 1.8%;
        padding-bottom: 0%;
        /* color:black; */
        -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.11);
        -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.11);
        /* box-shadow: 1px 1px 5px #999; */
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.11);
        cursor: pointer;
        /* background-color:white; */

    }
    #bookTitle{
        color:'#00bff3';
        font-size:'90%';
        height:'4vw';
        overflow:'hidden';
        padding:'1%';
        padding-bottom:'0%';
         margin-bottom:'0rem';
         margin-top: '3%';
    }
    #HoverbookTitle{
        color:'black';
        font-size:'90%';
        height:'4vw';
        overflow:'hidden';
        padding:'1%';
        padding-bottom:'0%';
         margin-bottom:'0rem';
         margin-top: '3%';
    }
    }

    @media only screen and (max-width: 991px)  and (min-width:768px){
        #sbook img::before{
            /* background-color:rgba(255, 255, 255, .7); */
            /* content:'OUT OF STOCK'; */
        
        }
        #sbook #out{
            color:red;
            opacity: 1;
            font-weight: bold;
            position: absolute;
            /* z-index: 999; */
            /* margin-top: 10%;     */
            text-align: center;
            /* height:240px; */
            width: 15.7vw;
            /* margin-left: -1%; */
            /* margin-left: 2.5%; */
            /* padding: 1%; */
            /* background-color: black; */
            /* box-shadow: 5px 5px 5px black; */
            font-size: 1.18vw;
            background-color: rgba(255, 255, 255, .7);
            /* display: none; */
        }
        #sbook #out p{
            margin-top: 50%;
            position: absolute;
            /* text-align: center; */
            padding: 10%;
            padding-left: 13%;
            padding-right: 17.5%;
            /* margin-left: 10%; */
            background-color: rgba(255, 255, 255, .7);
            
        }
        #boxNone{
            display: none;
        }
        #searchBody{
            margin-top: 2vw;
        color: black;
        margin-left: 1vw;
        }
        #sbook{
            box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px 1px;
            margin: 0.5%;
            text-align: center;
            height: 26vw;
            border-radius: 3px;
            width: 17vw;
            float: left;
            margin-left: 1.8%;
            padding-bottom: 0%;
            
        }
        }
        @media only screen and (max-width: 767px)  and (min-width:539px){
            #sbook img::before{
                /* background-color:rgba(255, 255, 255, .7); */
                /* content:'OUT OF STOCK'; */
            
            }
            #sbook #out{
                color: red;
                opacity: 1;
                font-weight: bold;
                position: absolute;
                /* z-index: 999; */
                margin-top: -2%;
                text-align: center;
                /* height: 240px; */
                width: 21vw;
                /* margin-left: -1%; */
                /* margin-left: 2.5%; */
                /* padding: 1%; */
                /* background-color: black; */
                /* box-shadow: 5px 5px 5px black; */
                font-size: 1.5vw;
                background-color: rgba(255, 255, 255, .7);
                /* display: none; */
            }
            #sbook #out p{
                margin-top: 50%;
                position: absolute;
                /* text-align: center; */
                padding: 10%;
                padding-left: 13%;
                padding-right: 17.5%;
                /* margin-left: 10%; */
                background-color: rgba(255, 255, 255, .7);
                
            }
            #boxNone{
                display: none;
            }
            #searchBody{
            margin-top: 0vw;
            color: black;
            margin-left: 2.5vw;
            }
            #sbook{
                box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px 1px;
                margin: 0.5%;
                text-align: center;
                height: 33vw;
                border-radius: 3px;
                width: 21.5vw;
                float: left;
                margin-left: 1.5%;
                padding-bottom: 0%;
                
            }
            }
            @media only screen and (max-width: 538px){
                #sbook img::before{
                    /* background-color:rgba(255, 255, 255, .7); */
                    /* content:'OUT OF STOCK'; */
                
                }
                #sbook #out{
                    color: red;
                    opacity: 1;
                    font-weight: bold;
                    position: absolute;
                    /* z-index: 999; */
                    margin-top: -2%;
                    text-align: center;
                    /* height: 240px; */
                    width: 55%;
                    /* margin-left: -1%; */
                    /* margin-left: 2.5%; */
                    /* padding: 1%; */
                    /* background-color: black; */
                    /* box-shadow: 5px 5px 5px black; */
                    font-size: .6rem;
                    background-color: rgba(255, 255, 255, .7);
                    /* display: none; */
                }
                #sbook #out p{
                    margin-top: 36%;
                    position: absolute;
                    text-align: center;
                    width: 50%;
                    padding: 5%;
                    /* padding-bottom: 5%; */
                    
                    background-color: rgba(255, 255, 255, .7);
                    
                }
                #boxNone{
                    display: none;
                }
                #searchBody{
                margin-top: 25%;
                color: black;
                margin-left: 3vw;
                /* position: r; */
                }
                #sbook{
                    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px 1px;
                    margin: 1%;
                    text-align: center;
                    height: 61vw;
                    border-radius: 3px;
                    width: 38.5vw;
                    float: left;
                    padding-bottom: 0%;
                    margin-left: 5%;
                    
                }
                }       