
#filter {
    width: 100%;
    height: 5%;
    font-size: 15px;
    position: absolute;
    text-align: center;
    /* text-shadow: 3px 2px 3px #333333; */
    background-color: #958b76;
    /* border-bottom: 6px solid #00bff3; */
        /* border-radius: 8px; */
        color: black;
        margin-top: -2%;
        /* margin-top: 2%; */
  }
  #filter ul {
    height: auto;
    padding: .5% 0%;
    margin: 0px;
    /* color: #b4e2f1; */
    color: black;
    /* background-color: antiquewhite; */
  }
  #filter li {
    display: inline;
    /* padding: 20px; */
    width: 10%;
    float:left;
    margin: .3% 1% 0% 1%;
    padding: .3 1% 0% 1%;
    transition: 0.9s;
    /* width: 9%; */
    /* font-size: 75%; */
    }
#filter li input{
    /* width: 10%; */
    width: 4%;
} 
#BreadcrumLink:hover{
  color:'blue';
  margin-right:'1%';
  text-decoration:'None';
}
@media only screen and (min-width: 992px)  {
  #categoryBody{
    margin-top: 6vw;
    color: black;
    margin-left: 6%;
    background-color: white;
    min-height: 100vh;
    /* border: 5px solid aliceblue; */
    /* border-radius: 3px; */
  }
  }
@media only screen and (max-width: 991px)  and (min-width:768px){
    #categoryBody{
     margin-top: 2vw;
     color: black;
     margin-left: 1vw;
      }
      }
@media only screen and (max-width: 767px)  and (min-width:539px){
    #categoryBody{
      color: black;
      margin-top: 0vw;
      margin-left: 2.5vw;
    }
    }
@media only screen and (max-width: 538px){
  #categoryBody{
      margin-top: 5%;
      color: black;
      margin-left: 3vw;
     }
   } 

  