.User-Personal-Information {
  width: 30vw;
  /* height: 3%; */
  font-family: Helvetica;
  font-size: 2vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 38%;
  margin-top: 7vw;
  color: var(--black);
}
#addressspan{
  font-size: 1.2vw;
}
#addresstitle{
  color:red;
  padding-left:70%;
  font-size:1.2vw;
}
#addressdelete{
  padding-top: 46%;
  width:1.2vw;
}
#mline{
  width:96%;
  margin-left: 2%;
  color:#8a8a8a;
  border:1px solid;
}
#name{
  width: 18vw;
  height:3%;
  margin-left: 3%;
  font-size: 1.3vw;
}
#email{
  width: 24vw;
  height:3%;
  margin-left: 10%;
  font-size: 1.3vw;
}
#phone{
    width: 18vw;
  height:3%;
  margin-left: 9%; 
  font-size: 1.3vw;
}
#useraddress{
    width: 6%;
  height:6%;
  margin-left: 3%; 
    float: left;
}
#useredit{
  float: right;
  font-size: 13px;
  margin-top: -7%;
  border: none;
  /* color: brown; */
  background-color: white;
}
#useredit:hover {
  color: #38ACEC;
  border-color: white;
}
#chpass{
 width: 15%;
  height:1%;
  margin-left: 3%; 
  /* padding-top: 32%; */
  /* margin-top: 3%; */
}

/* .address2{
width: 17%;
  height: 15.4%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
margin-left: 23%;
position: absolute;
} */
#address1{
  width: 18vw;
  height: 15.4%;
  /* height: 13.4vw; */
  padding: 23px 11px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
  margin-left: 2%;
  float: left;
  margin-top: 1.5%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mdiv1 {
  width: 17vw;
  /* height: 35px; */
  background-color: white;
  color: white;
  margin-right: 2%;
  margin-top: 0%;
  border: none;
  font-size: 1.5vw;
  border-radius: 5px;
  float: right;
  padding-left: .5rem;
}
.mdiv1:hover {
  color: transparent;
}
#para{
  color: red;
  font-size: 1.5vw;
}
#para:hover {
  color: #38ACEC;
}
.text {
  width: 26vw;
  height: 4vw;
  margin-left: 3%;
  border-radius: 5px;
  margin-top: 1%;
  font-size: 1.5vw;
  border: none;
}
.mbtn{
  width: 17vw;
  /* height: 35px; */
  background-color: #38ACEC;
  color: white;
  margin-left: 51%;
  margin-top: 0%;
  border: none;
  font-size: 1.5vw;
  border-radius: 5px;
  float: left;
}
#passmbtn{
  width: 17vw;
  /* height: 35px; */
  background-color: #38ACEC;
  color: white;
  margin-left: 3%;
  margin-top: 0%;
  border: none;
  font-size: 1.5vw;
  border-radius: 5px;
  float: left;
  padding: 1%;
}
#Addimg{
  width: 2vw;
  /* position: absolute; */
  float: left;
}
@media screen and (max-width: 991px) and (min-width:768px){
  .User-Personal-Information {
    margin-top: 0vw;
  }
  #chpass {
    width: 20%;
    /* height: 1%; */
    margin-left: 3%;
  }
  .mdiv1 {
    width: 19vw;
  }
  #name{
    width: 22vw;
    font-size: 2vw;
  }
  #email{
    width: 31vw;
    font-size: 2vw;
    margin-left: 2%;
  }
  #phone{
      width: 26vw;
    font-size: 2vw;
    margin-left: 2%;
  }
  #addressspan{
    font-size: 1.5vw;
  }
  #addresstitle{
    font-size:1.5vw;
  }
  #addressdelete{
    width:1.5vw;
  }
}
@media screen and (max-width: 767px)and (min-width:539px){
  .User-Personal-Information {
    margin-top: 0vw;
    font-size: 3vw;
    width: 38vw;
    margin-left: 34%;
  }
  #chpass {
    width: 20%;
    /* height: 1%; */
    margin-left: 3%;
  }
  .mdiv1 {
    width: 23vw;
  }
  #name{
    width: 22vw;
    font-size: 2vw;
  }
  #email{
    width: 31vw;
    font-size: 2vw;
    margin-left: 2%;
  }
  #phone{
      width: 27vw;
    font-size: 2vw;
    margin-left: 2%;
  }
  #para{
    font-size: 2vw;
  }
  #Addimg{
    width: 2.5vw;
  }
  .mbtn{
    width: 25vw;
    margin-left: 38%;
    font-size: 2vw;
    /* padding-left: .5rem; */
  }
  #address1{
    width: 28vw;
    margin-left: 4%;
  }
  #addressspan{
    font-size: 2vw;
  }
  #addresstitle{
    font-size: 2vw;
    padding-left: 60%;
  }
  #addressdelete{
    width:2vw;
  }
  #passmbtn{
    width: 25vw;
    margin-left: 3%;
    font-size: 2vw;
  }
}
@media screen and (max-width: 538px){
  .User-Personal-Information {
    padding-top: 5vw;
    font-size: 16px;
    width: 67vw;
    margin-left: 19%;
  }
  #chpass {
    width: 45vw;
    /* height: 1%; */
    margin-left: 3%;
  }
  .mdiv1 {
    width: 36vw;
    /* height: 7vw; */
    padding-bottom: .5rem;
    background-color: #f3f7f8;
  }
  #name{
    width: 43vw;
    font-size: 14px;
    color: #868383;
  }
  #email{
    width: 88vw;
    font-size: 14px;
    margin-left: 3%;
    color: #868383;
  }
  #phone{
    width: 62vw;
    font-size: 14px;
    margin-left: 3%;
    color: #868383;
  }
  #para{
    font-size: 3vw;
  }
  #Addimg{
    width: 4vw;
  }
  .mbtn{
    width: 35vw;
    margin-left: 7%;
    font-size: 3vw;
  }
  #address1{
    width: 47vw;
    margin-left: 2%;
    margin-top: 3%;
    line-height: normal;
    background-color: #f3f7f8;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 #847676;
    /* height: 41vw; */
  }
  #addressspan{
    width: 78%;
    font-size: 14px;
    overflow-y: hidden;
    display: -webkit-inline-box;
    display: -moz-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    /* autoprefixer: off */
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
        /* autoprefixer: on */
  }
  #addresstitle{
    font-size: 13px;
    margin-left: 57%;
    /* float: right; */
    padding-left: 0%;
    font-weight: bold;
  }
  #addressdelete{
    width: 18px;
    margin-top: 28%;
    height: auto;
    padding-top: 0%;
  }
  #useraddress{
    width: 15%;
    height: 0%;
    margin-left: 3%;
    float: left;
    font-weight: bold;
    font-size: 14px;
    margin-top: 1.5%;
  }
  #passmbtn{
    width: 36vw;
    margin-left: 4%;
    font-size: 3vw;
    /* padding-left: .5rem; */
    padding: .5rem 1rem;
  }
  #mline{
    border: 0.5px solid;
  }
  #useredit{
    background-color: #f3f7f8;
  }
}