*{
  /* font-family: tahoma; */
}

.Your-Account {
  width: 45%;
  height: 11%;
  font-family: Helvetica;
  font-size: 86%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: 7.7%;
  margin-top: 5.6%;
  color: var(--black);
  position: absolute;

}

.Your-Orders-Books-Donations {
  width: 79%;
  height: 50%;
  font-family: Helvetica;
  font-size: 163%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: 7.7%;
  margin-top: 7%;
  color: var(--black);

}
#buttonorders {
  width: 27%;
  height: 6%;
  margin-top: 7%;
  position: absolute;
  position: absolute;
  border-radius: 5px;
  padding-top: 0%;
  border-bottom: 0px;
  margin-left: -30%;
  border: 1px solid black;

}

/* .Orders {

  width: 50px;

  height: 16px;

  font-family: Helvetica;

  font-size: 20px;

  font-weight: normal;

  font-style: normal;

  font-stretch: normal;

  line-height: normal;

  letter-spacing: normal;

  text-align: left;


  color: var(--black);

 


} */

#btnsubmit{
  width: 14%;
  height: 6%;
  background-color: #38ACEC;
  margin-left: 36%;
  margin-left: -2%;
  border: none;
  position: absolute;
  border-radius: 5px;
  padding-top: 0%;
  margin-left: 2;
  margin-top: 7%;
  color: white;
}
#btnorder{
  /* width: 14%;
  height: 6%;
  background-color: #38ACEC;
  margin-left: 13%;
  border: none;
  position: absolute;
  color: white;
  border-radius: 5px;
  padding-top: 0%; */
  /* margin-top: 7%; */

  width: 11vw;
  height: 19%;
  position: relative;
  background-color: #38ACEC;
  color: white;
  margin-left: 7%;
  margin-top: -1%;
  border: none;
  font-size: 1.5vw;
  padding-bottom: 1%;
  border-radius: 5px;
  padding-top: 1%;
}
#btnopenorder{
  width: 14%;
  height: 6%;
  background-color: #38ACEC;
  margin-left: 16%;
  border: none;
  color: white;
  position: absolute;
  border-radius: 5px;
  padding-top: 0%;
  /* margin-top: 7%; */
}
#btncancel {
  width: 14%;
  height: 6%;
  background-color: #38ACEC;
  color: white;
  margin-left: 19%;
  position: absolute;
  border: none;
  border-radius: 5px;
}
#btndonate {
  /* width: 14%;
  height: 6%;
  position: absolute;
  background-color: lightgreen;
  color: black;
  margin-left: 23%;
  border: none;
  border-radius: 5px; */

  width: 12vw;
  height: 12%;
  position: relative;
  background-color:lightgreen;
  color: black;
  /* margin-left: 11%; */
  border: none;
  border-radius: 5px;
  margin-top: -1%;
  margin-left: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.5vw;
}

/* #btnpending {
  width: 68%;
  padding-top: 1%;
  height: 54%;
  background-color: #38ACEC;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
} */
#btnpending {
  width: 10vw;
  /* padding-top: 1%; */
  height: 3vw;
  background-color: #38ACEC;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
}
/* .Open-Orders {
  width: 280px;
  height: 21px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);

} */
/* .Cancelled-Orders {

  width: 180px;

  height: 21px;

  font-family: Helvetica;

  font-size: 20px;

  font-weight: normal;

  font-style: normal;

  font-stretch: normal;

  line-height: normal;

  letter-spacing: normal;

  text-align: center;

  color: var(--black);

} */

/* .Book-Donations {

  width: 176px;

  height: 16px;

  font-family: Helvetica;

  font-size: 20px;

  font-weight: bold;

  font-style: normal;

  font-stretch: normal;

  line-height: normal;

  letter-spacing: normal;

  text-align: center;

  color: var(--black);

} */

#donatetable {
   width:69%;
   /* margin-left: 180px; */
}
#donatetable2{
  /* border-collapse: collapse; */
  /* width: 99%; */
  text-align: center;
  margin-bottom: 0%;
  /* margin-left: 12%; */
}
#donatetable1{
  /* border-collapse: collapse; */
  /* width: 99%; */
  text-align: center;
  margin-bottom: 0%;
  /* margin-left: 12%; */
}
#donatehr{
  width: 96%;
  margin-top: 4%;
  margin-left: 2%;
}
#donatehr1{
  width: 98%;
  margin-left: 1%;
  margin-top: 1%;
 }

#All-Donation-Requests {
  /* width: 60%; */
  /* height: 40%; */
  /* font-family: Helvetica; */
  /* font-size: 1.5vw; */
  /* position: absolute; */
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
} 


#uldonate {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 12%;
  background-color: #F8F8FF;
  position: absolute;
  /* height: 100%; */
  overflow: auto;
  margin-left: 2%;
  margin-top: 2%;
}

#nonactive{
  background-color: #f3f7f8;
  color: black;
  display: block;
  padding: 11px 11px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2vw;
}

#active {
  background-color: #38ACEC;
  color: (--black);
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2vw;
}
#donardonationtable{
  border: 1px white;
  margin-left: 14%;
  margin-right: 2%;
  padding-bottom: 7%;
  height: 100%;
  background-color: white;
  margin-top: 2%;
}
/* .div1 {
  border: 1px white;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 7%;
  height:100%;
  background-color:white ;
  margin-top: 0%;

} */
#heading{
  /* border-bottom: 1px solid grey;  */
}
#donatereqbooksimg{
  width: 8vw;
  height: 9vw;
}
@media screen and (max-width:991px){
  .Your-Orders-Books-Donations{
    margin-top: 0%;
  }
  #btnpending {
    width: 14vw;
  }
  #btnorder{
    font-size: 2vw;
    width: 15vw;
 }
 #btndonate{
   font-size: 2vw;
   width: 15vw;
 }
 #uldonate{
  width: 15vw;
  margin-left: 1%;
 }
 #active, #nonactive{
   font-size: 1.5vw;
 }
 #donardonationtable {
  margin-left: 16%;
  margin-right: 1%;
}
#donatetable1 {
  font-size: 2vw;
}
#donatetable2 {
  font-size: 2vw;
}
#donatereqbooksimg {
  width: 12vw;
  height: 14vw;
}
.table thead th {
  vertical-align: -webkit-baseline-middle;
}
}
@media screen and (max-width:767px){
  #uldonate{
    width: 12vw;
  }
 #active, #nonactive{
   font-size: 2vw;
 }
 #donardonationtable {
  margin-left: 13%;
}

#donatereqbooksimg {
  width: 12vw;
  height: 14vw;
}
#btnpending {
  width: 14vw;
  height: 4vw;
}
.table thead th {
  vertical-align: -webkit-baseline-middle;
}
}
@media screen and (max-width:538px){
 #btnorder{
    font-size: 3vw;
    width: 24vw;
    position: absolute;
    height: 7vw;
    margin-top: -6%;
  }
 #btndonate{
    font-size: 3vw;
    width: 24vw;
    position: absolute;
    height: 7vw;
    margin-top: -6%;
    margin-left: 40%;
  }
  #donatetable1 {
    font-size: 2.7vw;
}
#donatetable2 {
  font-size: 2.7vw;
}
#uldonate {
  width: 13vw;
  margin-left: 0%;
}
#donatereqbooksimg {
  width: 14vw;
  height: 17vw;
}
#active, #nonactive {
  font-size: 2.7vw;
  padding: 6px 3px;
  font-weight: bold;
}
#donardonationtable {
  margin-right: 0%;
}
#btnpending {
  width: 17vw;
  height: 6vw;
}
.table thead th {
  padding: 1vw;
}
}