/* #fp{
	color:white;
	position: absolute;
	margin-top: 5.2%;
	margin-left: 13.7%;
}
#ful {
  list-style-type: none;
  width: 16%;
  background-color: black;
  position: absolute;
  height: 46%;
  margin-top: 9%;
  margin-left: 10%;
}
#ful1 {
  list-style-type: none;
  width: 11%;
  background-color: black;
  position: absolute;
  height: 15%;
margin-left: 32%;
margin-top: 9%;
padding-left:0%;
padding-bottom: -2%;
}
#ful #ful1 li a {
  display: block;
  color: #000;
  color:white;
  padding: 7px 10px;
  text-decoration: none;
} */