#L_quote1{
    margin: 19% 0% 0% 5.7%;
    position: absolute;
    color: #ffffff;
    /* font-size: 200%; */
    font-size: 2.5vw;
    /* font-family:OpenSans;  */
}

#L_quote2{
    margin:20% 0% 0% 22%;
    position:absolute;
    color: #00baf2;
    /* font-size:270%; */
    font-size: 2.5vw;
    margin:29% 0% 0% 12%;
      /* font-family:OpenSans;  */
}
#L_iconimg{
    position: absolute;
    width:5%;
    height:auto;
    margin: 29.5% 66% 26% 30%;
}
#L_formabove{
    width: 26.2%;
    height: 4%;
    float: right;
    margin-top: 2.8%;
    padding: 1%;
    font-size: 1.3vw;
    margin-right: 4.9%;
    position: relative;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #f8911e;
    color: white;
    /* ,paddingBottom:'0px'
            ,backgroundColor:' ', color:'white', */
    /* width:24.3%; */
    /* height:4%; */
    /* margin:3% 0% 0% 69.9%;
    padding:.5% 0% 0% 2%;
    background-color:#00baf2; 
    position:absolute;
    color: white; */
}

#L_formdiv{
    width:26.1%;
    margin:8% 0% 4% 69% ;
    background-color:transperent;
    position:absolute;
}
#L_form{
    border:.2rem solid #c5c0c0;
    position:absolute;
    padding:2rem .5rem;
    margin-top: -6%;
    background-color: white;
    
}
/* .inputstyle{
    
} */
#L_login{
    color:white;
    background-color:#00baf2;
    border-radius: .3rem;
    width:63%;
    font-size: 1.4vw;
    padding: 2% 2%;
    margin:7% 17.1% 0% 19.3%;
    font-weight: bold;
    border:none;
}
#L_redirect{
    color: white;
    background-color: #f8911e;
    border-radius: .3rem;
    width: 90%;
    border: none;
    padding: 5% 3%;
    margin: 7% 12.1% 0% 5%;
    font-weight: bold;
    font-size: 1.5vw;
}
#donationsignupimg{
    position: absolute;
    margin-top: 23.5%;
    margin-left: 29%;
    width: 5vw;
    height: 5vw;
}
@media screen and (min-width:992px){
    #inputstye{
        margin:1% 13%;
        outline:0 ;
        border:0;
        width:76%;
        /* background: transparent; */
        border-bottom :1px solid #c5c0c0;
        color:#c5c0c0;
        font-size: 1.5vw;
    }
    }
/* ------------------------------------tab------------------------------ */
@media screen and (max-width:991px) and (min-width:768px){
    #L_formabove{
        margin-top: -2%;
        width: 34vw;
        font-size: 1.6vw;
        margin-right: 1.9%;
        padding-left: 3%;
    }
    #L_form{
        position: relative;
        margin-top: -22%;
        width: 34vw;
        float: right;
    }
    #L_formdiv{
        margin-left: 72%;
    }
    #inputstye{
        margin: 1% 3%;
        font-size: 2vw;
        padding: 1%;
        width: 96%;
    }
    #mobilecheck{
        color: red;
        margin-left: 36%;
        font-size: 1.5vw;
    }
    #passsigncheck{
        color: red;
        margin-left: 12%;
        font-size: 1.5vw;
    }
    #L_login{
        font-size: 2vw;
        margin: 3% 17.1% 0% 19.3%;
    }
    #L_redirect {
        width: 100%;
        margin: 7% 4.1% 0% 0%;
        font-size: 1.8vw;
    }
}
@media screen and (max-width:767px){
    #L_quote1 {
        margin: 16% 0% 0% 1%;
        font-size: 3vw;
    }
    #donationsignupimg {
        width: 7vw;
        height: 7vw;
        margin-top: 20.5%;
    }
    #L_quote2 {
        font-size: 3vw;
        margin: 28% 0% 0% 10%;
    }
    #L_formabove {
        width: 37.1vw;
        font-size: 1.8vw;
        margin-right: 0.9%;
        margin-top: -2%;
        padding-left:2.5%;
    }
    #L_formdiv {
        margin-left: 73%;
    }
    #L_form {
        width: 37vw;
        position: relative;
        margin-top: -21%;
        float: right;
    }
    #inputstye {
        font-size: 2.5vw;
        margin: 1% 0%;
    }
    #L_login{
        font-size: 2vw;
        margin: 3% 17.1% 0% 19.3%;
    }
    #L_redirect {
        width: 100%;
        margin: 7% 4.1% 0% 0%;
        font-size: 2vw;
    }
}
@media screen and (max-width:538px){
    #mobilesignup{
        position: absolute;
        width: 80%;
        margin-left: 11%;
    }
    #L_form{
        width: 90vw;
        position: relative;
        margin-top: -1%;
        /* float: right; */
        border: none;
    }
    #inputstye {
        font-size: 4vw;
        margin: 1% 0%;
    }
    #L_redirect,#L_login{
        font-size: 4vw;
    }
    #L_quote1{
        margin: 16% 0% 0% 12%;
        font-size: 4vw;
    }
    #donationsignupimg {
        width: 9vw;
        height: 9vw;
        margin-top: 21.5%;
        margin-left: 46%;
    }
    #L_quote2 {
        font-size: 4vw;
        margin: 31% 0% 0% 22%;
    }
}