@media screen and (max-width:991px){
#mcategorydiv{
    width: 100%;
    background-color: white;
    margin-top: -5%;
}
#layer1img{
    margin-left: 38%;
    margin-top: 5%;
    width: 5vw;
    height: 6vw;
}
.MobileShowclicked{
    color: black;
  }
#layer1books{
    font-size: 1.5vw;
    margin-left: -3%;
    text-align: center;
    color: black;
}
#layer1colorbooks{
    font-size: 1.5vw;
    margin-left: -3%;
    text-align: center;
    color: blue;
}
/* #layer1img{
    width: 5%;
    height: 6vw;
    margin-left: 16%;
    margin-top: 3%;
} */
/* #catimg{
    width: 13%;
    margin-left: 3%;
} */
/* #layer2books{
    width: 13%;
    margin-left: 6%;
} */
#layer2title{
    font-size: 1.5vw;
    margin-left: 2%;
    text-align: center;
    color: black;
}
#layer2img{
    width: 5vw;
    margin-left: 36%;
}
#layer2Simg{
    width: 5vw;
    margin-left: 39.5%;
}
#layer2Stitle{
    font-size: 1.5vw;
    /* margin-left: 14.5%; */
    text-align: center;
    color: black;
}
#layer2UFimg{
    width: 5vw;
    margin-left: 37%;
}
#layer2UFtitle{
    font-size: 1.5vw;
    /* margin-left: 10.5%; */
    text-align: center;
    color: black;
}
#layer2Ftitle{
    font-size: 1.5vw;
    /* margin-left: 12%; */
    text-align: center;
    color: black;
}
/* 3rd layer */
#layer3Simg{
    width: 5vw;
    margin-left: 38%;
}
#layer3NCimg{
    width: 5vw;
    margin-left: 38%;
}
#layer3UOimg{
    width: 5vw;
    margin-left: 30%;
}
#layer3Cimg{
    width: 5vw;
    margin-left: 25%;
}
#layer3Stitle{
     font-size: 1.5vw; 
    /* margin-left: 14.5%;  */
    text-align: center;
    margin-left: 1%;
    color: black;
}
#layer3Ntitle{
    font-size: 1.5vw;
    margin-left: 11%;
    text-align: center;
    color: black;
}
#layer3Mtitle{
    font-size: 1.5vw;
    margin-left: 8%;
    text-align: center;
    color: black;
}
#layer3SAtitle{
    font-size: 1.5vw;
    margin-left: 7%;
    text-align: center;
    color: black;
}
#layer3Utitle{
    font-size: 1.5vw;
    margin-left: 0%;
    text-align: center;
    color: black;
}
#layer3Iimg{
    width: 5vw;
    margin-left: 40%;
}
#layer3Ititle{
    font-size: 1.5vw;
    margin-left: 0%;
    text-align: center;
    color: black;
}
#layer3GKtitle{
    font-size: 1.5vw;
    margin-left: 0%;
    text-align: center;
    color: black;
}
#layer3GKimg{
    width: 5vw;
    margin-left: 45%;
}
#layer3CBimg{
    width: 5vw;
    margin-left: 27%;
}
#layer3Rtitle{
    font-size: 1.5vw;
    margin-left: 2%;
    text-align: center;
    color: black;
}
#layer3Fimg{
    width: 5vw;
    margin-left: 28%;
}
#layer3CLtitle{
    font-size: 1.5vw;
    /* margin-left: 14.5%; */
    text-align: center;
    margin-left: 9%;
    color: black;
}
#layer3CLimg{
    width: 5vw;
    margin-left: 21%;
}
}
@media screen and (max-width:767px) and (min-width:539px){
    .MobileShowclicked{
        color: black;
      }
    #layer1img{
        margin-left: 38%;
        margin-top: 5%;
        width: 5vw;
        height: 6vw;
    }
    #layer1books{
        font-size: 2vw;
        margin-left: -3%;
        text-align: center;
        color: black;
    }
    #layer1colorbooks{
        font-size: 2vw;
        margin-left: -3%;
        text-align: center;
        color: blue;
    }
    /* #layer1img{
        width: 5%;
        height: 6vw;
        margin-left: 16%;
        margin-top: 3%;
    } */
    /* #catimg{
        width: 13%;
        margin-left: 3%;
    } */
    /* #layer2books{
        width: 13%;
        margin-left: 6%;
    } */
    #layer2title{
        font-size: 2vw;
        margin-left: 4%;
        width: 94%;
        text-align: center;
        color: black;
    }
    #layer2img{
        width: 5vw;
        height: 6vw;
        margin-left: 36%;
    }
    #layer2Simg{
        width: 5vw;
        height: 6vw;
        margin-left: 39.5%;
    }
    #layer2Stitle{
        font-size: 2vw;
        /* margin-left: 14.5%; */
        text-align: center;
        color: black;
    }
    #layer2UFimg{
        width: 5vw;
        height: 6vw;
        margin-left: 37%;
    }
    #layer2UFtitle{
        font-size: 2vw;
        margin-left: 2%;
        text-align: center;   
        color: black;
    }
    #layer2Ftitle{
        font-size: 2vw;
        /* margin-left: 12%; */
        text-align: center;
        color: black;
    }
    /* 3rd layer */
    #layer3Simg{
        width: 5vw;
        margin-left: 34%;
    }
    #layer3NCimg{
        width: 5vw;
        margin-left: 32%;
    }
    #layer3Cimg{
        width: 5vw;
        margin-left: 34%;
    }
    #layer3UOimg{
        width: 5vw;
        margin-left: 31.5%;
    }
    #layer3Stitle{
         font-size: 2vw; 
        /* margin-left: 14.5%;  */
        text-align: center;
        margin-left: -7%;
        color: black;
    }
    #layer3Ntitle{
        font-size: 2vw;
        margin-left: 0%;
        text-align: center;
        color: black;
    }
    #layer3Mtitle{
        font-size: 2vw;
        margin-left: -2%;
        text-align: center;
        color: black;
    }
    #layer3SAtitle{
        font-size: 2vw;
        margin-left: -4%;
        text-align: center;
        color: black;
    }
    #layer3Utitle{
        font-size: 2vw;
        margin-left: 4%;
        text-align: center;
        color: black;
    }
    .slick-dots{
        position: relative;
        bottom:auto;
    }
    #layer3Iimg{
        width: 5vw;
        margin-left: 40%;
    }
    #layer3Ititle{
        font-size: 2vw;
        margin-left: 0%;
        text-align: center;
        color: black;
    }
    #layer3GKtitle{
        font-size: 2vw;
        margin-left: 0%;
        text-align: center;
        color: black;
    }
    #layer3GKimg{
        width: 5vw;
        margin-left: 45%;
    }
    #layer3CBimg{
        width: 5vw;
        margin-left: 35%;
    }
    #layer3Rtitle{
        font-size: 2vw;
        margin-left: -6%;
        text-align: center;
        color: black;
    }
    #layer3Fimg{
        width: 5vw;
        margin-left: 33%;
    }
    #layer3CLtitle{
        font-size: 2vw;
        /* margin-left: 14.5%; */
        text-align: center;
        margin-left: 9%;
        color: black;
    }
    #layer3CLimg{
        width: 5vw;
        margin-left: 39%;
    }
    }
    @media screen and (max-width:538px){
        #mcategorydiv{
            width: 100%;
            background-color: white;
            margin-top: 25%;
        }
    .MobileShowclicked{
        color: black;
      }
    #layer1img{
        margin-left: 38%;
        margin-top: 5%;
        width: 7vw;
        height: 8vw;
    }
    #layer1books{
        font-size: 2.5vw;
        margin-left: 6%;
        text-align: center;
        color: black;
    }
    #layer1colorbooks{
        font-size: 2.5vw;
        margin-left: 6%;
        text-align: center;
        color: blue;
    }
    /* #layer1img{
        width: 5%;
        height: 6vw;
        margin-left: 16%;
        margin-top: 3%;
    } */
    /* #catimg{
        width: 13%;
        margin-left: 3%;
    } */
    /* #layer2books{
        width: 13%;
        margin-left: 6%;
    } */
    #layer2title{
        font-size: 2.5vw;
        margin-left: 10%;
        width: 85%;
        text-align: center;
        color: black;
    }
    #layer2img{
        width: 6vw;
        height: 7vw;
        margin-left: 36%;
    }
    #layer2Simg{
        width: 6vw;
        height: 7vw;
        margin-left: 39.5%;
    }
    #layer2Stitle{
        font-size: 2.5vw;
        margin-left: 4%;
        text-align: center;
        color: black;
    }
    #layer2UFimg{
        width: 6vw;
        height: 7vw;
        margin-left: 37%;
    }
    #layer2UFtitle{
        font-size: 2.5vw;
        margin-left: 2%;
        text-align: center;   
        color: black;
    }
    #layer2Ftitle{
        font-size: 2.5vw;
        margin-left: 6%;
        text-align: center;
        color: black;
    }
    /* 3rd layer */
    #layer3Simg{
        width: 6vw;
        margin-left: 35%;
        height: 7vw;    
    }
    #layer3NCimg{
        width: 6vw;
        margin-left: 32%;
        height: 7vw; 
    }
    #layer3Cimg{
        width: 6vw;
        margin-left: 36%;
        height: 7vw;
    }
    #layer3UOimg{
        width: 6vw;
        margin-left: 26%;
        height: 7vw;
    }
    #layer3Stitle{
         font-size: 2.5vw; 
        /* margin-left: 14.5%;  */
        text-align: center;
        margin-left: 1%;
        color: black;
    }
    #layer3Ntitle{
        font-size: 2.5vw;
        margin-left: 0%;
        text-align: center;
        color: black;
    }
    #layer3Mtitle{
        font-size: 2.5vw;
        margin-left: 6%;
        text-align: center;
        color: black;
    }
    #layer3SAtitle{
        font-size: 2.5vw;
        margin-left: 7%;
        text-align: center;
        color: black;
    }
    #layer3Utitle{
        font-size: 2.5vw;
        margin-left: 1%;
        text-align: center;
        color: black;
    }
    .slick-dots{
        /* padding: 2%; */
        position: relative;
        bottom:auto;
    }
    #layer3Iimg{
        width: 6vw;
        height: 7vw;
        margin-left: 38%;
    }
    #layer3Ititle{
        font-size: 2.5vw;
        margin-left: 0%;
        text-align: center;
        color: black;
    }
    #layer3GKtitle{
        font-size: 2.5vw;
        margin-left: 2%;
        text-align: center;
        color: black;
    }
    #layer3GKimg{
        width: 6vw;
        height: 7vw;
        margin-left: 45%;
    }
    #layer3CBimg{
        width: 6vw;
        height: 7vw;
        margin-left: 35%;
    }
    #layer3Rtitle{
        font-size: 2.5vw;
        margin-left: 2%;
        text-align: center;
        color: black;
    }
    #layer3Fimg{
        width: 6vw;
        height: 7vw;
        margin-left: 36%;
    }
    #layer3CLtitle{
        font-size: 2.5vw;
        /* margin-left: 14.5%; */
        text-align: center;
        margin-left: 9%;
        color: black;
    }
    #layer3CLimg{
        width: 5vw;
        margin-left: 39%;
    }
    }
  