*{
  /* font-family: Helvetica; */
}
#OrderproceedToPayBtn{
  background-color: rgb(0,186,242);
  color: white;
  border: none;
  padding: 2%;
  border-radius: 5px;
  margin-top: 3%;
}
#ConvOrderdata{
  padding: 5%;
}
#cancelbtnPopup{
  margin-top: 30%;
  background-color: #38ACEC;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 1%;
}
#Your-Account {

  width: 45%;

  height: 11%;

  /* font-family: Helvetica; */

  font-size: 14px;

  font-weight: normal;

  font-style: normal;

  font-stretch: normal;

  line-height: normal;

  letter-spacing: normal;

  text-align: left;

  margin-left: 4.75%;

   margin-top: 7%;
position :absolute;
  color: var(--black);

}

#Your-Orders-Books-Donations {
  width: 79%;
  height: 50%;
  font-family: Helvetica;
  font-size: 163%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: 7.7%;
  margin-top: 7%;
  color: var(--black);
}
#allordersinput {
 width: 35%;
 padding-top: 0%;
  height: 3.6%;
border:none;
  margin-left: 20%;
 border-radius:5px;
 background-color: white;

}
#searchbtn {
 width: 9.3%;
 height: 80%;
 background-color: #38ACEC;
 color: white;
 margin-left: 10px;
 border:none;
 border-radius: 5px;
}
#ordersbtn {
  width: 11vw;
  height: 19%;
  position: relative;
  background-color: lightgreen;
  color: black;
  margin-left: 7%;
  margin-top: -1%;
  border: none;
  font-size: 1.5vw;
  padding-bottom: 1%;
  border-radius: 5px;
  padding-top: 1%; 
}
#openordersbtn{
  width: 12%;
  height: 6%;
  position: absolute;
  background-color: #38ACEC;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  margin-top: -2%;
  margin-left: 3%;
}
#cancelordersbtn {
  width: 12%;
  height: 6%;
  position: absolute;
  background-color: #38ACEC;
  color: white;
  margin-left: 7%;
  border: none;
  border-radius: 5px;
  margin-top: -2%;
}
#donationbtn {
  width: 12vw;
  height: 12%;
  position: relative;
  background-color: #38ACEC;
  color: white;
  margin-left: 11%;
  border: none;
  border-radius: 5px;
  margin-top: -1%;
  margin-left: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.5vw;
}
#trackbtn {
  width: 12vw;
  height: 5.4%;
  background-color: #38ACEC;
  margin-left: 64%;
  border: none;
  font-size: 1.3vw;
  /* position: absolute; */
  margin-top: -2.8%;
  border-radius: 7px;
  color: white;
  float: right;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  margin-right: 3%;
}
#trackimg{
  width: 1.5vw;
  margin-top: 2px;
}
#tnxbtn {
  width: 13.7%;
  height: 5.4%;
  color: white;
  background-color: #38ACEC;
  height: 5;
  margin-left: 64%;
  border: none;
  border-radius: 5px;
  position: absolute;
  margin-top: 0%;
}
#convertbtn {
  width: 12vw;
  height: 5.4%;
  font-size: 1.3vw;
  background-color: #38ACEC;
  color: white;
  margin-left: 64%;
  border: none;
  border-radius: 7px;
  /* position: absolute; */
  margin-top: 0.8%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  float: right;
  margin-right: 3%;
}
#cancelbtn{
  width: 12vw;
  height: 5.4%;
  font-size: 1.3vw;
  background-color: #38ACEC;
  color: white;
  margin-left: 64%;
  border: none;
  border-radius: 7px;
  /* position: absolute; */
  margin-top: 0.8%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  float: right;
  margin-right: 3%;
}
#feedbackbtn {
  width: 13.7%;
  height: 5.4%;
  background-color: #38ACEC;
  height: 5;
  color: white;
  margin-left: 64%;
  border: none;
  border-radius: 5px;
  position: absolute;
  margin-top: 5.6%;
}
#otable {
   width:69%;
   margin-left: 12%;
}
#ohr{
  width: 90%;
  margin-left: 5%;
  margin-top: 2% !important;
}

#hr1{
  width:99%;

}
#div1 {
  border: 1px white;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 9%;
  height: 100%;
  background-color: white;
  margin-top: 1%;
  width: 90vw;

}
#Orders-Placed-In {
  width: 123px;
  height: 12px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
  margin-left: 5%;
}
#select{
  width: 12%;
  position: absolute;
  margin-left: 1%;
  height: 6%;
  background-color: #38ACEC;
  border-radius: 4px;
  color: white;
  margin-top: -0.5%;
}
#select1{
  width: 15.2%;
  margin-left: 71.1%;
  height: 40px;
  background-color: #38ACEC;
  border-radius: 5px;
  color: white;
  margin-top: 9.3%;
}
#op{
	background-color: gray ;
	width:10%;
	border-radius: 4px;
	height:20px;
	color: (--black);
	text-align: center;
}
#Payment-Method {
  width: 9.7%;
  height: 1.7%;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
  margin-left: 18%;
}
#Order-Status {
  width: 7.2%;
  height: 1.2%;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
  margin-left: 19%;
}
#Order-Placed {
  
  height: 11px;
  font-family: Helvetica;
  font-size: 1.5vw;
  text-align: left;
  margin-left: 2%;
}
#Shipped-To {
  width: 8.6%;
  height: 5.5%;
  font-family: Helvetica;
  font-size: 1.5vw;
  text-align: left;
  margin-left: 10%;
 }
 #Placed-by{
  width: 8.6%;
  height: 5.5%;
  font-family: Helvetica;
  font-size: 1.5vw;
  text-align: left;
  margin-left: 11%;
 }
 #order-total {
  width: 8.6%;
  height: 5.5%;
  font-family: Helvetica;
  font-size: 1.5vw;
  text-align: left;
  margin-left: 11%;
 }
 #order-id {
  width: 14.6%;
  height: 5.5%;
  font-family: Helvetica;
  font-size: 1.5vw;
  text-align: left;
  margin-left: 12%;
 }
 #SelectedOrderBody{
   display: flex;
   /* background-color: aqua; */
   border-bottom: 1px solid grey;
   padding-top: 1%;
   padding-bottom: 1%;
 }
 #OrderBookImgDiv{
   flex: 0.7;
   /* height: 20vh; */
 }
 #OrderBookData{
   flex: 1;
   font-size: 1.5vw;
   overflow: hidden;
   max-height: 7vw;
 }
 #orderDelBtn{
  flex: 1;

 }
 #OrderBookImg{
    height: 9vw;
    width: 6vw;
    margin-left: 10%;
    /* margin-top: 2%; */
    /* height: 12.5vw;
    width: 10vw;
    margin-left: 1.5vw; */
 }
 #OrderTitle{
  /* marginTop:'5%',position:'absolute',width:'20%',marginLeft:'13%'  */
  margin-top:3%;
  text-align: center;
 }
 #OrderPrice{
  /* marginTop:'8%',position:'absolute',marginLeft:'13%' */
  margin-top: 10%;
  font-size: 1.5vw;
  text-align: center;
 }
 #orderDeleteIcon{
  /* paddingTop:'5%',float:'right',marginRight:'3%' */
  /* float: ; */
  margin-left: 49%;
  /* margin-right: 49%; */


 }
#dt{
  margin-left: 12vw;
  font-size: 1.5vw;
  width: 15vw;
  overflow: auto;
  display: inline-flex;
}
#dt1{
  margin-left: 2vw;
  font-size: 1.5vw;
  width: 15vw;
  overflow: auto;
  display: inline-flex;
}
#dt2{
  margin-left: 7vw;
  font-size: 1.5vw;
}
#dt3{
  margin-left: 1%;
  font-size: 15px;
  margin-top: 6%;
  position: absolute;
  cursor: pointer;
  color: #38ACEC;
}
#dt3:hover{
  color:black;
}
.OrderpaginationLi{
	display: inline;
  padding: 0% 2%;
  cursor: pointer;
}
#totalbooks{
  margin-left: 1%;
}
#payusing{
  margin-left: 1%;
  position: absolute;
  margin-top: 0%;
}
#orderstatus{
  margin-left: 1%;
  position: absolute;
  margin-top: 3%;
}
#deliverydate{
  margin-top: 0.8%;
  position: absolute;
  margin-left: 30%;
}
#popuporderdiv{
  /* padding-top: 3.2%; */
  overflow: auto;
  width: 100%;
  height: 31vw;
}
#convertPayText{
  text-align: center;
}

#showConvErr{
  text-align: center;
  color: #38ACEC;
  font-size: 110%;
}
/*  tab and larger mobile*/
@media screen and (max-width: 991px) and (min-width:539px){
  #Your-Orders-Books-Donations {
    margin-top: 0%;
    margin-left: 30%;
    font-size: 3vw;
    width: 45%;
  }
  #Order-Placed{
    font-size: 2vw;
  }
  #totalbooks{
    font-size: 2vw;
  }
  #payusing{
    font-size: 2vw;
  }
  #orderstatus{
    font-size: 2vw;
  }
  #deliverydate{
    font-size: 2vw;
  }
  #Shipped-To{
    width: 11.6%;
    font-size: 2vw;
    margin-left: 6%;
  }
  #Placed-by{
    font-size: 2vw;
    width: 11.6%;
    margin-left: 8%;
  }
  #order-total{
    font-size: 2vw;
    width: 11.6%;
    margin-left: 5%;
  }
  #order-id{
    font-size: 2vw;
    margin-left: 4%;
    width: 20%;
  }
  #dt{
    margin-left: 10vw;
    font-size: 2vw;
  }
  #dt1{
    margin-left: 3vw;
    font-size: 2vw;
  }
  #dt2{
    margin-left: 4vw;
    font-size: 2vw;
  }
  #dt3{
    font-size: 2vw;
  }
  #trackbtn{
    width: 17vw;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 2vw;
    margin-top: -4.5%;
  }
  #convertbtn{
    width: 17vw;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 1.8vw;
    margin-top: 0.5%;
  }
  #cancelbtn{
    width: 17vw;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 1.8vw;
    margin-top: 0.5%;
  }
  #trackimg{
    width: 2vw;
  }
  #div1{
    padding-bottom: 12%;
  }
  #ordersbtn{
     font-size: 2vw;
     width: 15vw;
  }
  #donationbtn{
    font-size: 2vw;
    width: 15vw;
  }
  #OrderBookData {
    flex: 1 1;
    font-size: 1.8vw;
    overflow: hidden;
    margin-top: 0%;
    max-height: 8vw;
    margin-left: -2%;
    /* color: black; */
    /* width: -26vw; */
}
#OrderPrice {
  margin-top: 7%;
  font-size: 1.8vw;
}
#OrderBookImg {
    height: 10vw;
    width: 8vw;
}
#popuporderdiv {
  height: 35vw;
}

#showConvErr{
  text-align: center;
  color: #38ACEC;
  font-size: 100%;
}
}
@media screen and (max-width:767px){
  #popuporderdiv {
    height: 46vw;
}
#OrderBookImg {
  height: 14vw;
  width: 11vw;
}
#OrderBookData {
  font-size: 2vw;
  margin-top: 2%;
  max-height: 10vw;
  margin-left: 0%;
  /* color: black; */
}
#OrderPrice {
  margin-top: 14%;
  font-size: 2vw;
}
}
/* smaller mobiles */
@media screen and (max-width: 538px) {
  #Your-Orders-Books-Donations {
    margin-top: 27%;
    margin-left: 14%;
    font-size: 5vw;
    width: 73%;
  }
  #Order-Placed{
    font-size: 3.5vw;
    margin-top: -1vw;
    height: 7%;
  }
  #Shipped-To{
    width: 98%;
    font-size: 3.5vw;
    margin-left: 2%;
    margin-top: -2%;
  }
  #Placed-by{
    font-size: 3.5vw;
    width: 50%;
    margin-left: 2%;
    margin-top: -1%;

    /* font-size: 3.5vw;
    width: 21%;
    margin-left: 8%;   */
  }
  #order-total{
    font-size: 3.5vw;
    width: 41%;
    margin-left: 2%;
    margin-top: -1%;
  }
  #order-id{
    font-size: 3.5vw;
    margin-left: 2%;
    width: 39%;
  }
  #totalbooks{
    font-size: 3.5vw;
    margin-left: 2%;
    margin-top: -1%;
  }
  #payusing{
    font-size: 3.5vw;
    margin-left: 2%;
    margin-top: -1%;
  }
  #orderstatus{
    font-size: 3.5vw;
    margin-left: 2%;
    margin-top: -0.5%;
  }
  #deliverydate{
    font-size: 3.5vw;
    margin-top: 3.7%;
    margin-left: 2%;
    position: relative;
  }
  #dt{
    margin-left: 14vw;
    font-size: 3.5vw;
  }
  #dt1{
    margin-left: 4vw;
    font-size: 3.5vw;
  }
  #dt2{
    margin-left: 4vw;
    font-size: 2vw;
  }
  #dt3{
    font-size: 3.5vw;
    float: right;
    margin-right: 2%;
    margin-top: 0%;
    position: relative;
  }
  #trackbtn{
    width: 25vw;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 3vw;
    margin-top: -16.5%;
    border-radius: 5px;
  }
  #convertbtn{
    width: 25vw;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 2.7vw;
    margin-top: -8.5%;
    border-radius: 5px;
  }
  #cancelbtn{
    width: 25vw;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 3vw;
    margin-top: -1%;
    border-radius: 5px;
  }
  #trackimg{
    width: 3vw;
  }
  #div1{
    padding-bottom: 12%;
  }
  #ordersbtn{
    font-size: 3vw;
    width: 24vw;
    position: absolute;
    height: 7vw;
    margin-top: -6%;
  }
  #donationbtn{
    font-size: 3vw;
    width: 24vw;
    position: absolute;
    height: 7vw;
    margin-top: -6%;
    margin-left: 40%;
  }
  #OrderPrice {
    font-size: 3.2vw;
    margin-top: 21%;
}
#OrderBookImg {
  height: 22vw;
  width: 16vw;
}
#OrderBookData {
  font-size: 3.2vw;
  max-height: 11vw;
  margin-top: 5%;
  margin-left: -5%;
}
#popuporderdiv {
  height: 0%;
}
#showConvErr{
  text-align: center;
  color: #38ACEC;
  font-size: 90%;
}
}
