#NoPassword{
	display: none;
}
#beforeCart{
	position: absolute;
	margin-top: 22%;
	text-align: center;
	color: #00bff3; 
}
.formleft{
	background-color: #F0F0F0;
	width:50%;
	margin-top: -0.67%;
	height: 100%;
	margin-left: -0.65%;
	position: absolute;
	color: black;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#PLbt{
	background-color: white;
	color:black;
	border-radius: 4px;
	border:none;
	position: absolute;
	width: 100%;
	margin-top: 10.1%;
	padding: 3% 0%;
}
.PLformright{
	position: absolute;
	width: 50%;
	height: 100%;
	margin-left: 49.37%;
	margin-top: -0.67%;
	background: white;
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 20px;
    /* padding-top: 40px; */
}
.PLtab{
    color: #fff;
	width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
}
.PLtablinks{
	background: transparent;
	border:none;
	font-family: Helvetica;
	font-size: 22px;
	font-weight: normal;
	color: black;
	border-bottom: 1px solid;
	border-bottom-color: black;
	width: 100%;
	margin-left: 3.3%;
	margin-top: 2.2%;
}
.PLtablinks1{
	background: transparent;
	border:none;
	font-family: Helvetica;
	font-size: 22px;
	font-weight: normal;
	color: #ccc;
	width: 100%;
	margin-left: 2.3%;
	margin-top: 2.2%;
}

.PLform-row-inner{
	position: absolute;
	width: 97%;
	margin-left: -48%;
	margin-top: 1%;
}

.PLform-row-inner1{
	position: absolute;
	width: 97%;
	margin-left: -48%;
	margin-top: 21%;
}
.PLform-row-inner3{
	position: absolute;
	width: 97%;
	margin-left: -48%;
	margin-top: 12%;
}
.PLform-row-inner2{
	position: absolute;
	width: 97%;
	margin-left: -48%;
	margin-top: 11%;
}