#Competitive-Exams {
    width: 100%;
    height: 3.2%;
    font-family: Helvetica;
    font-size: px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #540505;
    margin-top: 1%;
    margin-bottom: 0rem; 
  }
  #Engineering-Medical {
    /* width: 17%; */
    height: 2%;
    font-family: Helvetica;
    font-size: 85%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #008aff;
    margin-left: 2.5%;
    /* margin-top: 3%; */
    /* position: absolute; */
  }
  #divsection1{
      background-color:transparent;
      margin-left: 2.5%;
      /* margin-top: 2%; */
      width:90%;
  }
  #divsection2{
    background-color:transparent;
    margin-left: 2.5%;
    margin-top: -3.5%;
    width:19%;
}
#divsection3{
  background-color: transparent;
  /* margin-left: 2.5%; */
  /* margin-top: -3.5%; */
  width: 87%;
}
  #link{
      list-style: none;
      margin-left: 3%;
      line-height: 100%;
      color: black;
      font-weight: normal;
      font-size:85%;
       margin-bottom: 0rem;   }
  #link1{
    list-style: none;
    margin-left: 3%;
    line-height: 100%;
    color: black;
    font-weight: normal;
    font-size:75%;
}
  #Government-Jobs {
    /* width: 15%; */
    height: 2%;
    font-family: Helvetica;
    font-size: 85%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #008aff;
    margin-left: 2.5%;
    margin-top: -1.5%;
/* position: absolute; */
  }
  #General-Knowledge-Learning {
    width: 165px;
    height: 31px;
    font-family: Helvetica;
    font-size: 85%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: normal;
    text-align: left;
    color: #008aff;
    margin-left: 2.5%;
    margin-top: 2%;
  }
  #International-Exams {
    /* width: 15%; */
    height: 12px;
    font-family: Helvetica;
    font-size: 75%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #008aff;
    margin-left: 2.5%;
    margin-top: -1.5%;
    /* position: absolute; */
  }
.subCategoryS{
  color: #008aff;
  font-weight: lighter;
  line-height: 0 ;
}
.MainCategoryS{
  color: #540505;
  line-height: 0 ;

}
.subsubCateg{
  color: #4b4b4b;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
  line-height: 0 ;
}
#School-Level {
  width: 57%;
  height: 12px;
  font-family: Helvetica;
  font-size: 75%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  margin-top: 14%;

}

#Non-Friction{
  width: 57%;
  height: 12px;
  font-family: Helvetica;
  font-size: 75%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  margin-top: 14%;
}

#Fiction-Non-fiction-Books {
  width: 100%;
  height: 3.2%;
  font-family: Helvetica;
  font-size:15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #540505;
  display: block;
  /* margin-top: -5%; */
  margin-bottom: 0rem;
}
#Friction {
  width: 57%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  margin-top: 12%;

}

#Fiction-Non-Fiction-others {
  width: 82%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  /* margin-top: -5%; */

}

#Religion-Sprituality{
  width: 80%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  /* margin-top: -7%; */
  display: block;
}

#Motivation-Self-help{
  width: 75%;
  height: 12px;
  font-family: Helvetica;
  font-size: 90%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  /* margin-top: -6%; */
  display: block;
}
#Childrens-books{
  width: 57%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  margin-top: 14%;
}
#Classes{
  width: 75%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  /* margin-top: -6%; */
  display: block;
}
#NCERT{
  width: 57%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  margin-top: 14%;
}
#Engineering{
  width: 75%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  margin-top: 6%;
  display: block;
}
#Medical{
  width: 57%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  margin-top: 14%;
}
#Others{
  width: 57%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  /* margin-top: -3%; */
  display: block;
}
#Science-arts{
  width: 57%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  /* margin-top: -3%; */
  display: block;
}
#Finance{
  width: 82%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  /* margin-top: -2%; */
  display: block;
}
#Dictionary-level{
  width: 82%;
  height: 12px;
  font-family: Helvetica;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #008aff;
  /* position: absolute; */
  margin-left: 3%;
  margin-top: 14%;
  display: block;
}