
/* DESKTOP */
@media screen and (min-width: 992px){
  * {
  
    padding: 0px;
    margin: 0px;
    
    }
  
  #HomePassRestMsg{
    text-align: center;
    /* margin-top: 15%; */
    font-size: 140%;
    color: #008cff;
  }
  #HomePassRestMsg_2{
    text-align: center;
    margin-top: 10%;
    font-size: 110%;
    /* color: #008cff; */
  }
  /* Style for home menu*/
  #BgGetBooksIcon{
    position: absolute;
    margin-left:12.5%;
    margin-top:-4.2%;
    width: 4%;
  }
  #BgDonateBooksIcon{
    position: absolute;
    margin-left:15%;
    margin-top:-4.2%;
    width: 4.5%;
  }
  #BgProudDonorsIcon{
    position: absolute;
    margin-left:14%;
    margin-top:-4.2%;
    width: 5.5%;
  }
  #DisplayNone{
    display: none;
  }
  #homeMenu{
    position: fixed;
    background-color: #13dafe;
    padding-left: 1%;
    width: 100%;
    height: 4.5vw;
  }
  
  #homeMenusearch{
    position:absolute;
    width:40%;
    margin-left: 2%;
     margin-top:-1.7%;
    /* top:auto; */
    left:30%;
    padding:5px;
    height:80%;
    border-radius: 40px;
    /* background-color: #2f3640; */
    background-color: white;
          transform: translate(-50%, -50%); 
  }
  #homeMenuSearchBtn {
    color: #e84118;
    border-radius: 50%;
    float: right;
    width: 3vw;
    margin-top: -0.1vw;
    height: 3vw;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #d0c6c6;
    z-index: 1;
  }
  
  
  #donatebooks {
    
    width: 11.5%;
    font-weight: bold;
    height: 74%;
  position: absolute;
    background-color: white;
  padding-right: 1%;
   color: #f8911e;
   margin-left: 44%;
   border:none;
   border-radius: 5px;
   margin-top: .7%;
   text-align: right;
  }
  #loginSignup{
    margin-left: 58%;
    color: white;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
  }
  #more{
    margin-left: 2%;
    color: white;
    font-size: 90%;
    font-weight: bold;
  }
  #cart{
    margin-left: 3%;
    color: white;
    font-size: 90%;
    font-weight: bold;
  }
  #listonProfile :hover{
    background-color:  #13dafe;
    color: white;
  }
  
  /* End Style for home menu*/
  
  /* MainHeader Part */
  #DonateBooksMH{
    font-size: 95%;
  }
  #ImgDonateBookMH{
    float: left;
    margin-left: 5%;
    width: 22%;
  }
  #DonateBooksMH{
    font-size: 1.2vw;
  }
  #ImgDonateBookMH{
    float: left;
    margin-left: 5%;
  }
  #myPustakLogo{
    cursor: pointer;
    width: 16vw;
  }
  #bgLogoDiv{
    position:absolute;
    margin-left:5%;
    margin-top:1%; 
  }
  /* End of MainHeader Part */
  /* style for the home book lists*/
  #categorybtn{
    float: left;
    border: none;
    background-color: black;
    font-weight: bold;
    height: 138%;
    padding: 0.6%;
    margin-top: -0.9%;
    /* margin-top: -0.6%; */
    width: 23%;
    margin-left: .9%;
    color: white;
    border-radius: 5px;
  }
  #slidercategorybtn{
    float: left;
    border: none;
    background-color: black;
    font-weight: bold;
    height: 110%;
    padding: 0.1%;
    margin-top: -0.3%;
    width: 23%;
    margin-left: 2.9%;
    color: white;
    border-radius: 5px;
  }
  #categoryword{
  font-size: 1.2vw;
  }
  #categoryimg{
  width: 1vw;
  }
  /* style for the home book lists*/
  
  /* Style for Cart popup  in Bgimage */
  #BgCartBookData{
  display: flex;
  }
  
  #BgCartBookName{
    flex: 1 1 0;
    font-size: 70%;
    line-height: 23px;
    font-weight: normal;
    text-align: initial;
    padding: 0% 4%;
    height: 65px;
    overflow: hidden;
  }
  #BgCartBookCondPrice{
    /* flex: 1; */
    line-height: 11px;
    /* font-size: 65%; */
    font-weight: normal;
  }
  #BgCartBookprice{
    padding: 5%;
    font-size: 65%;
  }
  #BgCartBookshipping{
    font-size: 70%;
  }
  #BgCartcheckoutBtn{
    text-align: center;
    color: white;
    background-color: #00baf2;
    border: none;
    font-weight: bold;
    width: 80%;
    margin-bottom: 3%;
    margin-left: 3%;
    line-height: 0%;
    padding: 5% 0%;
  }
  /* Style for Cart popup  in Bgimage */
  
  /* style for the home book lists*/
  .homeBookBar{
    background-color: #008cff;
    height:45px;
    text-align: center;
    color: #b4e2f1;
    border-bottom: 6px solid #00bff3;
  }
  .homeBookBar div{
    display: inline-block;
    width: 16%;
    /* margin-top: .5%; */
    font-size: 100%;
    font-weight: Regular;
    position: relative;
    
  }
  
  .booklist{
  font-size: 10px;
  /* padding: 5px; */
  text-align: center;
  height: 290px;
  /* border: 1px solid black; */
  padding-left: 4%;
  padding-right: 4%;
  transition:all 500ms; 
  }
  .booklist img{
    width: 65%;
    height:15vw;
    margin-left: 20%;
  }
  .booklist:hover{
    transform:scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform:scale(1.1);
    /* border : .4px solid grey; */
  }
  .listOfCat{
    cursor: pointer;
    position: absolute;
    float: left;
    /* padding: .5%; */
  }
  .listOfCat:hover{
    color: white;
    font-weight: bold;
  }
  
  
  #menu {
    width: 100%;
    height: 15%;
    font-size: 15px;
    /* color:  */
    /* font-family: Tahoma, Geneva, sans-serif; */
    /* font-weight: bold; */
    text-align: center;
    /* text-shadow: 3px 2px 3px #333333; */
    background-color: #008cff;
    border-bottom: 6px solid #00bff3;
        /* border-radius: 8px; */
  }
  #menu ul {
    height: auto;
    padding: .5% 0%;
    margin: 0px;
    color: #b4e2f1;
  }
  #menu li {
    display: inline;
    /* padding: 20px; */
    float: left;
    margin: .3% 1% 0% 1%;
    padding: .3 1% 0% 1%;
    transition: 0.9s;
    /* width: 9%; */
    /* font-size: 75%; */
  
  
    }
    #menu li span a{
      /* position: absolute;
      float: right; */
   font-size: 1.15vw;
    }
    #menu #list-nav li a:hover {
      /* font-weight: bold; */
      border-bottom: 2px solid white;
      color: white;
      cursor: pointer;
  }  
  #Showclicked{
    border-bottom: 2px solid white;
    color: white;
  }
  #menu #list-nav li a:active {
    border-bottom: 2px solid white;
    color: white;
  }
  #list-nav a:active{
    /* font-weight: bold; */
  }
  
  #menu li span a::after{
      /* display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden; */
    }
  /* End style for the home book lists*/
  
     html, body, ul {
      margin:0px;
      padding:0px;
    }
    body {
      font-family: arial;
    }
      .bgimage{
      /* background-image: url("./images/TopImage.jpg"); */
      /* background-image: url("https://ik.imagekit.io/kbktyqbj4rrik/uploads/banner/background-header-image.jpg"); */
      background-image: url("https://ik.imagekit.io/kbktyqbj4rrik/uploads/banner/HomeBgImage.jpg");


      background-size: cover;
      max-width:100%;
      height:220px;
      /* margin-top: -1.3%; */
       }
    .menu {
      width:100%;
      height: 50px;
      background-color: rgb(0,0,0,0.1);
      z-index: 1;
      
    }
    .leftmenu:hover {
      cursor: pointer;
    }
    .leftmenu h4{
      width:250px;
      color:orange;
      float: left;
      line-height: 50px;
      font-size: 22px;
      margin-left: 50px;
    }
    .centermenu {
    /* float:left; */
    margin-left: 10%;
    z-index: 1;
    
    }
    .centermenu ul li {
      width:100px;
    
    }
    .pageLink{
      margin-top: 17%;
      margin-left: 25%;
      /* position: absolute; */
    }
  .pageLink:hover{
      cursor: pointer;
      /* cursor: pointer; */
    }
    .rightmenu {
    float:right;
    margin-right: 20px;
    width: 25%;
    /*z-index: 1;*/
    }
    #logSign{
      width: 32%;
      font-size: 85%;
    }
    .rightmenu ul li {
      width:80px;
      
       }
    
    .menu ul li {
     list-style: none;
     margin: 0px;
     padding:0;
     float:left;
     color:white;
     /*width:195px;
     height:50px;*/
     /* line-height: 50px; */
     line-height: 240%;
     text-align: center;
     font-weight: bold;
    
    }
    .menu ul li ul {
      position: absolute; 
      z-index: 1;
    }
    .menu ul li ul li{
      display: none;
      border:1px solid white;
      z-index: 1;
      
    }
    .menu ul li:hover {
      /*background-color: blue; */
      color: orange;
      cursor: pointer;
    
    }
    .menu ul li:hover ul li{
      cursor: pointer;
      background-color: blue;
      float: left;
      display: block;
      width:170px;
      color:white;
    }
    .menu ul li ul li:hover {
      background-color: dodgerblue;
       
    }
    #contentbox {
      width:50%;
      margin:auto;
      margin-left: 25%;
      margin-top:5%;
      color: white;
      /* font-size: 125%; */
      font-weight: bold;
      position: absolute;
    }
    
    #contentbox #box1{
      width:33%;
      background-color: rgb(0,0,0,0.7);
      height:15vh;
      display: inline-block;
      border-bottom-left-radius: 5%;
      border-top-left-radius: 5%;
      cursor: pointer;
      /*float: center;*/
    }
    #contentbox #box2{
      width:33%;
      background-color: rgb(0,0,0,0.7);
      height:15vh;
      display: inline-block;
      margin-left: 1px;
      margin-right:1px;
      /*float: center;*/
      cursor: pointer;
    }
    #contentbox #box3{
      width:33%;
      background-color: rgb(0,0,0,0.7);
      height:15vh;
      display: inline-block;
      border-top-right-radius: 5%;
      border-bottom-right-radius: 5%;
      /*float: center;*/
      cursor: pointer;
    }
    .search-box {
          position:absolute;
          top:auto;
          left:50%;
          padding:10px;
          height:48%;
          border-radius: 40px;
          /* background-color: #2f3640; */
          background-color: white;
                transform: translate(-50%, -50%); 
          margin-top:0%;
              }
      .search-btn {
        color: #e84118;
        border-radius: 50%;
        float: right;
        width: 3vw;
        margin-top: -0.5vw;
        height: 3vw;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #d0c6c6;
        z-index: 1;
        margin-right: -1%;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 2%;
        margin-left: 4%;
    }
      .search-txt {
        border: none;
        outline: none;
        background: none;
        float: left;
        height: 3vw;
        /* padding: 0px; */
        color: black;
        font-size: 16px;
        line-height: 40px;
        transition: 0.4s;
        background-color: transparent;
        margin-left: 1%;
        padding-top: 1%;
        width: 500px;
        padding-right: 10p;
        padding-left: 8px;
      }
      .rectangle {
        width: 100vw;
        margin-bottom: 10px;
        height: 61vh;
        /*background-color: blue;*/
      }
      .column1 {
        width:75vw;
        overflow: hidden;
        display: inline-block;
        height:61vh;
  
      }
      .column2{
        width:25%;
        overflow: hidden;
        display: inline-block;
        /* height: 400px; */
       
      }
      .rectangle .column1 img {
        height: 61vh;
        width:75vw;
      }
      .rectangle .column2 img {
        height:61vh;
        width:25vw;
      }
      .textbox {
      height:50px;
      background-color: #012b72;
      border:1px solid white;
       width:1048px;
    }
    
    .textbox ul li {
      list-style: none;
      display:inline-block;
        color:white;
        line-height: 50px;
        font-size: 22px;
        width:24%;
        text-align: center;
        border-right: 1px solid white;
    }
    .textbox ul li:hover {
      cursor: pointer;
      color:orange;
    }
    .rectangle1 {
      width:100%;
      margin-top:10px;
      height:300px;
      
    }
    .textbox1 {
       
      width:100%;
      height: 40px;
      background-color: #012b72;
    }
    
    .textbox1 ul li{
      list-style: none;
      display: inline-block;
      /*float: left;*/
      color:white;
      width:20%;
      line-height: 40px;
      font-size: 13px;
      text-align: center;
      background-color: #012b72;
    
    }
    .textbox1 ul li:hover {
      
      color:orange;
      cursor: pointer;
    }
    .rectangle2 {
      width:100%;
      height:28vw;
      
    }
    .rectangle3 {
      width:100%;
      height: 340px;
    }
    .col1{
      width:60%;
      float:left;
    }
    .col2 {
      width:40%;
      float: right;
    
    }
    .how-we-work {
    color:white;
    text-align: center;
    background-color: #012b72;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid white;
    }
    .aboutus {
    color:white;
    text-align: center;
    background-color: #012b72;
    height: 40px;
    line-height: 40px;
    }
    .text{
      text-align: justify;
      padding:25px;
    }
    .video {
      height:300px;
      width: 100%;
    }
    nav{
      display: none;
      width: 100%;
      background-color:rgba(0,0,0,0.5);
      height: 40px;
      top: 0;
      /*position: fixed;*/
     
      }
      .close {
          cursor: pointer;
          font-size: 30px;
        }
    
    .main-nav {
      box-sizing: border-box;
    
    }
    .mobilemenu {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
      transition: all 300ms ease-in-out;
      position: fixed;
    
    }
    .mobilemenu li {
      display: inline-block;
      border-bottom: 1px solid rgba(192,192,192,0.5);
      cursor: pointer;
    
    }
    .mobilemenu li>a {
      text-decoration: none;
      color:black;
      padding: 0 14px;
    }
    .mobile-btn {
      cursor: pointer;
      float: left;
      color: white;
      font-weight: bold;
      font-size: 30px;
    }
    .mobilemenu li.close:hover{
      color: orange;
    }
    .mobilemenu li:hover {
      color: orange;
    }
    .overlay {
          position: fixed;
          height: 100%;
          width: 100%;
          background-color: rgba(0,0,0,0.4);
          opacity: 0;
          z-index: -1;
          top: 0;
          left: 0;
          transition: opacity 300ms linear; 
          }
    .mobilemenu li:nth-child(1) {
      border: none;
    }
    .contentbox1{
      width: 70%;
      margin:auto;
      margin-top:20px;
      display: none;
    }
    /* .contentbox1 .box-1 {
      width:50%;
      background-color: rgb(0,0,0);
      height:60px;
      display: inline-block;
    
    } */
    /* .contentbox1 .box-2 {
      width:49%;
      background-color: rgb(0,0,0);
      height:60px;
      display: inline-block;
      border-left: 1px solid white;
    } */
    .books{
     
      height:270px; 
      /* overflow-x: auto; */
      overflow-x: scroll;
      /* overflow-y: hidden; */
      margin-bottom:50px;
      white-space: nowrap;
    }
    .books li{
      /*float: left;*/
      display: inline-block;
      list-style-type: none;
      width:20%;
    }
    
    .rectangle2 {
          width:100%;
          height:28vw;
        }
        .textbox2 ul{
          width:100%;
        }
        .textbox2 li {
          text-align: center;
          float: left;
          list-style-type: none;
          text-align: center;
          color:white;
          height: 40px;
          line-height:40px;
          background-color: #012b72;
          width:20%;
          font-size: 20px;
        }
       .textbox2 ul li a{
         font-size: 0.8em;
       }
       #homeBlock3{
         background-color: #b4e2f1;
         white-space: nowrap;
         overflow: auto;
       }
       #homeBlock3 div{
        display: inline-block;
        color: black;
        text-align: center;
        padding: 1%;
        text-decoration: none;
        /* font-size: 100%; */
        font-weight: bold;
        /* border-right: 1px solid black; */
        border:none;
        /* width: 184px; */
       }
        div.scrollmenu {
      background-color: #012b72;;
      overflow: auto;
      white-space: nowrap;
      }
    
     div.scrollmenu a {
      display: inline-block;
      color: white;
      text-align: center;
      padding:10px 18px 10px 18px;
      text-decoration: none;
      font-size: 20px;
      border-right: 1px solid white;
      width: 184px;
      /*white-space: nowrap;
      overflow: hidden;*/
     }
    .cart {
      float: right;
      line-height: 40px;
      color:white;
      background-color: rgba(58,58,89);
      border:none;
      padding-left: 15px;
      padding-right: 15px;
    }
    /* .book{
      display: inline-block;
      font-size: 10px;
      padding: 5px;
      text-align: center;
      height: 280px;
      width:150px;
      border: 1px solid black;
      width: 15%;
      margin-right: 20px;
      overflow: hidden;
      float: left;
    }
    .book img{
      width: 100%;
      height:70%;
    }
    .book p{
    width: 100%;
     overflow-wrap: break-word;
    } */
    .book-content {
     overflow: hidden;
    }
    
    .books {
      height: 90%;
    }
    .books1, .books2, .books3 {
      height: 90%;
      width: 100%;
      /*height:270px; */
      overflow-x: auto;
      overflow-y: hidden;
      margin-bottom:50px;
      white-space: nowrap;
    
    }
    .book1, .book2, .book3{
    display: inline-block;
    font-size: 10px;
    padding:5px;
    text-align: center;
    width: 15%;
    overflow: hidden;
    height: 280px;
    border: 1px solid black;
    margin-right: 20px;
    
    }
    .book1 img, .book2 img, .book3 img{
      width: 100%;
      height:70%;
    }
    .book1 p, .boook2 p, .book3 p{
    width: 100%;
     overflow-wrap: break-word;
    }
    .circlesmall{
      border-radius: 50px;
      background-color: white;
      height:50%;
      width: 50%;
    }
  }
    /* SAHAYAN PART*/
     @media only screen and (max-width: 991px) {
      nav {
        display: block;
        z-index: 9;
       
      }
    
      .rectangle2 {
        height: 28vw;
        width: 100%;
      }
      .textbox2 li{
          height: 30px;
          line-height:30px;
          font-size: 13px;
      }
       .menu {
        display: none;
       }
       .contentbox{
        display: none;
       }
       .contentbox1 {
        display: block;
       }
       .box-1 {
        display: inline-block;
       }
       .box-2 {
        display: inline-block;
       }
     
       .mobilemenu {
        /* The position might change from absolute to fixed  */
        position: fixed;
        top:0;
        left: 0;
        display: block;
        background-color: white;
        width: 300px;
        height: 100%;
        transform:translateX(-300px);
        z-index: 999;
        font-size: 12px;
       }
       .mobilemenu li{
        display: block;
        padding: 10px 20px 10px 20px;
       
       }
       .mobilemenu li:nth-child(1) {
        text-align: right;
       }
       .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        top:0;
        right: 0;
        opacity: 0;
       }
       .mobilemenu.open {
        transform: translateX(0);
       }
       .overlay.open {
        z-index: 1;
        opacity: 1;
     }
     /* .search-box {
         height: 2%;
       border:0px;
  
      width: 60%;
      }
      .search-txt{
  
        width:60%;
        height: 1%;
      } */
      /* .btn {
        width: 5%;
        border-radius: 50%;
        float:right;
        color:#e84118;
        justify-content: center;
      } */
      /*body {
        margin: 0;
        padding: 0;
      }*/
        .textbox {
          height:25px;
          width: 100%;
        }
        .textbox ul li{
          width:23%;
          line-height: 25px;
          font-size:12px;
          border: none;
        }
        /* .rectangle .column1{
          height: 200px;
        } */
        /* .rectangle {
          height: 200px;
        } */
  
      div.scrollmenu {
      background-color: #012b72;;
      overflow: auto;
      white-space: nowrap;
      overflow: scroll;
      position: relative;
     
    }
    nav {
      width: 100%;
      z-index: 999;
    }
    
     div.scrollmenu a {
      display: inline-block;
      color: white;
      text-align: center;
      padding:10px 18px 10px 18px;
      text-decoration: none;
      font-size: 10px;
      border-right: 1px solid white;
      width: 22%;
      overflow: scroll;
    }
    /* .book {
      display: inline-block;
      font-size: 10px;
      padding: 5px;
      text-align: center;
      height: 80%;
      border: none;
      width: 25%;
      margin-right: 20px;
      overflow: hidden;
    } */
    /* .book img {
      width: 100%;
      height:70%;
    }
    .book p{
      width: 100%;
     overflow-wrap: break-word;
    } */
    .books {
      height: 100%;
    }
    .books1,.books2, .books3 {
      height: 100%;
      }
    .book1, .book2, .book3 {
      display: inline-block;
      font-size: 10px;
      padding: 5px;
      text-align: center;
      height: 80%;
      border: none;
      width: 25%;
      margin-right: 20px;
    }
    .book1 img, .book2 img, .book3 img {
      width: 100%;
      height:70%;
    }
    .book1 p, .book2 p, .book3 p{
      width: 100%;
     overflow-wrap: break-word;
    }
    }
    /* tab */
    /* and (min-width:768px) */
    @media screen and (max-width: 991px) {
      #mySidenav{
        display: block;
        z-index: 99;
      }
      #mySidenavNone{
        display: none;
      }
    #homediv1{
      width: 94%;
      height: 23%;
      background-color: white;
      padding-bottom: 1%;
      margin-left: 3%;
      margin-top: 8%;
  }
  .rectangle .column1 img{
    width: 100%;
  }
  .carousel .slide{
    background-color: transparent !important;
  }
  #homediv2{
    /* position: absolute; */
    background-color: white;
    margin-left: 3.2%;
    margin-right: 10%;
    /* height: 63.3%; */
    width: 43% ! important ;
    margin-top: 27%;
    border:3px solid #b4b4b4;
  }
  #homediv3{
    /* position: absolute; */
    background-color: white;
    margin-left: 24%;
    margin-right: 10%;
    /* height: 63.3%; */
    width: 43%;
    margin-top: 27%;
    border:3px solid #b4b4b4;
  }
  #homediv4{
    /* position: absolute; */
    background-color: white;
    margin-left: 44%;
    margin-right: 10%;
    /* height: 63.3%; */
    width: 43%;
    margin-top: 27%;
    border:3px solid #b4b4b4;
  }
  
  #homediv5{
    /* position: absolute; */
    background-color: white;
    margin-left: 63%;
    margin-right: 10%;
    /* height: 63.3%; */
    width: 43%;
    margin-top: 27%;
    border:3px solid #b4b4b4;
  }
  
  #homediv6{
    /* position: absolute; */
    background-color: white;
    margin-left: 80%;
    margin-right: 10%;
    /* height: 63.3%; */
    width: 43%;
    margin-top: 27%;
    border:3px solid #b4b4b4;
  }
  #Our-Testimonials {
    position: absolute;
    margin-left: 40%;
    margin-top: 4%;
    font-weight: bold;
    width: 22.8%;
    height: 3.5%;
    font-size: 28px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  
  }
  #homelabel {
  width: 157px;
  height: 98px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  }
  #photo{
  height: 51px;
  width: 53px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5%;
  
  }
  #photo1{
  height: 51px;
  width: 53px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 14.5%;
  margin-left: 11%;
  
  }
  #photo2{
  height: 51px;
  width: 53px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 14.5%;
  margin-left: 20%;
  
  }
  #photo3{
  height: 51px;
  width: 53px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 14.5%;
  margin-left: 20%;
  
  }
  #photo4{
  height: 51px;
  width: 53px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 14.5%;
  margin-left: 18%;
  
  }
  #label1{
  width: 74px;
  height: 23px;
  font-family: Corbel;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 12.5%;
  margin-left: 0.5%;
  position: absolute;
  color: #000000;
  }
  #modiv{
    width: 100vw;
    height: 10vw;
    background-color: white;
  }
  #homeicon{
    width: 4%;
      height: 25%;
      margin-top: 4vw;
      margin-left: 3%;
  }
  /* #mosearch{
    width: 4%;
    height: 42%;
    margin-left: 73%;
    margin-top: 2%;
  }
  #mosearch{
    margin-top: 3vw;
    width: 2.5vw;
    margin-left: 73%;
  } */
  #MoDisplayCartNos{
    background-color: #00baf2;
    /* border: 14px; */
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 46%;
    position: absolute;
    /* padding: 0.5%; */
    margin-left: 76.5%;
    padding: 0.1vw .8vw;
    margin-top: 3.5%;
    font-size: 1.5vw;
  }
  .sidenav {
    height: 100%;
    width: 69%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 9vw;
    max-width: 40vh;
  }
  .sidenav a {
    padding: 2px 1px 7px 15px;
    text-decoration: none;
    font-size: 3.2vh;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #cabebe;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 5.5vh;
    margin-left: 50px;
  }
  #logoimg{
    margin-top: 0vw;
    width: 19vw;
    height: 7.5vw;
    position: absolute;
    margin-left: 14%;
    }
  #cartimg {
    margin-top: 3vw;
    width: 4.3vw;
    float: right;
    margin-right: 10vw;
    background-color: #080808;
    border: 1px solid;
    border-radius: 6px;
}
nav {
  display: block;
  z-index: 999;
}
.booklist img{
  width: 25vw;
  height: 33vw;
  margin-left: 2vw;
}
.booklist{
  font-size: 10px;
  /* padding: 5px; */
  text-align: center;
  /* height: 262px; */
  /* border: 1px solid black; */
  padding-left: 4%;
  padding-right: 4%;
  transition: all 500ms;
  margin-top: 5%;
}
#Showclicked{
  border-bottom: 2px solid blue;
  color: #b3b3b3;
}
.rectangle2 {
  height: 67vw;
  width: 100%;
}
.slick-prev, .slick-next{
  width: 340px;
  height: 300px;
  margin-top: -7%;
  margin-left: 10px;
}
.textbox2 li{
    height: 30px;
    line-height:30px;
    font-size: 13px;
}
 .menu {
  display: none;
 }
 .contentbox{
  display: none;
 }
 .bgimage {
  height: 150px;
 }
 .contentbox1 {
  display: block;
 }
 .box-1 {
  display: inline-block;
 }
 .box-2 {
  display: inline-block;
 }

 .mobilemenu {
  /* The position might change from absolute to fixed  */
  position: fixed;
  top:0;
  left: 0;
  display: block;
  background-color: white;
  width: 300px;
  height: 100%;
  transform:translateX(-300px);
  z-index: 999;
  font-size: 12px;
 }
 .mobilemenu li{
  display: block;
  padding: 10px 20px 10px 20px;
 
 }
 .mobilemenu li:nth-child(1) {
  text-align: right;
 }
 .overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  top:0;
  right: 0;
  opacity: 0;
 }
 .mobilemenu.open {
  transform: translateX(0);
 }
 .overlay.open {
  z-index: 1;
  opacity: 1;
}
.search-box {
 /* height: 11px;*/
 height: 2%;
 border:0px;
 /*width:230px;*/
width: 60%;
}
.search-txt{
  /*width:150px;
  height: 11px;*/
  width:60%;
  height: 1%;
}
/* .btn {
  width: 5%;
  border-radius: 50%;
  float:right;
  color:#e84118;
  justify-content: center;
} */
/*body {
  margin: 0;
  padding: 0;
}*/ 
.column1 {
  width: 100%;
  }
  .column2{
    display: flex;
    width: 100%;
  }
  .textbox {
    height:25px;
    width: 100%;
  }
  .textbox ul li{
    width:23%;
    line-height: 25px;
    font-size:12px;
    border: none;
  }

  /* .rectangle {
    height: 200px;
  } */

.rectangle .column2 img{
  height: 24vw;

}
div.scrollmenu {
background-color: #012b72;;
overflow: auto;
white-space: nowrap;
overflow: scroll;
position: relative;

}
nav {
width: 100%;
z-index: 999;
}

div.scrollmenu a {
display: inline-block;
color: white;
text-align: center;
padding:10px 18px 10px 18px;
text-decoration: none;
font-size: 10px;
border-right: 1px solid white;
width: 22%;
overflow: scroll;
}
/* .book {
display: inline-block;
font-size: 10px;
padding: 5px;
text-align: center;
height: 80%;
border: none;
width: 25%;
margin-right: 20px;
overflow: hidden;
} */
/* .book img {
width: 100%;
height:70%;
}
.book p{
width: 100%;
overflow-wrap: break-word;
} */
.books {
height: 100%;
}
.books1,.books2, .books3 {
height: 100%;
}
.book1, .book2, .book3 {
display: inline-block;
font-size: 10px;
padding: 5px;
text-align: center;
height: 80%;
border: none;
width: 25%;
margin-right: 20px;
}
.book1 img, .book2 img, .book3 img {
width: 100%;
height:70%;
}
.book1 p, .book2 p, .book3 p{
width: 100%;
overflow-wrap: break-word;
}
#menu{
height:8vw;
width: 100%;
font-size: 15px;
/* color:  */
/* font-family: Tahoma, Geneva, sans-serif; */
/* font-weight: bold; */
text-align: center;
/* text-shadow: 3px 2px 3px #333333; */
background-color: #008cff;
border-bottom: 6px solid #00bff3;
}
#homeMenusearch{
/* position: absolute; */
width: 100%;
margin-left: 50%;
margin-top: 3.5%;
/* top: auto; */
left: 30%;
padding: 8px;
height: 112%;
border-radius: 0px;
/* background-color: #2f3640; */
background-color: #044aad;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
#homeMenuSearchBtn {
color: #e84118;
border-radius: 50%;
float: right;
width: 2.5vw;
margin-top: 0.4vw;
height: 3vw;
justify-content: center;
display: flex;
align-items: center;
background-color: #d0c6c6;
z-index: 1;
}
#homeBlock3{
background-color: #b4e2f1;
white-space: nowrap;
overflow: auto;
}
#homeBlock3 div{
display: inline-block;
color: black;
text-align: center;
padding: 1%;
text-decoration: none;
/* font-size: 100%; */
font-weight: bold;
/* border-right: 1px solid black; */
border:none;
/* width: 184px; */
}
 #donatebooks {
      width: 17vw;
      font-weight: bold;
      height: 6.1vw;
      position: absolute;
      background-color: whitesmoke;
      padding-left: 1%;
      color: #f8911e;
      margin-left: 0.5%;
      /* border: 1px solid #044aad; */
      border-radius: 7px;
      margin-top: 0.3%;
      text-align: left;
      font-size: 1.9vw;
    }
    }
    /* End of tab */
 
  
  /* larger mobile */ 
  @media screen and (max-width: 767px) and (min-width:539px){
    #mySidenav{
      display: block;
    }
    #mySidenavNone{
      display: none;
    }
    .sidenav {     padding-top: 9vw;
      max-width: 40vh;
  }
    .sidenav a {font-size: 3.2vh;}
    .sidenav .closebtn{
      font-size: 5.5vh;
    }
    #menu{
      height:8vw;
      width: 100%;
      font-size: 15px;
      /* color:  */
      /* font-family: Tahoma, Geneva, sans-serif; */
      /* font-weight: bold; */
      text-align: center;
      /* text-shadow: 3px 2px 3px #333333; */
      background-color: #008cff;
      border-bottom: 6px solid #00bff3;
    }
  #homeicon{
    width: 4%;
      height: 25%;
      margin-top: 4vw;
      margin-left: 3%;
  }
  #modiv{
    width: 100vw;
    height: 10vw;
    background-color: white;
  }
  #cartimg{
    margin-top: 3vw;
    width: 4.3vw;
    float: right;
    margin-right: 10vw;
    background-color: #080808;
    border: 1px solid;
    border-radius: 6px;
  }
  #mosearch{
    margin-top: 3vw;
    width: 2.5vw;
    margin-left: 73%;
  }
  #logoimg{
    margin-top: 0vw;
    width: 19vw;
    height: 7.5vw;
    position: absolute;
    margin-left: 14%;
  }
  #homeMenusearch{
      /* position: absolute; */
      width: 100%;
      margin-left: 50%;
      margin-top: 3.5%;
      /* top: auto; */
      left: 30%;
      padding: 8px;
      height: 112%;
      border-radius: 0px;
      /* background-color: #2f3640; */
      background-color: #044aad;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  /* #homeMenuSearchBtn {
    color: #e84118;
    border-radius: 50%;
    float: right;
    width: 2.5vw;
    margin-top: 0.4vw;
    height: 3vw;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #d0c6c6;
    z-index: 1;
  } */
  #homeMenusearch{
    /* position: absolute; */
    width: 100%;
    margin-left: 50%;
    margin-top: 3.5%;
    /* top: auto; */
    left: 30%;
    padding: 8px;
    height: 112%;
    border-radius: 0px;
    /* background-color: #2f3640; */
    background-color: #044aad;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  #MoDisplayCartNos{
    background-color: #00baf2;
    /* border: 14px; */
    height: 3vw;
    width: 2.9vw;
    border-radius: 56%;
    position: absolute;
    /* padding: 0.5%; */
    margin-left: 76.5%;
    padding: 0.3vw .9vw;
    font-size: 1.8vw;
    margin-top: 3.5%;
  }
  .rectangle .column2 img{
    height: 31vw;
  
  }
  .rectangle .column1 img {
    width: 100%;
}
  .rectangle2 {
    height: 67vw;
    width: 100%;
  }
  .carousel .slide{
    background-color: transparent !important;
  }
  .booklist img{
    width: 19vw;
    height: 26vw;
    margin-left: 6vw;
  
  }
  .booklist{
    font-size: 10px;
    /* padding: 5px; */
    text-align: center;
    /* height: 262px; */
    /* border: 1px solid black; */
    padding-left: 4%;
    padding-right: 4%;
    transition: all 500ms;
    margin-top: 5%;
  }
  .column2{
    display: flex;
    width: 100%;
  }
  .carousel .slide{
    height:31vw !important;
  }
  #donatebooks {
    width: 17vw;
    font-weight: bold;
    height: 6.1vw;
    position: absolute;
    background-color: whitesmoke;
    padding-left: 1%;
    color: #f8911e;
    margin-left: 0.5%;
    /* border: 1px solid #044aad; */
    border-radius: 7px;
    margin-top: 0.3%;
    text-align: left;
    font-size: 1.9vw;
  }
  }
  /* /* End of larger mobile */
  
  
  /* smaller mobile */ 
  @media screen and (max-width: 538px) {
    #mySidenav{
      display: block;
    }
    #mySidenavNone{
      display: none;
    }
    .sidenav {     padding-top: 9vw;
      max-width: 40vh;
  }
    .sidenav a {font-size: 3.2vh;}
    .sidenav .closebtn{
      font-size: 5.5vh;
    }
    .rectangle2 {
      height: 62vw;
      width: 100%;
    }
    #menu{
      height:9vw;
      width: 100%;
      font-size: 15px;
      /* color:  */
      /* font-family: Tahoma, Geneva, sans-serif; */
      /* font-weight: bold; */
      text-align: center;
      /* text-shadow: 3px 2px 3px #333333; */
      background-color: #008cff;
      border-bottom: 6px solid #00bff3;
    }
  #homeicon{
    width: 5vw;
    height: 4vw;
    margin-top: 6vw;
    margin-left: 3%;
  }
  #modiv{
    width: 100vw;
    height: 13vw;
    background-color: white;
  }
  /* #cartimg{
    margin-top: 4vw;
    width: 8.3vw;
    float: right;
    margin-right: 8vw;
  } */
  #cartimg {
    margin-top: 5vw;
    width: 6.3vw;
    float: right;
    margin-right: 10vw;
    background-color: #080808;
    border: 1px solid;
    border-radius: 6px;
}
  #mosearch{
    margin-top: 3vw;
    width: 2.5vw;
    margin-left: 73%;
  }
  #logoimg{
    margin-top: 1vw;
    width: 31vw;
    height: 11.5vw;
    margin-left: 28vw;
    position: absolute;
  }
  #homeMenusearch{
      /* position: absolute; */
      width: 100%;
      margin-left: 50%;
      margin-top: 5.5%;
      /* top: auto; */
      left: 30%;
      padding: 8px;
      height: 112%;
      border-radius: 0px;
      /* background-color: #2f3640; */
      background-color: #044aad;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  #homeMenuSearchBtn {
    color: #e84118;
    border-radius: 50%;
    float: right;
    width: 2.5vw;
    margin-top: 0.4vw;
    height: 3vw;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #d0c6c6;
    z-index: 1;
  }
  #MoDisplayCartNos{
    background-color: #00baf2;
    /* border: 14px; */
    height: 4.5vw;
    width: 4vw;
    border-radius: 56%;
    position: absolute;
    /* padding: 0.5%; */
    margin-left: 72.5%;
    padding: 0.1vw 1.1vw;
    font-size: 3vw;
    margin-top: 5.5vw;
  }
  .carousel .slide{
    background-color: transparent !important;
  }
  .booklist img{
    width: 25vw;
    height: 33vw;
    margin-left: 2vw;
  
  }
  .booklist{
    font-size: 10px;
    /* padding: 5px; */
    text-align: center;
    /* height: 262px; */
    /* border: 1px solid black; */
    padding-left: 4%;
    padding-right: 4%;
    transition: all 500ms;
    margin-top: 5%;
  }
  .rectangle .column2 img{
    height: 28.9vw;
  }
  .rectangle .column1 img {
    width: 100%;
}
  .carousel .slide{
    height:31vw !important;
  }
  .carousel .control-dots{
    margin: 2px 0;
  }
  .booklist img{
    width: 23vw;
    height: 29vw;
    margin-left: 2vw;
  
  }
  .booklist{
    font-size: 10px;
    /* padding: 5px; */
    text-align: center;
    /* height: 262px; */
    /* border: 1px solid black; */
    padding-left: 4%;
    padding-right: 4%;
    transition: all 500ms;
    margin-top: 5%;
  }
  #donatebooks {
    width: 21vw;
    font-weight: bold;
    height: 6.3vw;
    position: absolute;
    background-color: whitesmoke;
    padding-left: 1.4%;
    color: #f8911e;
    margin-left: 0.5%;
    /* border: 1px solid #044aad; */
    border-radius: 7px;
    margin-top: 0.3%;
    text-align: left;
    font-size: 2.8vw;
  }
  }
  /* /* End of smaller mobile */
  
  