#qadiv1{
    width: 100%;
    height: 23%;
    background-color: white;
    padding-bottom: 4%;
    display: inline-block;
    margin-top: 3%;
   
}
#qalayer1{
    width: 47vw;
    /* height: 21px; */
    margin-left: 30.2%;
    font-family: Helvetica;
    font-size: 2vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-top: 2%;
    color: #002e45;
}
#DAssurance{
    border: 0px solid #f8911e;
    box-shadow: 0px 2px 5px #888;
    margin-left: 2%;
}
#vidpos{
    margin-right: 2%;
    margin-top: 0%;
    margin-left: 1%;
}


#qalayer2{
    /* height: 15px; */
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    margin-left: 2%;
    letter-spacing: normal;
    text-align: left;
    color: #f8911e;
    margin-left: 23.5%;
}
#qadonar{
    /* width: 18vw; */
    /* height: 45px; */
    /* position: absolute; */
    font-family: 'Lato', sans-serif;
    font-size: 1.1vw;

    padding: 5%;

    /* margin-left: 9.5%; */
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #4d4d4d;
}
#Qualityctrl{
    box-shadow: 0px 2px 5px #888;
    margin-left: 2%;
}
 #quality{
    /* width: 94%; */
    /* height: 2%; */
    /* position: absolute; */
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    font-stretch: normal;
    margin-top: 1%;
    margin-left: 1.5vw;
    letter-spacing: normal;
    text-align: left;
    color: #f8911e;
 }
 #group{
    /* width: 18vw; */
    
    font-size: 1.1vw;
    margin-top: 0%;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    padding: 5%;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #4d4d4d;
}
#QualityShip{
    box-shadow: 0px 2px 5px #888;
    margin-left: 2%;
}
 #shipment{
    /* width: 18vw; */
    /* height: 15px; */
    /* position: absolute; */
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 30; */
    margin-left: 12%;
    margin-top: 0%;
    letter-spacing: normal;
    text-align: left;
    color: #f8911e;
 }


#ship{
    /* position: absolute; */
    /* width: 18vw; */
    /* height: 45px; */
    font-size: 1.1vw;
    margin-top: 0%;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    padding: 5%;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #4d4d4d;
}
#qualityPack{
    box-shadow: 0px 2px 5px #888;
    margin-left: 2%;

}
#packing{
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 30; */
    margin-left: 12%;
    margin-top: 0%;
    letter-spacing: normal;
    text-align: left;
    color: #f8911e;
 }
#pack{
    /* position: absolute; */
    font-size: 1.1vw;
    margin-top: 0%;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    padding: 5%;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #4d4d4d;
}
 
#donarimg{
    width: 4.5vw;
    
    margin-top: 4%;
    margin-left: 39%;
}

#groupimg{
    width: 4.5vw;
    margin-top: 4%;
    margin-left: 32%;
}

#shipmentimg{
    width: 5vw;
    height: 5vw;
    padding: 5%;
    margin-left: 32%;
    margin-top: -2%;
}

#packingimg{
    width: 5vw;
    height: 5vw;
    padding: 5%;
    color: #002e45;
    margin-left: 32%;
    margin-top: -2%;
}
@media screen and (max-width: 991px) {
    #qadiv1{
        margin-top: 4%;
        font-size: 2vw;
        margin-left: 2%;
        width: 96%;
        display: inline-block;
        box-sizing: border-box;
        background-color: #fff;
        /* box-shadow: 0 1px 3px 0 #847676; */
    }
    /* #firstpart{
        border: 0px solid #f8911e;
        box-shadow: 0px 2px 5px #888;
        margin-left: 2%;
    } */
    #vidpos{
        margin-left: 0%;
        margin-top: 0%;
    }
    #qalayer1{
        margin-left: 27vw;
        width: 58vw;
    }
    #DAssurance{
        /* padding:8%; */
        width:60%;
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 3%;

    
    }
    
    #qalayer2{
        font-family: 'Lato', sans-serif;
        float: left;
        font-size: 2.2vw;
        margin-left: 0%;
        margin-left: 23.5%;
        /* margin-left: 14%; */
        /* margin-top: -3%;     */
    }
      
    #qadonar{
        /* margin-left: 13%;*/
        margin-top: 10%;

        width: 25vw;
        font-size: 2vw;
    }
    /* #secondpart{
        box-shadow: 0px 2px 5px #888;
        margin-left: 2%;
    } */
    #Qualityctrl{
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 3%;
    }
     #quality{
        width: 40vw;
        font-size: 3vw;
       
        margin-right: 0%;
       
     }
     
    #group{
        width: 35vw;
        font-size: 2vw;
        margin-right: 4%;
        margin-top: 0%;
    }
    #QualityShip{
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 3%;
    }
     #shipment{
        float: left;
        font-size: 2.5vw;
        /* margin-left: -20%; */
        /* margin-top: 10%; */
     }
  
    
    
    #ship{
        font-family: 'Lato', sans-serif;
        margin-top: 25%;
        width: 27vw;
       
        font-size: 2vw;
    }
    #qualityPack{
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 3%;
    }
    #packing{
       
        
        font-size: 2.5vw;
        width: 30vw;
     }
    #pack{
        
        font-size: 2vw;
       
        margin-top: -1vw;
        width: 30vw;
    }
    
    #donarimg{
     padding: 0%;
     /* margin-top: -20%; */
        width: 7vw;
        margin-left: 15%;
    }
    
    #groupimg{
        width: 7vw;
        margin-left: 15%;
        
    }
    
    #shipmentimg{
        margin-top: 0%;
        
        margin-left: 15%;
        width: 10vw;
        height: 10vw;
    }
    
    #packingimg{
        width: 12vw;
        /* height: 58px; */
        margin-top: 0.5%;
        margin-left: 21%;
        height: 10vw;
        }
    .carousel .slide{
        background-color: white;
        /* height: 34vw; */
    }
}
@media screen and (max-width: 538px) {
    #qadiv1{
        margin-top: 4%;
        font-size: 2vw;
        width: 92%;
        /* height: 64vw; */
        display: inline-block;
        margin-left: 4%;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 0 1px 3px 0 #847676;
        border-radius: 5px;
    }
    #qalayer1 {
        /* margin-left: 1%; */
        /* width: 100%; */
        font-size: 3vw;
        padding-top: 2%;
        color: #002e45;
        font-weight: bold;
        padding-bottom: 2%;        
    }
    #qualityassurancediv{
        background-color: white;
        border-bottom: 1px solid #888;
    }
    #vidpos{
        margin-left: 2%;
    }
    #qalayer2 {
        /* float: left; */
        font-size: 3vw;
        /* margin-left: 28%; */
        margin-top: 0%;
        /* position: absolute; */
    }
    #qadonar {
        
        margin-top: 1%;
        width: 32vw;
        float: left;
        font-size: 3vw;
    }
    #donarimg {
        margin-top: 4%;
        float: left;
        margin-left: 45%;
        height: 5vh;
        width: 7vw;        
    }
    #quality {
        width: 40vw;
        font-size: 3vw;
        margin-top: 0%;
        float: left;
        margin-left: 11%;        
    }
    #group {
        width: 35vw;
        font-size: 3vw;
        float: left;
        /* margin-left: 11%; */
        /* margin-top: 1%; */
    }
  
    #groupimg {
        width: 7vw;
        height: 5vh;
        float: left;
        margin-left: 37%;
        margin-top: 4%;
    }
    #shipmentimg {
        margin-top: 4%;
        float: left;
        margin-left: 42%;
        width: 10vw;
        height: 10vh;
    }
    #shipment {
        /* float: left; */
        font-size: 3vw;
        /* margin-left: 16%; */
        margin-top: 0%;
    }
    #ship {
        /* float: left; */
        margin-top: 1%;
        width: 25vw;
        /* margin-left: 25%; */
        font-size: 3vw;
    }
    #packingimg {
        
        /* height: 22%; */
        float: left;
        margin-top: 4%;
        margin-left: 37%;
        height: 10vh;
        width: 10vw;
    }
    #packing {
        /* margin-left: 21%;*/
        /* margin-top: 2%;  */
        font-size: 3vw;
        width: 30vw;
        float: left;
    }
    #pack {
      /* margin-top: 10%; */
      float: right;
      font-size:3vw;
        /* margin-left: 15%; */
        /* margin-top: 1%; */
        /* width: 28vw; */
        
    }
    .carousel .slide{
        background-color: white;
        /* height: 58vw; */
    }
    .form-control:focus{
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

