@media only screen and (max-width: 1024px) {
    nav {
      display: block;
      z-index: 999;
     
    }
  
    .rectangle2 {
      height: 200px;
      width: 100%;
    }
    .textbox2 li{
        height: 30px;
        line-height:30px;
        font-size: 13px;
    }
     .menu {
      display: none;
     }
     .contentbox{
      display: none;
     }
     .bgimage {
      height: 150px;
     }
     .contentbox1 {
      display: block;
     }
     .box-1 {
      display: inline-block;
     }
     .box-2 {
      display: inline-block;
     }
   
     .mobilemenu {
      /* The position might change from absolute to fixed  */
      position: fixed;
      top:0;
      left: 0;
      display: block;
      background-color: white;
      width: 300px;
      height: 100%;
      transform:translateX(-300px);
      z-index: 999;
      font-size: 12px;
     }
     .mobilemenu li{
      display: block;
      padding: 10px 20px 10px 20px;
     
     }
     .mobilemenu li:nth-child(1) {
      text-align: right;
     }
     .overlay {
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.4);
      top:0;
      right: 0;
      opacity: 0;
     }
     .mobilemenu.open {
      transform: translateX(0);
     }
     .overlay.open {
      z-index: 1;
      opacity: 1;
   }
   .search-box {
     /* height: 11px;*/
     height: 2%;
     border:0px;
     /*width:230px;*/
    width: 60%;
    }
    .search-txt{
      /*width:150px;
      height: 11px;*/
      width:60%;
      height: 1%;
    }
    .btn {
      /*width:10px;*/
      width: 5%;
      border-radius: 50%;
      float:right;
      color:#e84118;
      justify-content: center;
    }
    /*body {
      margin: 0;
      padding: 0;
    }*/
    .column1 {
      width: 100%;
      }
      .column2{
        display: none;
      }
      .textbox {
        height:25px;
        width: 100%;
      }
      .textbox ul li{
        width:23%;
        line-height: 25px;
        font-size:12px;
        border: none;
      }
      .rectangle .column1{
        height: 200px;
      }
      /* .rectangle {
        height: 200px;
      } */
    .rectangle .column1 img {
      height: 160px;
      width:100%;
    }
    div.scrollmenu {
    background-color: #012b72;;
    overflow: auto;
    white-space: nowrap;
    overflow: scroll;
    position: relative;
   
  }
  nav {
    width: 100%;
    z-index: 999;
  }
  
   div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding:10px 18px 10px 18px;
    text-decoration: none;
    font-size: 10px;
    border-right: 1px solid white;
    width: 22%;
    overflow: scroll;
  }
  /* .book {
    display: inline-block;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    height: 80%;
    border: none;
    width: 25%;
    margin-right: 20px;
    overflow: hidden;
  } */
  /* .book img {
    width: 100%;
    height:70%;
  }
  .book p{
    width: 100%;
   overflow-wrap: break-word;
  } */
  .books {
    height: 100%;
  }
  .books1,.books2, .books3 {
    height: 100%;
    }
  .book1, .book2, .book3 {
    display: inline-block;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    height: 80%;
    border: none;
    width: 25%;
    margin-right: 20px;
  }
  .book1 img, .book2 img, .book3 img {
    width: 100%;
    height:70%;
  }
  .book1 p, .book2 p, .book3 p{
    width: 100%;
   overflow-wrap: break-word;
  }
  }
  