@media screen and (max-width: 538px) {
    #ResetPasswordBody{
        margin-top: 30%;
        /* border: 3px solid white; */
        /* background-color:blueviolet; */
        /* margin-right: 10vw;
        margin-left: 10vw; */
    }
    #ResetPassPart{
        border: 3px solid white;
        background-color:#b8d7f0;
        margin: 0% 5%;
        border-radius: 5px;
        /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
        box-shadow: 4px 4px 9px #0000003d;
    }
}


@media screen and (min-width: 538px) {
    #ResetPasswordBody{
        margin-top: 7%;
        /* border: 3px solid white; */
        /* background-color:blueviolet; */
        /* margin-right: 10vw;
        margin-left: 10vw; */
    }
#ResetPassPart{
    border: 3px solid white;
    background-color:#b8d7f0;
    margin: 0% 30%;
    border-radius: 5px;
    /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
    box-shadow: 4px 4px 9px #0000003d;
}
}
#ResetPasswordLayerOne p {
    margin-top: 5%;
    text-align: center;
    color: #008cff;
    font-size: 1.5rem;
    border: none;
    /* background-color: aliceblue; */
}
#ResetPassForm{
    /* background-color:green; */

    margin: 0% 10%;
    /* padding-b */
    height: 33vh;
}
#ResetPassForm .PasswordDiv{
    width: 100%;
    background-color: white;
    margin: 3.5% 0%;
    padding: .5%;
    border-radius: 4px;
    /* width: 0%; */
}
#RPassword{
    border:none;
    /* width: 30%;
    margin-left: 40%;
    margin-right: auto; */
}
#ConfirmRPassword{
    border:none;

    /* width: 30%;
    margin-left: 40%; */
}
#ResetSubmitBtn{
    width: 60%;
    backGround-color: #008cff;
    border:none;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    padding: 2% 2% 2% 2%;
    margin: 3% 0% 0% 20%;
    /* margin-top:  */

}
#PRSuccesMsg{
    text-align: center;
    margin-top: 15%;
    font-size: 150%;
}