#terms-condition{
    /* width: 21%;
    height: 23px;
    font-family: Helvetica;
    font-size: 156%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-left: 41%;
    padding-top: 6%; */

    width: 100%;
    height: 23px;
    font-size: 156%;
    text-align: center;
    color: #000000;
    /* margin-left: 28%; */
    padding-top: 1%;
}
#termshr{
    /* width: 96%;
    margin-left: 1.5%;
    margin-top: 3%; */
    width: 96%;
    margin-left: 1.5%;
    margin-top: 3%;
}
#termsdiv{
    margin-left: 2%;
    margin-right: 3%;
    text-align: justify;
    background-color: white;
    padding-bottom: 2%;
}
#termspara{
    padding-top: 1%;
    color: #ec5f2a;
}
#termsandconditionsouterdiv{
    background-color: white;
    padding-bottom: 2%;
    margin-top: 5%;
}
@media screen and (max-width: 991px) {

#termsandconditionsouterdiv{
    margin-top: 0%;
}
}
@media screen and (max-width: 538px) {
    #terms-condition{
        font-size: 17px;
    }
    #termsandconditionsouterdiv{
        margin-top: 26%;
    }
    }