#ForgotCaptcha{
    /* background-color: burlywood; */
}
#Forgotdisplaycaptcha{
    float: left;
    /* padding: 1%;  */
    margin-left: 2%;
}
#ForgetCapataInput{
    float: right;
    padding-top: 0%;
    width: 50%;
    margin-top: 10%;
    line-height:normal;
}
#loginBtn {
    font-weight: bold;
}
#loginBtn:hover {
    /* font-weight: bold; */
}
#signUpErr{
    color: red;
    font-size: 80%;
}


/* ------------------------------DESKTOP------------------------------- */
#LoginPopupBody{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 50% auto;
    color: black;
    /* background-color: #f0f0f0;   */
}
#SignPopupBody{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 50% auto;
    color: black;
    /* background-color: #f0f0f0;   */
}
#LoginpopupLeft{

    /* flex: 1; */
    /* display: inline-grid; */
    /* grid-column-start: 1; */

    background-color: #f0f0f0;   
    height:65vh;

}
#LoginpopupLeft p{
    margin-top: 5vh;
    text-align: center;
    background-color: white;
}

#LoginpopupRight{
    background-color: white;   
}
#LoginpopupRight p{
display: flex;
}
.BtnPopUptop{
    flex:1;
    text-align: center;
    font-weight: normal;
    font-size: 120%;
}
#ULShowClickedBtn{
    border-bottom: 1px solid black;
}
#ForgetPassBtn{
 width:40%;
 border:none;
 /* margineft:62%; */
 padding:0px;
 cursor:pointer;
 margin-top: 4%;
}
.LoginBtnHomePopup{
    background-color:#00baf2;
    color:white;
    border-radius:5px;
    border:none;
    width:59.2%;
    text-align:center; 
    height:7vh;
    /* margin-left:2.2%; */
    margin-top:2%;
    padding:0px; 

}
.SignupBtnHomePopup{
    background-color:#00baf2;
    color:white;
    border-radius:5px;
    border:none;
    width:59.2%;
    text-align:center; 
    height:7vh;
    /* margin-left:2.2%; */
    margin-top:7%;
    padding:0px; 

}
#ClickHereBtnForgetPass{
    background-color:#00baf2;
    color:white;
    border-radius:5px;
    border:none;
    width:59.2%;
    height:10.2%;
    /* margin-left:2.2%; */
    margin-right: 30%;
    margin-top:2%;
    padding-top:0px;
    font-size:140%;
    font-weight:bold;
  
}
#pfbimg{
    height: 65%;
    width: 22%;
    float: right;
    margin-right: 5%;
}
#pgmailimg{
    height: 65%;
    width: 22%;
    float: left;
    margin-left: 5%;
}
#psignuptext{
    font-weight: 700;
    font-size: 110%;
    margin-left: 11vw;
}
#forgotpasswordbtn{
    width: 40%;
    border: none;
    margin-left: 62%;
    padding: 0px;
    cursor: pointer;
}
#registermail{
    line-height: 0px;
    padding-top: 4%;
    height: 20%;
}
.loginpassword{
    line-height: 0px;
}
#signupmobile{
    height: 20%;
    margin-top: 0px;
    line-height: 0px;
    padding-top: 4%;
}
#signupemail{
    height: 20%;
    margin-top: 0px;
    line-height: 0px;
    padding-top: 4%;
}
#signuppassword{
    height: 20%;
    margin-top: 0px;
    line-height: 0px;
    padding-top: 4%;
}
#signupbtn{
    text-align: center;
}
#Google{
    margin-left: 35%;
}
/* ---------------------------END DESKTOP------------------------------ */
/* ------------------------------TAB------------------------------- */

@media screen and (max-width: 991px) {
    #MobileSignInUp{
        /* margin: 0% 15%; */
    }
    #DisplayX_none{
        display: none;
    }
    #LoginPopupBody{
        /* margin-top: 2%; */
        display: grid;
        height: 44%;
        width: 62vw;
        margin-left: 22%;
        grid-template-columns: 90%;
        color: black;
        /* background-color: #f0f0f0;   */
    }
    #SignPopupBody{
        /* margin-top: 2%; */
        display: grid;
        height: 44%;
        width: 62vw;
        margin-left: 22%;
        grid-template-columns: 90%;
        color: black;
        /* background-color: #f0f0f0;   */
    }
    #LoginpopupLeft{
    
        /* flex: 1; */
        /* display: inline-grid; */
        /* grid-column-start: 1; */
/*     
        background-color: #f0f0f0;   
        height:65vh; */
        display: none;
    
    }
    #LoginpopupLeft p{
        margin-top: 5vh;
        text-align: center;
        background-color: white;
    }
    
    #LoginpopupRight{
        background-color: white;   
    }
    #LoginpopupRight p{
    display: flex;
    }
    .BtnPopUptop{
        flex:1;
        text-align: center;
        font-weight: normal;
        font-size: 3vw;
    }
    #ULShowClickedBtn{
        border-bottom: 1px solid black;
        font-size: 3vw;
    }
    #ForgetPassBtn{
     width:40%;
     border:none;
     /* margineft:62%; */
     padding:0px;
     cursor:pointer;
     margin-top: 4%;
    }
    .LoginBtnHomePopup{
        background-color:#00baf2;
        color:white;
        border-radius:5px;
        border:none;
        width:59.2%;
        text-align:center; 
        height:7vh;
        /* margin-left:2.2%; */
        margin-top:2%;
        padding:0px; 
    
    }
    .SignupBtnHomePopup{
        background-color:#00baf2;
        color:white;
        border-radius:5px;
        border:none;
        width:59.2%;
        text-align:center; 
        height:7vh;
        /* margin-left:2.2%; */
        margin-top:7%;
        padding:0px; 
    
    }
    #ClickHereBtnForgetPass{
        background-color:#00baf2;
        color:white;
        border-radius:5px;
        border:none;
        width:59.2%;
        height:10.2%;
        /* margin-left:2.2%; */
        margin-right: 30%;
        margin-top:2%;
        padding-top:0px;
        font-size:140%;
        font-weight:bold;
      
    }
    #pfbimg{
        height: 4vw;
        width: 4vw;
        margin-bottom: 1%;
    }
    #pgmailimg{
        height: 4vw;
        width: 4vw;
        margin-bottom: 1%;
    }
    #signupmobile{
        margin-top: -4%;
        /* font-size: 3vw; */
    }
    #signupemail{
        /* font-size: 3vw; */
    }
    #signuppassword{
        /* font-size: 3vw; */
    }
    #signupbtn {
        margin-top: -5%;
    }
}
#Google{
    margin-left: 35%;
}
  /* -----------------------------larger mobile------------------------------ */ 

@media screen and (max-width: 767px) and (min-width:539px){
    #MobileSignInUp{
        /* margin: 0% 15%; */
    }
    #LoginPopupBody{
        /* margin-top: -4%; */
        display: grid;
        /* height: 51vw; */
        width: 73vw;
        margin-left: 15%;
        grid-template-columns: 100%;
        color: black;
        /* background-color: #f0f0f0;   */
        }
        #SignPopupBody{
         /* margin-top: -4%; */
        display: grid;
        /* height: 51vw; */
        width: 73vw;
        margin-left: 15%;
        grid-template-columns: 100%;
        color: black;
        }
        #forgotpasswordbtn{
            margin-left: 59%;
        }
        #LoginpopupRight {
            height: 62.5vh;
        }
        #ULShowClickedBtn {
            font-size: 4vw;
        }
        .BtnPopUptop{
            font-size: 4vw;
        }
        #signupmobile{
            margin-top: -4%;
            font-size: 3vw;
        }
        #signupemail{
            font-size: 3vw;
        }
        #signuppassword{
            font-size: 3vw;
        }
        #signupbtn {
            margin-top: -5%;
        }
}
#Google{
    margin-left: 35%;
}
 /* ------------------------------- End of larger mobile-------------------------- */
  
  
  /*------------------------------- smaller mobile --------------------------------*/ 
  @media screen and (max-width: 538px) {
    #MobileSignInUp{
        /* margin: 0% 4%; */
        margin-top:27%; 

    }
    #LoginPopupBody{
        margin-left: 1%;
        width: 99%;
        grid-template-columns: 99%;
    }
    #SignPopupBody{
        margin-left: 1%;
        width: 99%;
        grid-template-columns: 99%;
    }
    #ULShowClickedBtn {
        font-size: 4.5vw;
    }
    .BtnPopUptop{
        font-size: 4.5vw;
    }
    #LoginpopupRight {
        height: 63vh;
    }
    #forgotpasswordbtn {
       font-size: 4vw;
    }
    #registermail{
       font-size: 4vw;
    }
    .loginpassword{
        font-size: 4vw;
    }
    #psignuptext {
        margin-left: 18vw;
        font-size: 4vw;
    }
    #pfbimg{
        height: 6vw;
        width: 6vw;
    }
    #pgmailimg{
        height: 6vw;
        width: 6vw;
        margin-left: 3%;
    }
    #signupmobile{
        margin-top: -4%;
        font-size: 4vw;
    }
    #signupemail{
        font-size: 4vw;
    }
    #signuppassword{
        font-size: 4vw;
    }
    #signupbtn {
        margin-top: -5%;
    }
    #Google{
        margin-left: 32%;
    }

  }