.divcontact1 {   
  width: 64.4%;
  background-color: #fff;
  margin: 5.6% 18.2% 1% 17.3%;
  padding-bottom: 5%;
}
.divsection2 {
/* font-size: 5vw; */
width: 100%;
/* float: right; */
margin-top: 1vw;
margin-left: 2.5vw;
position: relative;
/* margin-left: 625px; */
/* margin-bottom: -158px; */
  /* margin-left: 625px; */
  /* margin-bottom: -158px; */
}
#ContactEmailMsg{
  color: red;
}
/* @media only screen and (max-width: 840px){
.divsection2 {
  font-size: 3vw;
  width: 38%;
  margin-top: -6vh;
}
}
@media only screen and (max-width: 540px){
.divsection2 {
  font-size: 3.5vw;
  width: 38%;
  margin-top: -9vh;
}
}
@media only screen and (max-width: 375px){
.divsection2 {
  font-size: 3.7vw;
  
  margin-top: -22vw;
}
} */
.align1{
position: relative;
margin-left: 4%;
margin-top: 2%;
font-size: 1.5vw;
display: -webkit-inline-box;
}
.align2{
/* position: absolute; */
margin-left: 4%;
font-size: 1.5vw;
/* margin-right: 67px; */
margin-top: 2%;
}
.align3{
/* position: absolute; */
margin-left: 4%;
margin-top: 0%;
font-size: 1.5vw;
display: inline;
}

.linkstyle{
color: #13dafe;
font-family: helvetica;
font-size: 100%;
text-decoration: none; 
}

.txtstyle1{
color:black;
}
.txtstyle2{
color:#ee851f;
}
.txtstyle3{
color:#4b4b4b;
font-family: helvetica;
font-size: 100%;
}

/* #tbox1{
width: 91%;
margin-left: 34px;
margin-bottom: 16px;
margin-top: 5.5%;
border-radius: 7px;
border-style: solid;
border-color: darkgray;
padding-left: 8px;
padding-top: 2%;
border: 1px solid black;

} */
#tbox1{
margin-top: 1%;
margin-left: 4%;
width: 91%;
flex: none;
}
/* #textbox2{
width: 91%;
margin-left: 34px;
margin-bottom: 16px;
margin-top: -3%;
border-radius: 7px;
border-style: solid;
border-color: darkgray;
padding-left: 8px;
padding-top: 2%;
border: 1px solid black;
} */
#textbox2{
margin-top: 1%;
margin-left: 4%;
width: 91%;
flex: none;
}
#tbox2{
width: 91%;
margin-left: 4%;
}

#tbox3{
margin-top: 1%;
margin-left: 4%;
width: 91%;
flex: none;
}

#box4{
width: 17.1%; 
float: right;
background-color: #13dafe;
border-color: #13dafe;
margin-top: 1%;
margin-right: 5%;
}
.contact-us{
  /* position: absolute; */
  /* height: 1px; */
  margin-top: 2%;
  font-family: Helvetica;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
  width: 18.5vw;
  margin-left: 4%;
font-size: 3vw;
}
.cstyle2{
/* position: absolute; */
height: 5%;
margin-top: 0.5%;
margin-left: 4%;
font-family: helvetica;
font-size: 1.5vw;
width: 53vw;
text-align:justify;
}
.style3{
width: 100%;
height: 31px;
font-size: 1.5vw;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #656565;
}
@media screen and (max-width:991px){
.divcontact1{
  margin-top: 0%;
}
}
@media screen and (max-width:767px){
.divcontact1{
  width: 67%;
}
.cstyle2{
  font-size: 2vw;
}
.style3 {
  font-size: 2vw;
}
.align1, .align2, .align3{
  font-size: 2.5vw;
}
}
@media screen and (max-width:538px){
.divcontact1{
  width: 100%;
  margin-left: 0%;
  margin-top: 21%;
  padding-bottom: 10%;
}
.divsection2{
  margin-left: 4vw;
  width: 93%;
}
 .contact-us{
  width: 26.5vw;
  font-size: 4.5vw;
  margin-top: 6%;
  font-weight: bold;
 }
 .cstyle2 {
  font-size: 4vw;
 }
 .style3 {
  font-size: 4vw;
  height: unset;
  width: 98%;
}
.align1, .align2, .align3{
font-size: 4vw;
margin-top: 0%;
}
#box4{
width: 17vw;
height: 7vw;
font-size: 3vw;
}
}