#passp{
    margin-top: 5%;
    font-size: 2vw;
    color: black;
    text-align: center;
}
#pbalance{
    /* padding-left: 43%;
    padding-top: 2%; */
    text-align: center;
}
#PassWalletbtn{
    color: white;
    background-color: #38ACEC;
    border: none;
    border-radius: 5px;
    padding: 0.5%;
    margin-left: 44%;
    width: 11.5vw;
    margin-top: 1%;
}
#passaddbtn{
    color: white;
}
#passaddbtn:hover{
    color:blue;  
}
#passtable{
    width: 91%;
    margin-left: 5%;
    margin-top: 2%;
    text-align: left;
}
#totalbalance{
    font-size: 1.5vw;
    text-align: center;
}
@media screen and (max-width:991px){
    #passp{
        margin-top: 0%;
        font-size: 2.4vw;
    }
    #totalbalance{
        font-size: 2.4vw;
    }
    #pbalance {
        font-size: 2.5vw;
    }
}
@media screen and (max-width:767px){
    #PassWalletbtn{
        width: 16.5vw;
        margin-left: 42%;
    }
}
@media screen and (max-width:538px){
        #PassWalletbtn {
            width: 23vw;
            margin-left: 40%;
            font-size: 3.5vw;
        }
        #passp{
            margin-top: 0%;
            font-size: 3vw;
        }
        #totalbalance{
            font-size: 2.5vw;
        }
        #pbalance {
            font-size: 3vw;
        }
        .table {
            font-size: 3.2vw;
        }
}