.divcontact1{
  /* position: absolute; */
  /* height: 90%; */
  width: 64.4%;
  background-color: white;
  margin-left: 17.3%;
  margin-right: 18.2%;
  margin-top: 12.6%;
  margin-bottom: 5.5%;
  padding-bottom: 2%;
}

.divsection2{
position: absolute;
margin-left: 625px;
margin-right: 40px;
margin-top: 1%;
margin-bottom: -158px;
}
.align1{
position: absolute;
margin-left: 3%;
margin-top: 5%;


}
.align2{
  /* position: absolute; */
  margin-left: 4%;
  /* margin-right: 67px; */
  margin-top: 2%;
}
.align3{
position: absolute;
margin-left: 37px;
margin-top: -2%;

}

.linkstyle{
color: #13dafe;
font-family: helvetica;
font-size: 14px;
text-decoration: none; 
}

.txtstyle1{
color:black;
}
.txtstyle2{
color:#ee851f;
}
.txtstyle3{
color:#4b4b4b;
font-family: helvetica;
font-size: 14px;
}

.tbox1{
width: 91%;
/* height: 31%; */
margin-left: 34px;
margin-bottom: 16px;
margin-top: 5.5%;
border-radius: 7px;
border-style: solid;
border-color: darkgray;
padding-left: 8px;
padding-top: 2%;
border: 1px solid black;

}
#textbox2{
  width: 91%;
  /* height: 31%; */
  margin-left: 34px;
  margin-bottom: 16px;
  margin-top: -3%;
  border-radius: 7px;
  border-style: solid;
  border-color: darkgray;
  padding-left: 8px;
  padding-top: 2%;
  border: 1px solid black;
}
.tbox2{
  width: 91.8%;
  height: 37.1%;
  margin-left: 34px;
  margin-top: 9px;
  border-radius: 7px;
  border-style: solid;
  border-color: darkgrey;
  border: 1px solid black;
  padding-top: 16%;
}
.tbox3{
  width: 91.8%;
  /* height: 30px; */
  margin-left: 34px;
  margin-bottom: 2px;
  margin-top: 0.5%;
  border-radius: 7px;
  border-style: solid;
  border-color: darkgray;
  padding-left: 7px;
  padding-top: 2%;
  border: 1px solid black;
}

.box3{
  width: 13.1%;
  height: 37px;
  margin-left: 83%;
  margin-top: 1%;
  background-color: #13dafe;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border-radius: 7px;
  border-style: solid;
  color: white;
  border-color: #13dafe;
}


.contact-us{
position: absolute;
height: 27px;
width: 180px;
margin-left: 34px;
margin-top: 6px;
font-family: Helvetica;
font-size: 36px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: var(--black);
}

.style2{
  width: 38%;
  position: absolute;
  height: 5%;
  margin-top: 3.5%;
  margin-left: 3%;
  font-family: helvetica;
  font-size: 12px;
}

.style3{
width: 215px;
height: 31px;
font-family: Helvetica;
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color:#656565;}
