/* .div1{
  position: absolute;
  height:20%;
  width: 84.1%;
  background-color: whitesmoke;
  margin-left: 11.6%;
  margin-top: 25.1%;
  margin-right: 12.4%;
  
}
.button1{
  position: absolute;
  height:26.2%;
  width: 9.2%;
  margin-left: 85.6% ;
  margin-top: -7.6%;
  background-color: white;
  text-align : centre;
  border-color: #38ACEC;
  
  
}
.button2{
  position: absolute;
  height:26.8%;
  width:19.1%;
  background-color: #38ACEC;
  margin-left: 58.4%;
  margin-right: 57.4%;
  margin-top: -4.9%;
  text-align : centre;
  color: white;
  
  

}


.style{
  margin-left: 26%;
  width: 31%;
  margin-top: -3.5%;
  position: absolute;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }

  .style1{
    position: absolute;
    margin-top: 0%;
     margin-left: 10%;
  }
  .style2{
    margin-top: 2%;
    margin-left: 10%;
  }
.styleimg{
  position: absolute;
  margin-top: 3%;
  margin-left: 2%;
  height:28%;
} */

#money{
  margin-left: 1%;
  margin-top: 0%;
  font-size: 15px;
  position: absolute;
}
#wallet-balance{
  margin-left: 1%;
  width: 11%;
  margin-top: 1.5%;
  font-size: 12px;
  position: absolute;
}
#passbook{
  margin-left: 17%;
  position: absolute;
  margin-top: 1%;
  width: 11%;
  border: 3px solid;
  border-left-width: thin;
  border-right-width: thin;
  border-bottom-width: 1px;
  border-color: #38ACEC;
}
#walletBody{
  margin-top:10%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  height: 150px;
}
#showBalance{
  padding-top: 4%;
  padding-left: 4%;
  width: 15%;
  /* background-color: antiquewhite; */
  float: left;
  display: inline;
}
#walletForm{
  /* background-color: aquamarine; */
  float: left;
  width: 48%;
  padding-top: 4%;
}
#addToWallet{
  position: absolute;
  padding-top: 0px;
  width: 30%;
  margin-left: 6%;
  margin-top: 0.4%;
}
#Walletbtn{
  color: white;
  background-color: #38ACEC;
  border: none;
  border-radius: 5px;
  padding: .5%;
  margin-left: 101%;
  width: 33%;
}