#fp{
  color: white;
  /* position: absolute; */
  margin-top: 18.9%;
  margin-left: 29%;
  font-size: 1.5vw;
}
#ful {
  list-style-type: none;
  width: 19vw;
  background-color: black;
  /* position: absolute; */
  height: 20%;
  font-size: 1.5vw;
  margin-top: 1%;
  margin-left: 17%;
}
#ful1 {
  list-style-type: none;
  width: 13vw;
  font-size: 1.5vw;
  background-color: black;
  /* position: absolute; */
  height: 15%;
  margin-left: 21%;
  margin-top: 1%;
  padding-left: 0%;
  padding-bottom: -2%;
  text-decoration: none;
}
#ful #ful1 li a {
  display: block;
  color: #000;
  color:white;
  padding: 7px 10px;
  text-decoration: none;
  /* text-decoration: none; */
}
#footerdiv{
  background-color: black;
  margin-top: 1%;
  width: 100%;
  /* height: 31vw; */
  padding-bottom: 2%;
}
#paymentg{
  color: white;
  /* width: 21%; */
  /* position: absolute; */
  margin-left: 26%;
  margin-top: 19.5%;
  font-size: 1.5vw;
}
#paymentcss{
  color: white;
  width: 22vw;
  /* position: absolute; */
  margin-left: 13%;
  margin-top: 0%;
  font-size: 1.5vw;
  text-align: left;
  /* line-height: 2vw; */
}
#storycss{
  margin-left: 33%;
  margin-top: 28%;
  color: white;
  font-size: 1.5vw;
  /* position: absolute; */
}
#logisticcss{
  margin-left: 17%;
  margin-top: 18%;
  color: white;
  /* position: absolute; */
  font-size: 1.5vw;
}
#storyimg{
  width: 2.5vw;
  height: 2.2vw;
  margin-left: 3%;
  margin-top: 5.3%;
  position: absolute;
}
#footerfbimg{
  width: 2vw;
  height: 2vw;
  margin-left: 3.5%;
  margin-top: 1%;
  /* position: absolute; */
}
#footertwitterimg{
  width: 2vw;
  height: 2vw;
  margin-left: 5%;
  margin-top: 1%;
  /* position: absolute; */
}
#footerinstaimg{
  width: 2vw;
  height: 2vw;
  margin-left: 5%;
  margin-top: 1%;
  /* position: absolute; */
}
#paymentimg{
  width: 2.8vw;
  height: 1.8vw;
  margin-left: 3%;
  margin-top: 4.8%;
  position: absolute;

}
#linksimg{
  width: 2.5vw;
  height: 1.7vw;
  margin-left: 4%;
  margin-top: 5%;
  position: absolute;
}
#footervisaimg{
  width: 2.5vw;
  height: 1.3vw;
  margin-left: 1.6%;
  margin-top: 1%;
  /* position: absolute; */
}
#footermastercardimg{
  width: 2.5vw;
  height: 1.3vw;
  margin-left: 2%;
  margin-top: 1%;
  /* position: absolute; */
}
#footerrupayimg{
  width: 3.5vw;
  height: 1.3vw;
  margin-left: 3%;
  margin-top: 1%;
  /* position: absolute; */
}
#footernetbankimg{
  width: 2.4vw;
  height: 1.3vw;
  margin-left: 2%;
  margin-top: 0.9%;
  /* position: absolute; */
}
#footerwalletimg{
  width: 2vw;
  height: 1.3vw;
  margin-left: 2%;
  margin-top: 0.5%;
  /* position: absolute; */
}
#footerupiimg{
  width: 2.5vw;
  height: 1.3vw;
  margin-left: 2%;
  margin-top: 1%;
  /* position: absolute; */
}
#logisticimg{
  width: 2.5vw;
  height: 2.1vw;
  margin-left: 1%;
  margin-top: 4.8%;
  position: absolute;
}
#delhiveryimg{
  width: 3.5vw;
  margin-left: 15%;
  margin-top: 2%;
    /* position: absolute; */
}
#fedeximg{
  width: 3.5vw;
  margin-left: 8%;
  margin-top: 0%;
  /* position: absolute; */
}
#flexdiv{
  display:flex;
}
#paypalIconFooter{
  padding: 1%;
  width: 64%;
  /*margin-left: 50%; */
}
#paymentFooterIcons{
  display: flex;
  /* justify-content: flex-start; */
  margin-left: 10%;
  /* width: 80%; */
  /* flex-wrap: wrap; */
  justify-content: space-between;

}
#DummyContnet{
  color: #000;
}

@media screen and (max-width: 991px) and (min-width:768px){
  #paypalIconFooter{
    padding: 1%;
    width: 42%;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 767px) and (min-width:538px){
  #paymentFooterIcons{
    width: unset;
    display: flex;
    /* justify-content: flex-start; */
    margin-left: 10%;
    /* width: 80%; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
  
  }
  #paypalIconFooter{
    padding: 1%;
    width: 52%;
    /* margin-bottom: 10%; */
  }
}
@media screen and (max-width:767px){
  #flexdiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 93%;
    height: 65vw;
    align-content: space-between;
  }
  #linksimg {
    width: 3.5vw;
    height: 3vw;
    margin-top: 6%;
    }
  #flexdiv div {
    width: 39vw;
    /* height: 66%; */
  }
  #fp {
    color: white;
    /* position: absolute; */
    margin-top: 15%;
    margin-left: 22%;
    font-size: 2.5vw;
  }
  #ful {
    list-style-type: none;
    width: 33vw;
    background-color: black;
    /* position: absolute; */
    height: unset;
    font-size: 2.5vw;
    margin-top: 1%;
    margin-left: 20%;
}
#storyimg {
  width: 4vw;
  height: 4vw;
  margin-left: 4%;
  margin-top: 6.5%;
}
#storycss {
  margin-left: 22%;
  margin-top: 17%;
  color: white;
  font-size: 2.5vw;
}
#ful1 {
  width: 21vw;
  font-size: 2.5vw;
  margin-left: 20%;
  margin-top: 1%;
}
#paymentimg {
  width: 4.5vw;
  height: 3.5vw;
  margin-top: 4.5%;
  margin-left: 1%;
}
#paymentg {
  margin-left: 18%;
  margin-top: 12%;
  font-size: 2.5vw;
}
#paymentcss {
  width: 38vw;
  margin-top: 0%;
  font-size: 2.5vw;
  margin-left: 16%;
}
#footervisaimg {
  width: 5vw;
  height: 3vw;
  margin-left: 5%;
}
#footermastercardimg {
  width: 5vw;
  height: 3vw;
  margin-left: 3%;
}
#footerrupayimg {
  width: 5vw;
  height: 3vw;
  margin-left: 3%;
}
#footernetbankimg {
  width: 5vw;
  height: 3vw;
  margin-left: 4.3%;
}
#footerwalletimg {
  width: 4vw;
  height: 3vw;
  margin-left: 11%;
}
#footerupiimg{
  width: 5vw;
  height: 3vw;
  margin-left: 11%;
}
#logisticimg {
  width: 4.5vw;
  height: 4.1vw;
  margin-top: 7%;
}
#logisticcss {
  margin-left: 17%;
  margin-top: 18%;
  color: white;
  /* position: absolute; */
  font-size: 2.5vw;
}
#delhiveryimg {
  width: 7.5vw;
  height: 5vw;
  margin-left: 13%;
}
#fedeximg{
  width: 7.5vw;
  height: 5vw;
  margin-left: 13%;
}
#footerfbimg{
  width: 4vw;
  height: 4vw;
}
#footertwitterimg{
  width: 4vw;
  height: 4vw;
}
#footerinstaimg{
  width: 4vw;
  height: 4vw;
}

#DummyContnet{
  color: #000;
}

}

@media screen and (max-width:538px){
  #fedeximg {
    width: 13.5vw;
    height: 6vw;
    margin-left: 13%;
}
#delhiveryimg {
  width: 10.5vw;
  height: 6vw;
  margin-left: 13%;
}
#flexdiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 93%;
  height: 69vw;
  align-content: space-between;
}
#flexdiv div{
  /* height: 68%; */
  width:39vw;
  
}
#paymentg {
  margin-left: 16%;
  margin-top: 11%;
  font-size: 2.5vw;
}
#footervisaimg {
  width: 6vw;
  height: 4vw;
  margin-left: 4%;
}
#footermastercardimg{
  width: 6vw;
  height: 4vw;
  margin-left: 3%;
}
#footernetbankimg {
  width: 6vw;
  height: 4vw;
  margin-left: 4%;
}
#footerwalletimg{
  margin-left: 7%;
}
#footerupiimg{
  margin-left: 9%;
  height: 4vw;
}
#footerrupayimg{
width: 6.5vw;
margin-left: 2%;
height: 4vw;
}
#fp{
  color: white;
  /* position: absolute; */
  margin-top: 12.9%;
  margin-left: 20%;
  font-size: 2.5vw;
}
#storycss{
  margin-left: 20%;
  margin-top: 15.5%;
  color: white;
  font-size: 2.5vw;
}
#logisticcss{
  margin-left: 16%;
  margin-top: 16%;
  color: white;
  /* position: absolute; */
  font-size: 2.5vw;
}

#Last{
  
}

#paymentFooterIcons{
  width: unset;
  display: flex;
  /* justify-content: flex-start; */
  margin-left: 10%;
  /* width: 80%; */
  /* flex-wrap: wrap; */
  justify-content: space-between;

}
#paypalIconFooter{
  /* padding: 1%; */
  width: 60%;
  margin-bottom: 6%;
  margin-left: 2%;
}

}