#book{
    width: 11.6% ;
    padding-bottom: 1% ;
    margin-left: 4% ;
    margin-top: 1% ;
}
#noCart{
    display: none;  
}
#showCart{
    color:black;
    height:200px;
    overflow:auto;
}
#showCartOne{
    color:black;
    /* height:200px; */
    overflow:auto;
}
#title{
    /* position: absolute  ; */
    margin-left: 2%  ;
    /* margin-top: 1.5%  ; */
    font-size: 13px  ;
    width: 45% ;
    /* background-color: aquamarine; */
    float: left;
    /* display: inline; */
    height: 60px;
    overflow: hidden;
}
#quantity{
    /* position: absolute  ; */
    margin-left: 2%  ;
    /* margin-top: 7%  ; */
    /* font-size: 13px  ; */
    width: 47% ;
}
#mrp{
    color:  #5e5d5d;  
    /* position: absolute  ; */
    /* margin-left: 2%  ; */
    /* margin-top: 12%  ; */
    font-size: 13px  ;
    float: unset;
    width: 47% ;
    margin-top: 10%;
    /* background-color: red; */
}
#orgprice{
    margin-top: 12% ; 
    /* margin-left: 9%  ; */
    /* position: absolute  ; */
    /* margin-left: -90%; */
    font-size: 13px ;
    /* padding-left: 1%; */
}
#newprice{
    /* margin-top: 12%  ; */
    /* position: absolute  ; */
    /* margin-left: 18%  ; */
    /* color: #e26127  ; */
    font-size: 13px ;
}
#shipping{
    /* margin-top: 2%  ; */
    margin-left: 27%;
    /* position: absolute  ; */
    font-size: 13px ;
}
#delete{
    width: 3%  ;
    /* position: absolute  ; */
    margin-left: 7%;
    /* margin-top: 9% ; */
}
#delete:hover{
    cursor: pointer;
}
#cartPopupHr{
    width: 94%;
    padding: 0%;
    margin-left: -13%;
    margin-top: 2%;
}
#FirstpartPopupCart{
    /* background-color: rebeccapurple; */
    height: 80px;
}
#span1{
    height: 7%  ;
    width: 12%  ;
    background-color: #b3b3b3  ;
    /* position: absolute  ; */
    margin-left: 8%  ;
    margin-top: 7.2% ;
     cursor: context-menu;
}
#span2{
    padding: 0% 7%; ; cursor: context-menu;

}
#span3{
    padding: 0% 7%;; cursor: context-menu;
}
#span4{
    padding: 0% 7%; ; cursor: context-menu;
}
#cartMsg{
    position: absolute;
    font-size: 79%;
    text-align: center;
    margin-left: 36%;
    margin-top: -3%;
    /* color: red; */
}
#DisplayCartNos{
    background-color: darkblue;

/* border: 14px; */

height: 13px;

width: 6px;

border-radius: 46%;

padding: 0.5%;

padding: 0.15% .5%;
}
#DisplayCartNos:hover{
    cursor: pointer;
}
#popupCartBody{
    /* background-color: #5e5d5d;   */
    /* height:220px; */
    overflow: hidden;
    /* height:90%; */
    /* background-color: coral; */
    /* height: 100px; */
    width: 100%;
    display: inline;

}
#PopupbookDetails{
    /* background-color: darkgoldenrod; */
}
#BookCond{
    font-size: 80%;
    margin-top: 2%;
    /* margin-left:45%; */
    /* position: absolute; */
}
#hdiv{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 136%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid rgba(0,0,0,.2); */
    border-radius: .3rem;
    outline: 0;
}
#checkout{
    color: white;
    background-color: #00baf2;
    /* padding: 1%; */
    border:none;
    font-size: 120%;
    font-weight: bold;
    width: 80%;
    margin-bottom: 3%;
    margin-left: 11%;
    margin-top: 3%;
}
#continueShopingCart{
    color: white;
    background-color: white;
    color: #00baf2;
    /* padding: 1%; */
    border:none;
    font-size: 100%;
    /* font-weight: bold; */
    width: 80%;
    margin-bottom: 3%;
    margin-left: 11%;
    margin-top: 1%;
}