/* #payHeaderP{
    background-color: #00baf2;
    padding: 1% 0%;
    font-size: 150%;
    color: white;
}

#PayAddressArea{
    background-color: blueviolet;
}
#payHeader{
    background-color: #00baf2;
    padding: 1% 0%;
    font-size: 150%;
    color: white;
}
#PayAddress{
    background-color: aqua;
    float: left;
    width: 40%;
    margin-left: 4%;
    margin-top: 4%;
    text-align: initial;
}
#payHeaderS{
    float: right;
    font-size: 100%;
    margin-top: 2%;
}
#PayHomesBtn{
    float: right;
    color: black;
    background-color: white;
    width: 20%;
    margin-top: 4%;
    left: 70%;
    top:10%;
    border: 1px solid #cccccc;
    position: absolute;
    cursor: default;
    
}
#PayEditBtn{
    float: left;
width: 15%;
position: absolute;
top: 28%;
left: 10%;
color: red;
background-color: white;
border: 1px solid #cccccc;
}
#PayAnother{
    margin-top: 20%;
}
#PayAnother:hover{
    cursor: pointer;
}
#payHeaderP2{
    background-color: #00baf2;
    padding: 1% 0%;
    font-size: 150%;
    color: white;
}
#proceedToPayBtn{
    width: 60%;
    margin-left: 20%;
}
#PopupProceedToPayBtn{
    background-color: rgb(0,186,242);
    color: white;
    border: none;
    padding: 1%;
    border-radius: 5px;
} */
@media screen and (min-width: 992px){

#WalletProPay{

margin-left:13%;
margin-top:10%;
}
#NoplWait{
    display: none;
}
#plWait{
    text-align: center;
    color: red;
}
#Payusing1{
    padding: 2%;
    font-size: 78%;
    /* color: rgb(0,186,242); */
}
#Payusing2{
    padding: 2%;
    font-size: 78%;  
    /* color: rgb(0,186,242); */

}
#InPayusing2{
    font-size: 73%;
    color: red;

}
#PayPalOfferImage{
    width: 95%;
}
}   

@media screen and (max-width: 991px) {
    #WalletProPay{

        margin-left:10%;
        margin-top:10%;
        }
        #NoplWait{
            display: none;
        }
        #plWait{
            text-align: center;
            color: red;
        }
        #Payusing1{
            padding: 2%;
            font-size: 78%;
            /* color: rgb(0,186,242); */
        }
        #Payusing2{
            padding: 2%;
            font-size: 78%;  
            /* color: rgb(0,186,242); */
        
        }
        #InPayusing2{
            font-size: 73%;
            color: red;
        
        }
}
@media screen and (max-width:768px) and (min-width:537px){
    #PayPalOfferImage{
        width: 90%;
    }
}
@media screen and (max-width: 537px) {
    #WalletProPay{

        margin:5%;
        margin-top:10%;
        }
        #NoplWait{
            display: none;
        }
        #plWait{
            text-align: center;
            color: red;
        }
        #paypalPart{
            /* width: 90%; */
            padding: 3%;
        }
        #Payusing1{
            padding: 2%;
            font-size: 78%;
            /* color: rgb(0,186,242); */
        }
        #Payusing2{
            padding: 2%;
            font-size: 78%;  
            /* color: rgb(0,186,242); */
        
        }
        #InPayusing2{
            font-size: 73%;
            color: red;
        }

        #PayPalOfferImage{
            width: 90%;
        }
}