/* .div1{
  position: absolute;
  height:20%;
  width: 84.1%;
  background-color: whitesmoke;
  margin-left: 11.6%;
  margin-top: 25.1%;
  margin-right: 12.4%;
  
}
.button1{
  position: absolute;
  height:26.2%;
  width: 9.2%;
  margin-left: 85.6% ;
  margin-top: -7.6%;
  background-color: white;
  text-align : centre;
  border-color: #38ACEC;
  
  
}
.button2{
  position: absolute;
  height:26.8%;
  width:19.1%;
  background-color: #38ACEC;
  margin-left: 58.4%;
  margin-right: 57.4%;
  margin-top: -4.9%;
  text-align : centre;
  color: white;
  
  

}


.style{
  margin-left: 26%;
  width: 31%;
  margin-top: -3.5%;
  position: absolute;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }

  .style1{
    position: absolute;
    margin-top: 0%;
     margin-left: 10%;
  }
  .style2{
    margin-top: 2%;
    margin-left: 10%;
  }
.styleimg{
  position: absolute;
  margin-top: 3%;
  margin-left: 2%;
  height:28%;
} */

#money{
  margin-left: 1%;
  margin-top: 0%;
  font-size: 1.3vw;
  position: absolute;
}
#wallet-balance{
  margin-left: 1%;
  width: 15%;
  margin-top: 1.5%;
  font-size: 1.2vw;
  position: absolute;
}
#passbook{
  margin-left: 13%;
  position: absolute;
  margin-top: 1%;
  width: 11%;
  height: 5%;
  border: 3px solid;
  border-left-width: thin;
  border-right-width: thin;
  border-bottom-width: 1px;
  border-color: #38ACEC;
}
#walletBody{
  margin-top:10%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  height: 150px;
  width: 80vw;
}
#showBalance{
  padding-top: 4%;
  padding-left: 4%;
  width: 21%;
  /* background-color: antiquewhite; */
  float: left;
  display: inline;
  height: 50%;
}
#walletForm{
  /* background-color: aquamarine; */
  float: left;
  width: 48%;
  padding-top: 4%;
}
#addToWallet{
  position: absolute;
  padding-top: 0px;
  width: 30%;
  margin-left: 3%;
  margin-top: 0.8%;
}
#Walletbtn{
  color: white;
  background-color: #38ACEC;
  border: none;
  border-radius: 5px;
  padding: .5%;
  margin-left: 90%;
  width: 14vw;
  font-size: 1.2vw;
  height: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#WalletErr{
  color:red;
  margin-left:10vw;
  font-size:90%;
}
/* tab */
@media screen and (max-width:991px) and (min-width:768px){
  #walletBody{
    margin-top: 5%;
  }
  #walletimg{
    width: 24%;
  }
  #showBalance{
    padding-left: 2%;
    width: 26%;
  }
  #money{
    font-size: 1.6vw;
  }
  #wallet-balance{
    font-size: 1.6vw;
  }
  #addToWallet{
    margin-left: 2%;
    width: 27%;
  }
  #Walletbtn{
    margin-left: 79%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.5vw;
    width: 15vw;
  }
  #passbook{
    margin-left: 8%;
    font-size: 1.7vw;
  }
  #WalletErr{
    color:red;
    margin-left:5vw;
    font-size:90%;
  }
}
/* larger mobile */
@media screen and (max-width:767px) and (min-width:539px){
  #walletBody{
    margin-top: 3%;
    margin-left: 3%;
    width: 94%;
    height: 20vw;
  }
  #walletimg{
    width: 19%;
    margin-top: 3%;
  }
  #showBalance{
    padding-left: 2%;
    width: 26%;
    margin-top: 4%;
  }
  #money{
    font-size: 2vw;
  }
  #wallet-balance{
    font-size: 2vw;
    width: 20%;
    margin-top: 2.5%;
  }
  #addToWallet{
    margin-left: 2%;
    width: 38%;
    margin-top: 5%;
    font-size: 2.2vw;
  }
  #Walletbtn{
    margin-top: 9%;
    margin-left: 96%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2vw;
    width: 23vw;
  }
  #passbook{
    margin-left: 8%;
    font-size: 2vw;
    width: 15vw;
    height: 4vw;
  }
  #WalletErr{
    color:red;
    margin-left:7vw;
    font-size:90%;
  }
}
/* smaller mobile */
@media screen and (max-width:538px){
  #walletBody{
    margin-top: 30%;
    margin-left: 0%;
    width: 100%;
    height: 40vw;
  }
  #walletimg{
    width: 43%;
    margin-top: 3%;
  }
  #showBalance{
    padding-left: 6%;
    width: 26%;
    padding-top: 2%;
  }
  #money{
    font-size: 3.5vw;
  }
  #wallet-balance{
    font-size: 3.5vw;
    width: 34%;
    margin-top: 4%;
  }
  #addToWallet{
    margin-left: -3%;
    width: 53%;
    margin-top: 11%;
    font-size: 3.5vw;
  }
  #Walletbtn{
    margin-top: 45%;
    margin-left: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 3vw;
    width: 40vw;
  }
  #passbook{
    margin-left: 0%;
    font-size: 3vw;
    width: 23vw;
    height: 7.5vw;
    margin-top: 2%;
  }
  #WalletErr{
    color:red;
    margin-left:13vw;
    font-size:50%;
  }
}