#S_static{
    margin-top: 45%;
    padding: 0%;
    /* margin: 0%; */
    height: 417px;
    background-color:black; 
    font-family: 'Helvetica';
    position: absolute;
    width: 100%;
    
}

#S_line{
height: 3%;
background-color: #78693F;
}
#S_text{
    
    background-color: #78693F;
    /* height:6.5%; */
    height: 6%;
    padding: 0%;
    /* padding-bottom: 5%; */
    margin: -.5% 40% 0% 38% ;
    text-align: center;
    vertical-align: middle;
    color: #c5c0c0;
    z-index: 3;
}
#S_text::after{
    position: absolute;
    content: "";
    height: 14px;
    width: 13px;
    background-color:#78693F; 
    transform: rotate(45deg);
    left: 48%;
    margin-top:1.3%; 
}
.circle{
    border-radius: 50%;
    /* background-color: aqua; */
    width: 17%;
    height: 57%;
    float: left;
    margin:3%;
    color: white;
    font-weight: bold;
    /* margin :3% 0% 0% 0%; */
}
/* #imgin_cir1{
    height:50%;
} */
#firstcircle{

     /* background: url("https://raw.githubusercontent.com/MyPustak/version1/master/PICTURE%201.png");  */
     /* background-size: 240px 240px; */

}
#firstcirclep{
    margin-top: 9%;
    margin-left: 8%;
    position: absolute;
}
#secondcircle{

    /* background: url("https://raw.githubusercontent.com/MyPustak/version1/master/PICTURE%203.png");
    background-size: 240px 240px; */
}
#secondcirclep
{
    margin-top: 9%;
    margin-left: 8%;
    position: absolute;
}
#thirdcircle{

 
    /* background: url("https://raw.githubusercontent.com/MyPustak/version1/master/PICTURE%203.png");
    background-size: 240px 240px; */
}
#thirdcirclep{
    margin-top: 9%;
    margin-left: 4%;
    position: absolute;

}
#forthcircle{
    
    background: url("https://raw.githubusercontent.com/MyPustak/version1/master/PICTURE%204.png");
    background-size: 240px 240px;
    width: 18%;
    height: 58%;
}
#forthcirclep{
    margin-top: 9%;
    margin-left: 3%;
    position: absolute;
}
#S_static2{
    margin-top: 3.9%;
    width:100%;
    height: 20%;

}
#ourMission{
    margin-top: 37%;
    position: absolute;
    font-size: 300%;
    /* color: aliceblue; */
}
#quote1up{
    color: #00baf2;
    font-size: 40px;
    margin-left: 40%;
}
#quote1down{
    margin-left: 7%;
    color: white;
    font-size: 60px;
    margin-top: 1%;
    width: 100%;
}
#ourvision{
    color: #00baf2;
    position: absolute;
    font-size: 40px;
    margin-left: 41%;
    margin-top: -18%;
}
#ourvisiondata{
    position: absolute;
    color: white;
    margin-top: -13%;
    font-size: 196%;
    margin-left: 5%;
}
#ourvisiondata2{
margin-left: 10%;
}

#S_static3{
    height: 348px;
    background-color:black; 
    margin-top:-3%; 
    position: relative;
}

#S_line3{
    height: 3%;
    margin-top: 2%;
    /* padding: 0%; */
    background-color: #78693F;

    height: 3%;
background-color: #78693F;
}
#S_text3{
    
    background-color: #78693F;
    /* height:6.5%; */
    height: 6%;
    padding: 0%;
    /* padding-bottom: 5%; */
    margin: -.5% 40% 0% 38% ;
    text-align: center;
    vertical-align: middle;
    color: #c5c0c0;
    z-index: 3;
}
#S_text3::after{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    background-color:#78693F; 
    transform: rotate(45deg);
    left: 48%;
    margin-top:1%; 
}
#S_static3 ul{
    color: white;
    margin-left: 11%;
    font-size: 140%;
    padding: 4%;
}
#S_static5 ul{
    color: white;
    margin-left: 11%;
    font-size: 140%;
    padding: 4%;
}
#S_static4{
    height: 92%;
    width: 100%;
}
#S_static4Img{
width: 100%;
}
#S_line4{
    height: 2%;
    background-color: #78693F;
}
#S_static4Header{
    color: white;
    font-size: 250%;
    /* margin-top: -26%; */
    margin-left: 35%;
    position: absolute;
}
.circle2{
    background-color: aqua;
    width: 17%;
    height: 37%;
    float: left;
    /* margin:3%; */
    margin-top: -35%;
    border-radius: 50%;
    position: absolute;
}
#circle2a{
    margin-left: 6%;
    /* background-image:url('https://raw.githubusercontent.com/MyPustak/version1/master/frontend/donation%202.jpg'); */
    /* background-image:  */
    
}
#circle2b{
    margin-left: 26%;
}
#circle2c{
    margin-left: 46%;
}
#circle2d{
    margin-left: 66%;
}
#circle2pa{
    margin-top:110%;
    margin-left: 20%;
    color: white;
}
#circle2pb{
    margin-top:110%;
    margin-left: 20%;
    color: white;
}
#circle2pc{
    margin-top:110%;
    margin-left: 25%;
    color: white;
}
#circle2pd{
    margin-top:70%;
    margin-left: 20%;
    color: white;
}

#S_static5{
    height: 348px;
    background-color:black; 
    margin-top:5%; 
    position: relative;
}
#S_line5{
    height: 2%;
    background-color: #78693F;
}
#S_text5{
    
    background-color: #78693F;
    /* height:6.5%; */
    height: 6.5%;
    padding: 0%;
    /* padding-bottom: 5%; */
    margin: -.5% 40% 0% 42% ;
    text-align: center;
    vertical-align: middle;
    color: #c5c0c0;
    width: 13%;

}
#S_text5::after{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    background-color:#78693F; 
    transform: rotate(45deg);
    left: 48%;
    margin-top:1%; 
}