#S_static{
    margin-top: 45%;
    padding: 0%;
    /* margin: 0%; */
    height: 417px;
    background-color:black; 
    font-family: 'Helvetica';
    position: absolute;
    width: 100%;
    
}

/* #S_line{
height: 3%;
background-color: #78693F;
} */
/* #S_text{
    
    background-color: #78693F;
    height: 6%;
    padding: 0%;
    margin: -.5% 40% 0% 38% ;
    text-align: center;
    vertical-align: middle;
    color: #c5c0c0;
    z-index: 3;
} */
/* #S_text::after{
    position: absolute;
    content: "";
    height: 14px;
    width: 13px;
    background-color:#78693F; 
    transform: rotate(45deg);
    left: 48%;
    margin-top:1.3%; 
} */
/* .circle{
    border-radius: 50%;
    width: 17%;
    height: 57%;
    float: left;
    margin:3%;
    color: white;
    font-weight: bold;
} */
/* #imgin_cir1{
    height:50%;
} */
/* #firstcircle{

}
#firstcirclep{
    margin-top: 9%;
    margin-left: 8%;
    position: absolute;
} */
/* #secondcircle{
}
#secondcirclep
{
    margin-top: 9%;
    margin-left: 8%;
    position: absolute;
}
#thirdcircle{
}
#thirdcirclep{
    margin-top: 9%;
    margin-left: 4%;
    position: absolute;
} */
/* #forthcircle{
    
    background-size: 240px 240px;
    width: 18%;
    height: 58%;
}
#forthcirclep{
    margin-top: 9%;
    margin-left: 3%;
    position: absolute;
    line-height: 120%;
} */
/* #S_static2{
    margin-top: 3.9%;
    width:100%;
    height: 20%;

} */
/* #ourMission{
    margin-top: 37%;
    position: absolute;
    font-size: 300%;
} */
/* #quote1up{
    color: #00baf2;
    font-size: 40px;
    margin-left: 40%;
} */
/* #quote1down{
    margin-left: 7%;
    color: white;
    font-size: 60px;
    margin-top: 1%;
    width: 100%;
}
#ourvision{
    color: #00baf2;
    position: absolute;
    font-size: 40px;
    margin-left: 41%;
    margin-top: -18%;
}
#ourvisiondata{
    position: absolute;
    color: white;
    margin-top: -13%;
    font-size: 196%;
    margin-left: 5%;
}
#ourvisiondata2{
margin-left: 10%;
} */


#S_static5 ul{
    color: white;
    margin-left: 11%;
    font-size: 2vw;
    padding: 4%;
    padding-top: 1%;
}
#S_static4{
    /* height: 60vh; */
    height: 25vw;
    width: 100%;
    background-image: url("./proud_back.jpg");
    /* margin-top:4%; */
}
#S_static4Img{
width: 100%;
 height: 50vh;
 position: absolute;
}
#S_line4{
    height: 3vh;
    background-color: #78693F;
}
#S_static4Header{
    color: white;
    font-size: 2rem;
    /* margin-top: -26%; */
    text-align: center;
    font-weight: bold;
    /* position: absolute; */
}
.circle2{
    background-color: aqua;
    width: 17%;
    height: 37%;
    float: left;
    /* margin:3%; */
    margin-top: -35%;
    border-radius: 50%;
    position: absolute;
}
#circle2a{
    margin-left: 6%;
    /* background-image:url('https://raw.githubusercontent.com/MyPustak/version1/master/frontend/donation%202.jpg'); */
    /* background-image:  */
    
}
#circle2b{
    margin-left: 26%;
}
#circle2c{
    margin-left: 46%;
}
#circle2d{
    margin-left: 66%;
}
#circle2pa{
    margin-top:110%;
    margin-left: 20%;
    color: white;
}
#circle2pb{
    margin-top:110%;
    margin-left: 20%;
    color: white;
}
#circle2pc{
    margin-top:110%;
    margin-left: 25%;
    color: white;
}
#circle2pd{
    margin-top:70%;
    margin-left: 20%;
    color: white;
}

/* #S_static5{
    height: 348px;
    background-color:black; 
    margin-top:5%; 
    position: relative;
}
#S_line5{
    height: 2%;
    background-color: #78693F;
} */
/* #S_text5{
    
    background-color: #78693F;
    height: 6.5%;
    padding: 0%;
    margin: -.5% 40% 0% 42% ;
    text-align: center;
    vertical-align: middle;
    color: #c5c0c0;
    width: 13%;

}
#S_text5::after{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    background-color:#78693F; 
    transform: rotate(45deg);
    left: 48%;
    margin-top:1%; 
} */
/* ********************NEW CODE*************************** */
#StaticBody{
    background-color: black;
    position: absolute;
    /* margin-top: 46vw; */
    width: 100%;
    height: 59%;    /* or 29vw */
}
#S_line{
    height: 3.5vh;
    background-color: #78693F;
    }
#S_text{
    background-color: #78693F;
    padding: 0%;
    /* margin: -.5% 40% 0% 38%; */
    margin-top: -2vh;
    margin-left: 37vw;
    text-align: center;
    vertical-align: middle;
    color: #c5c0c0;
    z-index: 3;
    font-size: 2.5vw;
    width: 25vw;
    height: 3.5vw;
}
#S_text::after{
    position: absolute;
    content: "";
    background-color:#78693F; 
    transform: rotate(45deg);
    width: 1vw;
    height: 1vw;
    left: 48.8%;
    margin-top: 2.9%;
}
.circle{
    border-radius: 50%;
    width: 17vw;
    height: 57%;
    float: left;
    margin:3%;
    margin-top: 1%;
    color: white;
    font-weight: bold;
}
.circle img{
    width: 22vw;
    margin-left: 8%;
} 
#firstcircle{

}
#firstcirclep{
    margin-top: 8.5%;
    margin-left: 6%;
    position: absolute;
    line-height: 120%;
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
#secondcircle{
    margin-top: 1.5%;
}
#secondcirclep
{
    margin-top: 8.5%;
    margin-left: 7.5%;
    position: absolute;
    /* line-height: 120%; */
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
#thirdcircle{
    margin-top: 1.5%;
}
#thirdcirclep{
    /* margin-top: 8%;
    margin-left: 6%;
    position: absolute;
    font-size: 1.5vw;
    text-align: center; */
    margin-top: 8%;
    margin-left: 4.5%;
    position: absolute;
    line-height: 120%;
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
#forthcircle{
    margin-top: 0.1%;
    background-size: 240px 240px;
    width: 18%;
    height: 58%;
}
#forthcirclep{
    margin-top: 9%;
    margin-left: 3.5%;
    position: absolute;
    line-height: 120%;
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
#S_static2{
    margin-top:  -2.1%;
    width:100%;
    height: 47vw;
}
#ourMission{
    margin-top: 27%;
    font-size: 1rem;
    right: 4%;
    position: absolute;
    font-weight: bold;
}
#quote1up{
    color: #00baf2;
    font-size: 2.5vw;
    margin-left: 37%;
}
#quote1down{
    margin-left: 7%;
    color: white;
    font-size: 3.5vw;
    margin-top: 1%;
    width: 100%;
}
#ourvision{
    color: #00baf2;
    position: absolute;
    font-size: 2.5vw;
    margin-left: 45%;
    margin-top: -25%;
    font-weight: bold;
}
#ourvisiondata{
    color: white;
    margin-top: -21%;
    font-size: 2vw;
    text-align: justify;
    margin-left: 14%;
}
#ourvisiondata2{
margin-left: 10%;
}
#S_static3{
    height: 28vw;
    background-color:black; 
    margin-top:-3%; 
    position: relative;
}

#S_line3{
    height: 3vh;
    margin-top: 5%;
    background-color: #78693F;

    /* height: 3%; */
background-color: #78693F;
}
#S_text3{
    background-color: #78693F;
    padding: 0%;
    /* margin: -.5% 40% 0% 38%; */
    text-align: center;
    vertical-align: middle;
    color: #c5c0c0;
    z-index: 3;
    width: 35vw;
    margin-top: -2vh;
    margin-left: 32.5vw;
    font-size: 2.5vw;
    height: 3.5vw;
}
#S_text3::after{
    position: absolute;
    content: "";
    background-color: #78693F;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 1.2%;
    width: 1vw;
    height: 1vw;
    left: 49%;
    margin-top: 2.9%;
}

#S_static3 ul{
    color: white;
    margin-left: 11%;
    font-size: 2vw;
    padding: 4%;
}
#ProudDonorSlick{
    margin-top: 3%;
    color: white;
    width: 90vw;
    margin-left: 5%;
    /* font-size: 90%; */
}
#SingleProudDonor{
    font-size: 80%;
    margin-left: 20%;
    /* height: 4vh; */
    /* background-color: #00baf2; */
}
#SingleProudDonorName{
    margin-top: .5vh;
    text-align: center;
    font-size: 1.5vw;
    width: 70%;
    margin-left: 1%;

}
    /* margin-left: 20%; */
#SingleProudDonorAddress{
    text-align: center;
    font-size: 1vw;
    width: 17vw;
    /* width: 100%; */
    /* margin-left: 1%; */
}
#S_static5{
    height: 28vw;
    background-color:black; 
    /* margin-top:5%;  */
    position: relative;
}
#S_line5{
    height: 3vh;
    background-color: #78693F;
}
#S_text5{
    background-color: #78693F;
    padding: 0%;
    text-align: center;
    vertical-align: middle;
    color: #c5c0c0;
    z-index: 3;
    width: 18vw;
    margin-top: -2vh;
    font-size: 2.5vw;
    height: 3.5vw;
    margin-left: 41vw;
}
#S_text5::after{
    position: absolute;
    content: "";
    height: 1vw;
    width: 1vw;
    background-color: #78693F;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 49.5%;
    margin-top: 3%;
}
#donatepara{
    font-weight: bold;
    color: #00baf2;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 2%;
}
@media screen and (max-width:991px){
    #StaticBody{
        /* margin-top: 50vw; */
    }
    #S_text3::after{
        margin-top: 2.9%;
    }
    #S_text5::after{
        margin-top: 2.9%;
    }
    #S_static4{
        height: 28vw;
    }
    #SingleProudDonorAddress{
        font-size: 1.3vw;
    }
    .slick-prev, .slick-next {
        top: 11vw;
    }
    .slick-next{
        right: -18px;
    }
}
@media screen and (max-width:767px){
    #StaticBody{
        /* margin-top: 63vw; */
    }
    #S_text{
        margin-left: 39vw;
        font-size: 2.5vw;
        width: 22vw;
        height: 4vw;
    }
    #S_text::after{
        width: 1.5vw;
        height: 1.5vw;
        margin-top: 2.8%;
        left: 49%;
    }
    #S_text3{
        width: 39vw;
        font-size: 2.5vw;
        height: 4vw;
        margin-left: 31vw;
    }
    #S_text3::after{
        width: 1.5vw;
        height: 1.5vw;
        margin-top: 2.9%;
        left: 49%;
    }
    #S_text5{
        width: 26vw;
        font-size: 2.5vw;
        height: 4vw;
        margin-left: 36vw;
    }
    #S_text5::after{
        width: 1.5vw;
        height: 1.5vw;
        margin-top: 2.9%;
        left: 48%;
    }
    #S_static4Header{
        /* margin-left: 28vw; */
        font-size: 5vw;
    }
    #S_static3{
        height: 32vw;
     }
    #S_static4{
        height: 38vw;
    }
    .circle img{
        width: 29vw;
        margin-left: -18%;
    }
    .circle{
        margin: 1%;
    }
    #firstcirclep{
        margin-top: 10.5%;
        margin-left: 4%;
        position: absolute;
        font-size: 1.9vw;
        line-height: unset;
    }
    #secondcircle{
        margin-top: 1.9%;
        margin-left: 7%;    
    }
    #secondcirclep {
        margin-top: 11%;
        margin-left: 5%;
        position: absolute;
        font-size: 1.9vw;
        line-height: 164%;
    }
    #thirdcircle {
        margin-top: 1.9%;
        margin-left: 7%;
    }
    #thirdcirclep {
        margin-top: 10%;
        margin-left: 1%;
        position: absolute;
        font-size: 1.9vw;    
        line-height: unset;
    }
    #forthcircle {
        margin-top: 0%;
        margin-left: 7%;
    }
    #forthcirclep {
        margin-top: 11.5%;
        margin-left: 0%;
        font-size: 1.9vw;
        line-height: unset;
    }
    #SingleProudDonorAddress{
    font-size: 1.8vw;
    }
    #SingleProudDonorName{
        font-size: 2vw;
        width: 76%;
        }
    #ourMission {
        margin-top: 32%;
    }   
    #SingleProudDonor{
        margin-left: 13%;
    }
    #ourvisiondata {
        font-size: 2.5vw;
        text-align: center;
        margin-left: 2%;
    }
    #S_static3 ul{
        font-size: 2.5vw;
    }
    #S_static5 ul{
        font-size: 2.5vw;
    }
    #S_static5{
        height: 30vw;
    }
}
@media screen and (max-width:538px){
    #S_text{
        margin-left: 38vw;
        font-size: 3vw;
        width: 24vw;
        height: 4.5vw;
    }
    #S_text::after {
        width: 1.5vw;
        height: 2vw;
        margin-top: 3.3%;
        left: 49%;
    }
    #S_text3 {
        width: 42vw;
        font-size: 3vw;
        height: 4.5vw;
        margin-left: 28.5vw;
    }
    #S_text3::after {
        width: 1.5vw;
        height: 2vw;
        margin-top: 3.2%;
        left: 48%;
    }
    #S_text5 {
        width: 26vw;
        font-size: 3vw;
        height: 4.5vw;
        margin-left: 35vw;
    }
    #S_text5::after {
        width: 2vw;
        height: 2vw;
        margin-top: 3.3%;
        left: 47%;
    }
    #SingleProudDonorName {
        font-size: 3vw;
        width: 73%;
    }
    #SingleProudDonorAddress {
        font-size: 2.3vw;
        overflow: hidden;
        width: 17.5vw;
    }
    #S_static4{
        height: 50vw;
    }
    .slick-prev, .slick-next {
        top: 19vw;
        width: 3vw;
        height: 3vw;
    }
    .slick-next {
        right: -16px;
    }
    #S_static5 {
        height: 32vw;
    }
    #StaticBody{
        /* position: absolute; */
    }
}