/* #LoginpopupLeft{
    display: none;
}

#BKOffLogin{
    margin:  5% 30% 0% 30%;
}

#DisplayX_none{
    display: none;
}
#LoginPopupBody{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 100%;
    color: black;
}
#SignPopupBody{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 100%;
    color: black;
} */