#maindivision{
    
    display: flex;
    flex-direction: row-reverse;  

}
.input-group{
    position: relative;
    margin: 10px;
   
}

.formcontrol{
    margin:5px;
    margin-bottom: 5%;
    width: 90%;
    height: 35px;
    font-size: 1.5vw;
    font-weight: bold;
    padding-bottom: 3%;
    border:none;
    border-bottom: 1px solid #002e45;
    border-radius: 0px;
    background-color: transparent;
}
label{
        position:absolute;
        top:10px;
        left:6px;
        font-size: 1.3vw;
        color: #002e45;
        transition: all 0.2s ease-out;
    
}
.formcontrol:focus{
    outline: none;
    box-shadow: 0px;
    font-size: 1.5vw;
    font-weight: bold;
    padding-bottom: 3%;
    border-bottom: 2px solid #002e45; 
    transition: all 0.10s ease-out;
}
.formcontrol:focus + label, .class_two{
    top:-15px;
    font-size: 1vw;
}
.class_two + label{
    top:-15px;
    font-size: 1vw;
    color: blue;
}
/* input :valid {
    top:-15px;
    font-size: 1vw;
    background-color: #E26127;
} */
#rightdiv{
    width: 70%;
    margin-top: 15px;
  
}
#errormsg{
    font-family: 'Lato', sans-serif;
    color: red;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}
#forgetdiv{
    width: 60%;
    padding-top:15px;
    
}



#forgpwd{
    position: absolute;
    top:20px;
    left:20vw;
    color:#E26127;
    font-family: 'Lato', sans-serif;
  text-align: right;
  margin-right: 2%;
  font-weight: bold;
  font-size: 1vw;

}
#forgpwd:hover{
    color: #002e45;
    cursor: pointer;
}
#enteremail{
    margin:5px;
    margin-top: 5%;
    font-family: 'Lato', sans-serif;
}
#baklogin{
     align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.3vw;
    padding: 2%;
    color: white;
    border:1px solid #E26127;
    background-color: #E26127;
    border-radius: 5px;
    width: 70%;
    margin-left:14%;
    margin-top: 5%;
    transition: all 0.3s ease-in-out;
    
}

#loginbtn{
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.3vw;
    padding: 2%;
    color: #002e45;
    border:2px solid #E26127;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    margin-left:25%;
    transition: all 0.3s ease-in-out;
}
#loginbtn:hover{
    background-color: #E26127;
    color:white;
}

#signedup{
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.3vw;
    padding: 2%;
    color: #002e45;
    font-weight: bold;
    border:2px solid #E26127;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    margin-left:25%;
    transition: all 0.3s ease-in-out;
}
#signedup:hover{
    background-color: #E26127;
    color:white;
}
#or{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1vw;
    text-align: center;
}
#Google{
    width: 70%;
    
    margin-left:38%;
}
#leftdiv{
    border:none;
    background-color: #002e45;
    width: 30%;
    height: 76vh;
    overflow: hidden;
    border: none;
}
#Lheading{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 2.5vw;
    margin: 25px;
    border: none;
    
}
#subLheading{
    font-family: 'Lato', sans-serif;
    margin-top: 12%;
    font-size: 1.2vw;
    border: none;
}
#signupp{
    color: #E26127;
    font-weight: bold;
    cursor: pointer;
}
#newuser{
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    margin-top: 10%;
    text-align: center;
}

#signupmobile{
    height: -20%;
}
#mobno{
    /* margin:5px; */
    /* margin-top: 5%; */
    font-family: 'Lato', sans-serif;
}

#terms{
    font-family: 'Lato', sans-serif;
    font-size: 0.8vw;
    margin-top: 5%;
    text-align: center;
    color:#002e45;
    font-weight: normal;
}
#exiuser{
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    margin-top: 0;
    text-align: center;
}
#exiuserd{
    margin-top: 2%;
    text-align: center;
}
#errmsg{
    color:red;
    text-align: center;
    font-weight: bold;
    transition: all 1s ease-out;
}
#errmob{
    font-size: 1vw;
    color: red;
}


@media screen and (max-width:991px) and (min-width:768px) {
    .formcontrol{
        /* font-size: 2vw; */
    }
    
    label{
        font-family: 'Lato', sans-serif;
        position:absolute;
        top:15px;
        left:10px;
        font-size: 2vw;
        color: #002e45;
        transition: all 0.2s ease-out;
    
}
.formcontrol:focus + label, .class_two{
    top:-15px;
    font-size: 1.5vw;
}
.class_two + label{
    top:-15px;
    font-size: 1.5vw;
    color: blue;
}
#errormsg{
    font-size: 1.5vw;
}
#forgpwd{
    font-size: 1.5vw;
}
    #Google{
        width: 70%;
        
        margin-left:30%;
    }

    #Lheading{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 2.5vw;
    
        margin: 25px;
        border: none;
        
    }
    #subLheading{
        font-family: 'Lato', sans-serif;
        margin-top: 12%;
        font-size: 1.7vw;
        border: none;
    }
    #terms{
        font-size: 1.2vw;
    }
}

@media screen and (max-width:767px) and (min-width:539px){

    label{
        font-family: 'Lato', sans-serif;
        position:absolute;
        top:15px;
        left:10px;
        font-size: 2vw;
        color: #002e45;
        transition: all 0.2s ease-out;
    
}
.formcontrol:focus + label, .class_two{
    top:-15px;
    font-size: 1.5vw;
}
.class_two + label{
    top:-15px;
    font-size: 1.5vw;
    color: blue;
}
#errormsg{
    font-size: 1.5vw;
}
#forgpwd{
    font-size: 1.5vw;
    margin-right: 2%;
    left:25vw;
}
#Google{
    width: 70%;
    
    margin-left:29%;
}
#baklogin{
    font-size: 1.5vw;
}
#signupp{
    font-size: 2vw;
    cursor: pointer;
}
#newuser{
    font-size: 2vw;
    
}
#terms{
    font-size: 1.3vw;
}
#exiuserd{
    font-size: 2vw;
}
#errmob{
    font-size: 1vw;
    color: red;
}
#subLheading{
    font-size: 1.8vw;
}
}

@media screen and (max-width:538px){
    label{
        
        top:18px;
        left:10px;
        font-size: 2.5vw;
     
    }
    .formcontrol:focus + label, .class_two{
        top:-15px;
        font-size: 2vw;
    }
    .class_two + label{
        top:-15px;
        font-size: 2vw;
        color: blue;
    }

    #forgpwd{
        font-size: 2vw;
        margin-right: 2%;
        left:28vw;
    }
    #Google{
        width: 70%;
        
        margin-left:27%;
    }
    #signupp{
        font-size: 2vw;
        cursor: pointer;
    }
    #newuser{
        font-size: 2vw;
        
    }
    #terms{
        font-size: 1.5vw;
    }
    #exiuserd{
        font-size: 2vw;
    }
    #subLheading{
        font-size: 2vw;
    }
    #leftdiv{
        height: 50vh;
    }
}